<p class="govuk-caption-m">You won't be able to recover it if you delete it.</p>
<div class="buttons-row">
    <form method="post" style="display: inline;" action="{% url 'apply_for_a_licence:delete' draft.id %}">
        {% csrf_token %}
        <button type="submit" class="govuk-button govuk-button--warning govuk-!-margin-right-2">Delete Application</button>
    </form>
    <a href="{% url 'apply_for_a_licence:overview' draft.id %}" onclick="return LITECommon.Modal.closeAllModals()" role="button" draggable="false" class="govuk-button govuk-button--secondary">Cancel</a>
</div>
