<!-- for the future story, currently not in use, don't remove -->
<p class="govuk-caption-m">You won't be able to recover it if you delete it.</p>
<div class="buttons-row">
    <form method="post" style="display: inline;" action="{% url 'cases:delete_document' case.id document.s3_key %}">
        {% csrf_token %}
        <button type="submit" class="govuk-button govuk-button--warning govuk-!-margin-right-2">Delete Document</button>
    </form>
    <a href="{% url 'cases:documents' case.id %}" onclick="return LITECommon.Modal.closeAllModals()" role="button" draggable="false" class="govuk-button govuk-button--secondary">Cancel</a>
</div>
