{% extends 'layouts/base.html' %}

{% block body %}
<h1 class="govuk-heading-l">
	{% block title %}
		Choose document recipient
	{% endblock %}
</h1>

<table class="govuk-table">
	<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<th class="govuk-table__header" scope="col"></th>
			<th class="govuk-table__header" scope="col">Name</th>
			<th class="govuk-table__header" scope="col">Address</th>
			<th class="govuk-table__header" scope="col">Email</th>
			<th class="govuk-table__header" scope="col">Phone number</th>
		</tr>
	</thead>
	<tbody class="govuk-table__body">
		<form method="post" action="{% url 'cases:generate_document_edit' kwargs.queue_pk kwargs.pk kwargs.tpk %}">
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">
					<div class="govuk-radios__item">
						<input class="govuk-radios__input" type="radio" name="addressee" id="applicant" value="applicant" checked>
						<label class="govuk-label govuk-radios__label" for="applicant">
							<span class="govuk-visually-hidden">{{ applicant.name }}</span>
						</label>
					</div>
				</td>
				<td class="govuk-table__cell">{{ applicant.name }}</td>
				<td class="govuk-table__cell"></td>
				<td class="govuk-table__cell">{{ applicant.email }}</td>
				<td class="govuk-table__cell"></td>
			</tr>
			{% for contact in contacts %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" type="radio" name="addressee" id="{{ contact.id }}" value="applicant" checked>
							<label class="govuk-label govuk-radios__label" for="{{ contact.id }}">
								<span class="govuk-visually-hidden">{{ contact.name }}</span>
							</label>
						</div>
					</td>
					<td class="govuk-table__cell">{{ contact.name }}</td>
					<td class="govuk-table__cell">{{ contact.address|linebreaksbr }}</td>
					<td class="govuk-table__cell">{{ contact.email }}</td>
					<td class="govuk-table__cell">{{ contact.phone_number }}</td>
				</tr>
			{% endfor %}
		</form>
	</tbody>
</table>
{% endblock %}
