{% extends 'layouts/base.html' %}

{% block body %}
	<div class="app-letter-preview__container">
		<div class="lite-app-bar">
			<div class="lite-app-bar__content">
				<h1 class="govuk-heading-l">{% block title %}{% lcs 'cases.ApplicationPage.Actions.GENERATE_DOCUMENT' %}{% endblock %}</h1>
			</div>
			<div class="lite-app-bar__controls">
				{% if kwargs.decision_key %}
					<form action="{% url 'cases:finalise_document_create' kwargs.pk kwargs.decision_key kwargs.tpk %}" method="post">
				{% else %}
					<form action="{% url 'cases:generate_document_create' kwargs.pk kwargs.tpk %}" method="post">
				{% endif %}
				{% csrf_token %}
				<input name="text" type="hidden" value="{{ text }}">
				<button class="govuk-button" type="submit">{% lcs 'letter_templates.LetterTemplatesPage.PickTemplate.BUTTON' %}</button>
				</form>
			</div>
		</div>
		<div class="app-letter-preview__page" id="preview">
			{{ preview|safe }}
		</div>
	</div>
{% endblock %}
