{% extends 'layouts/base.html' %}

{% block back_link %}{% endblock %}

{% block body %}
	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h1 class="govuk-heading-l">
				{% block title %}
					{% lcs 'routing_rules.RoutingRulesList.TITLE' %}
				{% endblock %}
			</h1>
		</div>
		<div class="lite-app-bar__controls">
			<a href="{% url 'routing_rules:create' %}" class="govuk-button" draggable="false" role="button" id="create-routing-rule">
				{% lcs 'routing_rules.RoutingRulesList.CREATE_BUTTON' %}
			</a>
		</div>
	</div>

	{% include "filters.html" %}

	{% if data.results %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">{% lcs 'routing_rules.RoutingRulesList.Table.TEAM' %}</th>
					<th class="govuk-table__header" scope="col">{% lcs 'routing_rules.RoutingRulesList.Table.CASE_STATUS' %}</th>
					<th class="govuk-table__header" scope="col">{% lcs 'routing_rules.RoutingRulesList.Table.TIER' %}</th>
					<th class="govuk-table__header" scope="col">{% lcs 'routing_rules.RoutingRulesList.Table.CASE_TYPES' %}</th>
					<th class="govuk-table__header" scope="col">{% lcs 'routing_rules.RoutingRulesList.Table.FLAGS' %}</th>
					<th class="govuk-table__header" scope="col">{% lcs 'routing_rules.RoutingRulesList.Table.COUNTRY' %}</th>
					<th class="govuk-table__header" scope="col">{% lcs 'routing_rules.RoutingRulesList.Table.QUEUE' %}</th>
					<th class="govuk-table__header" scope="col">{% lcs 'routing_rules.RoutingRulesList.Table.USERS' %}</th>
					<th class="govuk-table__header" scope="col">{% lcs 'routing_rules.RoutingRulesList.Table.STATUS' %}</th>
					<th class="govuk-table__header" scope="col">{% lcs 'routing_rules.RoutingRulesList.Table.ACTIONS' %}</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for rule in data.results %}
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<a href="{% url 'teams:team' rule.team.id %}" class="govuk-link govuk-link--no-visited-state">
								{{ rule.team.name }}
							</a>
						</td>
						<td class="govuk-table__cell" id={{ rule.queue.id }}>
							{{ rule.status.value }}
						</td>
						<td class="govuk-table__cell">
							{{ rule.tier }}
						</td>
						<td class="govuk-table__cell">
							{% if rule.case_types %}
								{% for type in rule.case_types %}
									{{ type.reference.value }}
									<br>
								{% endfor %}
							{% else %}
								Not set
							{% endif %}
						</td>
						<td class="govuk-table__cell">
							{% if rule.flags %}
								{% for flag in rule.flags %}
									{% if flag.status == "Active" %}
										{{ flag.name }}
									{% else %}
										<div class="deactivated">{{ flag.name }}</div>
									{% endif %}
									<br>
								{% endfor %}
							{% else %}
								Not set
							{% endif %}
						</td>
						<td class="govuk-table__cell">
							{{ rule.country.name|default:"Not set" }}
						</td>
						<td class="govuk-table__cell" id={{ rule.queue.id }}>
							{{ rule.queue.name }}
						</td>
						<td class="govuk-table__cell">
						{% if rule.user %}
							{% if rule.user.status == "Active" %}
								{{ rule.user.email }}
							{% else %}
								<div class="deactivated">{{ rule.user.email }}</div>
							{% endif %}
						{% else %}
							Not set
						{% endif %}
						</td>
						<td class="govuk-table__cell">
							{% if rule.active %}
								{% lcs 'routing_rules.RoutingRulesList.ACTIVE' %}
							{% else %}
								{% lcs 'routing_rules.RoutingRulesList.DEACTIVATED' %}
							{% endif %}
						</td>
						<td class="govuk-table__cell govuk-table__cell--tight">
							<ul class="govuk-table__cell__actions-list">
								<li class="govuk-table__cell__actions-list-item">
									{% if rule.active == True %}
										<a href="{% url 'routing_rules:change_status' rule.id 'deactivate' %}" role="button" draggable="false" class="govuk-link govuk-link--no-visited-state" id="deactivate">
											{% lcs 'routing_rules.RoutingRulesList.DEACTIVATE' %}
										</a>
									{% elif rule.active == False %}
										<a href="{% url 'routing_rules:change_status' rule.id 'reactivate' %}" role="button" draggable="false" class="govuk-link govuk-link--no-visited-state" id="reactivate">
											{% lcs 'routing_rules.RoutingRulesList.REACTIVATE' %}
										</a>
									{% endif %}
								</li>
								<li class="govuk-table__cell__actions-list-item">
									<a href="{% url 'routing_rules:edit' rule.id %}" class="govuk-link govuk-link--no-visited-state" id="edit">{% lcs 'routing_rules.RoutingRulesList.EDIT' %}</a>
								</li>
							</ul>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		{% include "includes/notice.html" with text='routing_rules.RoutingRulesList.NO_CONTENT_NOTICE' %}
	{% endif %}
	{% if data.total_pages > 1 %}
		<br>
		<div class="lite-pagination__container ">
			{% for i in data.total_pages|times %}
				<a href="{% url 'routing_rules:list' %}?{{ params_str }}&page={{ i }}" class="lite-pagination__item {% if page == i %}lite-pagination__item--selected{% endif %}" id="page-{{ i }}">
					{{ i }}
				</a>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}
