{% extends 'layouts/base.html' %}

{% block back_link %}
	{% include "case/views/includes/breadcrumbs.html" %}
{% endblock %}

{% block body %}
	<h1 class="govuk-heading-xl">{{ title }}</h1>

	<form method="post">
		{% csrf_token %}
		<div class="govuk-form-group">
			{% if title == 'Manage CLC query case' %}
				<label class="govuk-label" for="status">
					CLC Query Status
				</label>
			{% else %}
				<label class="govuk-label" for="status">
					Application Status
				</label>
			{% endif %}
			<select id="status" class="govuk-select" name="status">
				{% for status in statuses %}
					<option value="{{ status }}"
							{% if data.case.application.status == status or data.case.query.status == status %}
								selected
							{% endif %}>
						{{ status|default:"Untitled"|sentence_case }}
					</option>
				{% endfor %}
			</select>
		</div>

		<div class="govuk-form-group">
			<button type="submit" class="govuk-button">Save</button>
		</div>
	</form>
{% endblock %}
