{% extends 'layouts/base.html' %}

{% block back_link %}
	{% include "case/views/includes/breadcrumbs.html" with text="cases.EcjuQueries.TITLE" %}
{% endblock %}

{% block body %}
	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h1 class="govuk-heading-l">
				{% block title %}
					{% lcs "cases.EcjuQueries.TITLE" %}
				{% endblock %}
			</h1>
		</div>
		<div class="lite-app-bar__controls">
			<a role="button" draggable="false" class="govuk-button {% if documents %}govuk-button--secondary{% endif %}" href="{% url 'cases:choose_ecju_query_type' queue.id case.id %}">
				{% lcs 'cases.EcjuQueries.AddQuery.ADD_BUTTON_LABEL' %}
			</a>
		</div>
	</div>

	{% if open_ecju_queries or closed_ecju_queries %}
		{% if open_ecju_queries %}
			<h3 class="govuk-heading-m">{% lcs 'cases.EcjuQueries.OPEN' %}</h3>
			<div class="govuk-accordion" data-module="govuk-accordion">
			{% for query in open_ecju_queries %}
				{% if query.question|length > 200 %}
					<div class="govuk-accordion__section">
						<div class="govuk-accordion__section-header">
							<div class="govuk-accordion__section-heading">
								<div class="govuk-accordion__section-button" id="open-question" >
									{{ query.question|slice:":200" }}...
								</div>
							</div>
							<p class="govuk-label"><b>{{ query.raised_by_user_name }}</b>: {{ query.created_at|str_date }}</p>
						</div>
						<div class="govuk-accordion__section-content">
							<p class='govuk-body' id="open-question-full">
								{{ query.question }} - {{ query.query_type.value }}
							</p>
						</div>
					</div>
				{% else %}
					<div class="govuk-accordion__section-header">
						<span class="govuk-accordion__section-button" id="open-question">
							{{ query.question }} - {{ query.query_type.value }}
						</span>
						<p class="govuk-label"><b>{{ query.raised_by_user_name }}</b>: {{ query.created_at|str_date }}</p>
					</div>
				{% endif %}
			{% endfor %}
			</div>
		{% endif %}
		{% if closed_ecju_queries %}
			<h3 class="govuk-heading-m">{% lcs 'cases.EcjuQueries.CLOSED' %}</h3>
			<div class="govuk-accordion" data-module="govuk-accordion">
			{% for query in closed_ecju_queries %}
				<div class="govuk-accordion__section ">
					<div class="govuk-accordion__section-header">
						<div class="govuk-accordion__section-heading" id="closed-query">
							<div class="govuk-accordion__section-button">
								<div id="closed-question">
									{% if query.question|length > 200 %}
										{{ query.question|slice:":200" }}...
									{% else %}
										{{ query.question }}
									{% endif %}
									<p class="govuk-hint govuk-!-font-size-16">{{ query.raised_by_user_name }}: {{ query.created_at|str_date }}</p>
								</div>
								<div id="closed-answer">
									{% if query.response|length > 200 %}
										{{ query.response|slice:":200" }}...
									{% else %}
										{{ query.response }}
									{% endif %}
									<p class="govuk-hint govuk-!-font-size-16">{{ query.responded_by_user_name }}: {{ query.responded_at|str_date }}</p>
								</div>
						</div>
					</div>
					<div class="govuk-accordion__section-content">
						<p class='govuk-body' id="closed-question-full">{{ query.question }}</p>
						<p class="govuk-hint govuk-!-font-size-16">{{ query.raised_by_user_name }}: {{ query.created_at|str_date }}</p>
						<p class='govuk-body' id="closed-answer-full">{{ query.response }}</p>
						<p class="govuk-hint govuk-!-font-size-16">{{ query.responded_by_user_name }}: {{ query.responded_at|str_date }}</p>
					</div>
				</div>
			{% endfor %}
			</div>
		{% endif %}
	{% else %}
		<p class="govuk-caption-l">{% lcs 'cases.EcjuQueries.CASE_HAS_NO_QUERIES' %}</p>
	{% endif %}
{% endblock %}
