<h3 class="govuk-heading-m">{% lcs 'CASE_GOODS_LOCATION' %}</h3>
<table class="govuk-table" id="hmrc-goods-location">
	<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<th scope="col" class="govuk-table__header govuk-!-width-one-third">{% lcs 'CASE_GOODS_LOCATION_NAME' %}</th>
			<th scope="col" class="govuk-table__header govuk-!-width-two-thirds">{% lcs 'CASE_GOODS_LOCATION_ADDRESS' %}</th>
		</tr>
	</thead>
	<tbody class="govuk-table__body">
		<tr class="govuk-table__row">
			{% for location in case.application.goods_locations.data %}
				<th scope="row" class="govuk-table__header">{{ location.name }}</th>
				<td class="govuk-table__cell">{{ location|get_address }}</td>
			{% endfor %}
		</tr>
	</tbody>
</table>
