<h3 class="govuk-heading-m">Destinations</h3>
{% if show_advice %}
	<table class="govuk-table" id="countries">
		<thead class="govuk-table__head">
			<tr class="govuk-table__row">
				<th class="govuk-table__header" scope="col">Country</th>
				<th class="govuk-table__header" style="width: 350px;">Advice</th>
			</tr>
		</thead>
		<tbody class="govuk-table__body">
			{% for country in case.application.destinations.data %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">
						<div class="govuk-checkboxes govuk-checkboxes--small">
							{% if show_checkboxes %}<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" type="checkbox" name="countries" value="{{ country.id }}" id="{{ country.id }}"> {% endif %}
							<label class="govuk-label {% if show_checkboxes %}govuk-checkboxes__label{% endif %}" for="{{ country.id }}">{{ country.name }}
                                <span class="app-country-tag" style="margin-right: 10px">
                                    {{ country.id }}
                                </span>
                                {% for good in case.application.goods_types %}
                                    {% if good.countries %}
                                        {% if country in good.countries %}
                                            {% if good.control_code %}
                                                <span class="app-country-tag app-country-tag--orange">{{ good.control_code }}</span>
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                        <span class="app-country-tag app-country-tag--orange">{{ good.control_code }}</span>
                                    {% endif %}
                                {% endfor %}
                            </label>
						{% if show_checkboxes %}</div>{% endif %}
						</div>
					</td>
					<td class="govuk-table__cell">
						{% for advice in all_advice %}
							{% if advice.country == country.id %}
								{% include 'case/views/table-advice.html' %}
							{% endif %}
						{% endfor %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<div class="app-wrappable-list">
		{% for country_group in case.application.destinations.data|group_list:4 %}
			<div class="app-wrappable-list__group govuk-checkboxes govuk-checkboxes--small">
				{% for country in country_group %}
					<div class="app-wrappable-list__item">
						{% if show_checkboxes %}<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" type="checkbox" name="countries" value="{{ country.id }}" id="{{ country.id }}"> {% endif %}
							<label class="govuk-label {% if show_checkboxes %}govuk-checkboxes__label{% endif %}" for="{{ country.id }}">{{ country.name }}
                                <span class="app-country-tag" style="margin-right: 10px">
                                    {{ country.id }}
                                </span>
                                {% for good in case.application.goods_types %}
                                    {% if good.countries %}
                                        {% if country in good.countries %}
                                            {% if good.control_code %}
                                                <span class="app-country-tag app-country-tag--orange">{{ good.control_code }}</span>
                                            {% endif %}
                                        {% endif %}
                                    {% elif good.control_code %}
                                        <span class="app-country-tag app-country-tag--orange">{{ good.control_code }}</span>
                                    {% endif %}
                                {% endfor %}
                            </label>
						{% if show_checkboxes %}</div>{% endif %}
					</div>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
{% endif %}