<dl class="govuk-summary-list">
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">
			{% lcs 'cases.QueryPage.CREATED_AT_SUMMARY' %}
		</dt>
		<dd class="govuk-summary-list__value">
			{{ case.query.created_at|str_date }}
		</dd>
	</div>
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">
			{% lcs 'cases.QueryPage.UPDATED_AT_SUMMARY' %}
		</dt>
		<dd class="govuk-summary-list__value">
			{{ case.query.updated_at|str_date }}
		</dd>
	</div>
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">
			{% lcs 'cases.QueryPage.STATUS_SUMMARY' %}
		</dt>
		<dd class="govuk-summary-list__value">
			{{ case.query.status.value }}
		</dd>
	</div>
</dl>
