<dl class="govuk-summary-list">
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">
			Created at
		</dt>
		<dd class="govuk-summary-list__value">
			{{ case.query.created_at|str_date }}
		</dd>
	</div>
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">
			Updated at
		</dt>
		<dd class="govuk-summary-list__value">
			{{ case.query.updated_at|str_date }}
		</dd>
	</div>
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">
			Status
		</dt>
		<dd class="govuk-summary-list__value">
			{{ case.query.status.value }}
		</dd>
	</div>
</dl>
