<div class="app-advice">
	<div class="app-advice__user">
		<p class="govuk-body-s">
			{% if case.application.case_type.sub_type.key == 'open' %}
				{% lcs 'cases.AdvicePage.Table.REJECT' %}
			{% else %}
				{{ advice.type.value }}
			{% endif %}
			{% lcs 'cases.AdvicePage.Table.ADVICE_BY' %} <a class="govuk-link govuk-link--no-visited-state" href="{% url 'users:user' advice.user.id %}">
			{{ advice.user.first_name }} {{ advice.user.last_name }} </a> {% lcs 'cases.AdvicePage.Table.AT' %} {{ advice.created_at|str_date }}:
		</p>
	</div>
	{% if advice.type.key == 'conflicting' %}
		<div class="govuk-form-group--error">
	{% else %}
		<div>
	{% endif %}
		<div class="app-advice__details">
			{% if advice.type.key == 'proviso' %}
				<p class="govuk-heading-s">{% lcs 'cases.AdvicePage.PROVISO_TITLE' %}</p>
				<p class="govuk-body-s">{{ advice.proviso|default_na }}</p>
			{% endif %}

			{% if advice.type.key == 'refuse' %}
				<p class="govuk-heading-s">{% lcs 'cases.AdvicePage.DENIAL_REASONS_TITLE' %}</p>
				{% for denial_reason in advice.denial_reasons %}
					<p class="govuk-body-s">{{ denial_reason }}</p>
				{% endfor %}
			{% endif %}

			{% if advice.type.key == 'conflicting' %}
				{% if advice.proviso|length %}
					<p class="govuk-heading-s">{% lcs 'cases.AdvicePage.PROVISO_TITLE' %}</p>
					<p class="govuk-body-s">{{ advice.proviso|default_na }}</p>
				{% endif %}
				{% if advice.denial_reasons|length %}
				<p class="govuk-heading-s">{% lcs 'cases.AdvicePage.DENIAL_REASONS_TITLE' %}</p>
					{% for denial_reason in advice.denial_reasons %}
						<p class="govuk-body-s">{{ denial_reason }}</p>
					{% endfor %}
				{% endif %}
			{% endif %}

			{% if advice.collated_pv_grading %}
				<p class="govuk-heading-s">{% lcs 'cases.AdvicePage.GRADING_TITLE' %}</p>
				<p class="govuk-body-s">{{ advice.collated_pv_grading }}</p>
			{% elif advice.pv_grading %}
				<p class="govuk-heading-s">{% lcs 'cases.AdvicePage.GRADING_TITLE' %}</p>
				<p class="govuk-body-s">{{ advice.pv_grading.value }}</p>
			{% endif %}

			<p class="govuk-heading-s">{% lcs 'cases.AdvicePage.REASON_FOR_ADVICE_TITLE' %}</p>
			<p class="govuk-body-s">{{ advice.text|default_na }}</p>

			<p class="govuk-heading-s">{% lcs 'cases.AdvicePage.NOTE_TO_APPLICANT_TITLE' %}</p>
			<p class="govuk-body-s">{{ advice.note|default_na }}</p>
		</div>
	</div>
</div>
