<h2 class="govuk-heading-m">{{ case.destinations|length }} destination{{ case.destinations|pluralize }}</h2>

{% if not hide_controls %}
	<form action="{% url 'cases:assign_destination_flags' queue.id case.id %}" method="get">
		<button id="button-edit-destinations-flags" class="govuk-button" data-module="govuk-button">
			{% lcs 'cases.ApplicationPage.EDIT_DESTINATION_FLAGS' %}
		</button>
{% endif %}

{% if case.application.destinations.data %}
	{% if case.application.destinations.type == 'end_user' %}
		<table id="table-goods" class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					{% if not hide_checkboxes %}
						<th scope="col" class="govuk-table__header">
							<button id="link-select-all-destinations" type="button" name="button" class="lite-button-checkbox" title="{% lcs 'cases.ApplicationPage.Parties.SELECT_ALL' %}"></button>
						</th>
					{% endif %}
					<th scope="col" class="govuk-table__header">Type</th>
					<th scope="col" class="govuk-table__header">Name</th>
					<th scope="col" class="govuk-table__header">Address</th>
					<th scope="col" class="govuk-table__header">Business</th>
					<th scope="col" class="govuk-table__header">Website</th>
					<th scope="col" class="govuk-table__header">Documents</th>
					<th scope="col" class="govuk-table__header">Flags</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for destination in case.destinations %}
					<tr class="govuk-table__row">
						{% if not hide_checkboxes %}
							<td class="govuk-table__cell govuk-table__cell--checkbox {% if show_advice %}lite-!-no-border{% endif %}">
								<input class="govuk-checkboxes__input" type="checkbox" name="destinations" value="{{ destination.id }}" id="{{ destination.id }}">
								<label class="govuk-label govuk-checkboxes__label" for="{{ destination.id }}"></label>
							</td>
						{% endif %}
						<th scope="row" class="govuk-table__header {% if show_advice %}lite-!-no-border{% endif %}">{{ destination.type }}</th>
						<td class="govuk-table__cell {% if show_advice %}lite-!-no-border{% endif %}">{{ destination.name }}</td>
						<td class="govuk-table__cell {% if show_advice %}lite-!-no-border{% endif %}">{{ destination|get_address }}</td>
						<td class="govuk-table__cell {% if show_advice %}lite-!-no-border{% endif %}">{{ destination.sub_type.value }}</td>
						<td class="govuk-table__cell {% if show_advice %}lite-!-no-border{% endif %}">{{ destination.website|linkify }}</td>
						<td class="govuk-table__cell {% if show_advice %}lite-!-no-border{% endif %}">
							{% if destination.document %}
								<a class="govuk-link" href="{% url 'cases:document' queue.id case.id destination.document.id %}">
									{{ destination.document.name }}
								</a>
							{% endif %}
						</td>
						<td class="govuk-table__cell {% if show_advice %}lite-!-no-border{% endif %}">
							{% include 'includes/flags.html' with flags=destination.flags list=True %}
						</td>
					</tr>
					{% if show_advice %}
						{% include 'includes/advice.html' with id=destination.id %}
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<table id="table-goods" class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					{% if not hide_checkboxes %}
						<th scope="col" class="govuk-table__header">
							<button id="link-select-all-destinations" type="button" name="button" class="lite-button-checkbox" title="{% lcs 'cases.ApplicationPage.Parties.SELECT_ALL' %}"></button>
						</th>
					{% endif %}
					<th scope="col" class="govuk-table__header">#</th>
					<th scope="col" class="govuk-table__header">Country</th>
					<th scope="col" class="govuk-table__header">Country code</th>
					<th scope="col" class="govuk-table__header">Goods</th>
					<th scope="col" class="govuk-table__header">Flags</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for destination in case.application.destinations.data %}
					<tr class="govuk-table__row">
						{% if not hide_checkboxes %}
							<td class="govuk-table__cell govuk-table__cell--checkbox {% if show_advice %}lite-!-no-border{% endif %}">
								<input class="govuk-checkboxes__input" type="checkbox" name="countries" value="{{ destination.id }}" id="{{ destination.id }}">
								<label class="govuk-label govuk-checkboxes__label" for="{{ destination.id }}"></label>
							</td>
						{% endif %}
						<td class="govuk-table__cell govuk-table__cell--line-number {% if show_advice %}lite-!-no-border{% endif %}">{{ forloop.counter }}.</td>
						<td class="govuk-table__cell {% if show_advice %}lite-!-no-border{% endif %}">{{ destination.name }}</td>
						<td class="govuk-table__cell {% if show_advice %}lite-!-no-border{% endif %}">{{ destination.id }}</td>
						<td class="govuk-table__cell govuk-table__cell--max-width-400 {% if show_advice %}lite-!-no-border{% endif %}">
							<span data-max-length="100">
								{% for good in case.goods %}
									{% for good_country in good.countries %}
										{% if good_country.id == destination.id %}
											{{ forloop.counter }}. {{ good.description }}
										{% endif %}
									{% endfor %}
								{% endfor %}
							</span>
						</td>
						<td class="govuk-table__cell {% if show_advice %}lite-!-no-border{% endif %}">
							{% include 'includes/flags.html' with flags=destination.flags list=True %}
						</td>
					</tr>
					{% if show_advice %}
						{% include 'includes/advice.html' with id=destination.id %}
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endif %}

{% if not hide_controls %}
	</form>
{% endif %}
