{% if case.application.destinations.data %}
	{% if case.application.destinations.type == 'end_user' %}
		<table id="table-goods" class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">Type</th>
					<th scope="col" class="govuk-table__header">Name</th>
					<th scope="col" class="govuk-table__header">Address</th>
					<th scope="col" class="govuk-table__header">Website</th>
					<th scope="col" class="govuk-table__header">Business</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<td class="govuk-table__header">End user</td>
					<td class="govuk-table__cell">{{ case.application.destinations.data.name }}</td>
					<td class="govuk-table__cell">{{ case.application.destinations.data|get_address }}</td>
					<td class="govuk-table__cell">{{ case.application.destinations.data.website }}</td>
					<td class="govuk-table__cell">{{ case.application.destinations.data.sub_type.value }}</td>
				</tr>
			</tbody>
		</table>
	{% else %}
		<table id="table-goods" class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">#</th>
					<th scope="col" class="govuk-table__header">Country</th>
					<th scope="col" class="govuk-table__header">Country code</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for destination in case.application.destinations.data %}
					<tr class="govuk-table__row">
						<td class="govuk-table__cell govuk-table__cell--line-number">{{ forloop.counter }}.</td>
						<td class="govuk-table__cell">{{ destination.name }}</td>
						<td class="govuk-table__cell">{{ destination.id }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endif %}
