<table class="govuk-table" id="end-use-details">
	<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<th class="govuk-table__header">{% lcs 'cases.ApplicationPage.EndUseDetails.NUMBER_COLUMN' %}</th>
			<th class="govuk-table__header">{% lcs 'cases.ApplicationPage.EndUseDetails.DESCRIPTION_COLUMN' %}</th>
			<th class="govuk-table__header">{% lcs 'cases.ApplicationPage.EndUseDetails.ANSWER_COLUMN' %}</th>
		</tr>
	</thead>
	<tbody class="govuk-table__body">
		<tr class="govuk-table__row">
			<td class="govuk-table__cell govuk-table__cell--line-number">
				1.
			</td>
			<td class="govuk-table__cell govuk-!-font-weight-bold">
				{% lcs 'cases.ApplicationPage.EndUseDetails.INTENDED_END_USE_TITLE' %}
			</td>
			<td class="govuk-table__cell">
				{{ case.application.intended_end_use }}
			</td>
		</tr>
		<tr class="govuk-table__row">
			<td class="govuk-table__cell govuk-table__cell--line-number">
				2.
			</td>
			<td class="govuk-table__cell govuk-!-font-weight-bold">
				{% lcs 'cases.ApplicationPage.EndUseDetails.INFORMED_TO_APPLY_TITLE' %}
			</td>
			<td class="govuk-table__cell">
				<p class="govuk-body govuk-!-margin-bottom-1">{{ case.application.is_military_end_use_controls|friendly_boolean }}</p>
				<p class="govuk-hint govuk-!-margin-0" data-max-length="200">{{ case.application.military_end_use_controls_ref }}</p>
			</td>
		</tr>
		<tr class="govuk-table__row">
			<td class="govuk-table__cell govuk-table__cell--line-number">
				3.
			</td>
			<td class="govuk-table__cell govuk-!-font-weight-bold">
				{% lcs 'cases.ApplicationPage.EndUseDetails.INFORMED_WMD_TITLE' %}
			</td>
			<td class="govuk-table__cell">
				<p class="govuk-body govuk-!-margin-bottom-1">{{ case.application.is_informed_wmd|friendly_boolean }}</p>
				<p class="govuk-hint govuk-!-margin-0" data-max-length="200">{{ case.application.informed_wmd_ref }}</p>
			</td>
		</tr>
		<tr class="govuk-table__row">
			<td class="govuk-table__cell govuk-table__cell--line-number">
				4.
			</td>
			<td class="govuk-table__cell govuk-!-font-weight-bold">
				{% lcs 'cases.ApplicationPage.EndUseDetails.SUSPECTED_WMD_TITLE' %}
			</td>
			<td class="govuk-table__cell">
				<p class="govuk-body govuk-!-margin-bottom-1">{{ case.application.is_suspected_wmd|friendly_boolean }}</p>
				<p class="govuk-hint govuk-!-margin-0" data-max-length="200">{{ case.application.suspected_wmd_ref }}</p>
			</td>
		</tr>
	</tbody>
</table>
