{% if case.application.goods %}
	<h2 class="govuk-heading-m">{{ case.application.goods|length }} good{{ case.application.goods|pluralize }}</h2>
	<table id="table-goods" class="govuk-table">
		<thead class="govuk-table__head">
			<tr class="govuk-table__row">
				<th scope="col" class="govuk-table__header">
					<button id="link-select-all-destinations" type="button" name="button" class="lite-button-checkbox" title="{% lcs 'cases.ApplicationPage.Parties.SELECT_ALL' %}"></button>
				</th>
				<th scope="col" class="govuk-table__header">#</th>
				<th scope="col" class="govuk-table__header">Description</th>
				<th scope="col" class="govuk-table__header">Controlled</th>
				<th scope="col" class="govuk-table__header">Control list entries</th>
				<th scope="col" class="govuk-table__header">Incorporated</th>
				<th scope="col" class="govuk-table__header">Flags</th>
			</tr>
		</thead>
		<tbody class="govuk-table__body">
			{% for good in case.application.goods %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell govuk-table__cell--checkbox">
						<input class="govuk-checkboxes__input" type="checkbox" name="destinations" value="{{ case.application.consignee.id }}" id="{{ case.application.consignee.id }}">
						<label class="govuk-label govuk-checkboxes__label" for="{{ case.application.consignee.id }}"></label>
					</td>
					<td class="govuk-table__cell govuk-table__cell--line-number">{{ forloop.counter }}.</td>
					<td class="govuk-table__cell">{{ good.good.description }}</td>
					<td class="govuk-table__cell">{{ good.is_good_controlled|friendly_boolean }}</td>
					<td class="govuk-table__cell">
						{% include 'includes/control-list-entries.html' with control_list_entries=good.control_list_entries %}
					</td>
					<td class="govuk-table__cell">{{ good.is_good_incorporated|friendly_boolean }}</td>
					<td class="govuk-table__cell">
						{% include 'includes/flags.html' with flags=good.flags list=True %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}
{% if case.application.goods_types %}
	<h2 class="govuk-heading-m">{{ case.application.goods_types|length }} good{{ case.application.goods_types|pluralize }}</h2>
	<table id="table-goods" class="govuk-table">
		<thead class="govuk-table__head">
			<tr class="govuk-table__row">
				<th scope="col" class="govuk-table__header">
					<button id="link-select-all-destinations" type="button" name="button" class="lite-button-checkbox" title="{% lcs 'cases.ApplicationPage.Parties.SELECT_ALL' %}"></button>
				</th>
				<th scope="col" class="govuk-table__header">#</th>
				<th scope="col" class="govuk-table__header">Description</th>
				<th scope="col" class="govuk-table__header">Controlled</th>
				<th scope="col" class="govuk-table__header">Control list entries</th>
				<th scope="col" class="govuk-table__header">Incorporated</th>
				<th scope="col" class="govuk-table__header">Flags</th>
			</tr>
		</thead>
		<tbody class="govuk-table__body">
			{% for good in case.application.goods_types %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell govuk-table__cell--checkbox">
						<input class="govuk-checkboxes__input" type="checkbox" name="destinations" value="{{ case.application.consignee.id }}" id="{{ case.application.consignee.id }}">
						<label class="govuk-label govuk-checkboxes__label" for="{{ case.application.consignee.id }}"></label>
					</td>
					<td class="govuk-table__cell govuk-table__cell--line-number">{{ forloop.counter }}.</td>
					<td class="govuk-table__cell">{{ good.description }}</td>
					<td class="govuk-table__cell">{{ good.is_good_controlled|friendly_boolean }}</td>
					<td class="govuk-table__cell">
						{% include 'includes/control-list-entries.html' with control_list_entries=good.control_list_entries %}
					</td>
					<td class="govuk-table__cell">{{ good.is_good_incorporated|friendly_boolean }}</td>
					<td class="govuk-table__cell">
						{% include 'includes/flags.html' with flags=good.flags list=True %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}
