{% if case.application.application_denial_reason %}
	<h2 class="govuk-heading-m">{% lcs 'cases.HMRCPage.DenialReasons.TITLE' %}</h2>
	{% for reason in case.application.application_denial_reason %}
		<p class="govuk-heading-s">{% lcs 'cases.HMRCPage.DenialReasons.REASON' %}</p>
		{% for reason_id in reason.reasons %}
			<p class="govuk-label">{{ reason_id.id }}</p>
		{% endfor %}
		{% if reason.reason_details %}
			<br />
			<p class="govuk-heading-s">{% lcs 'cases.HMRCPage.DenialReasons.FURTHER_INFO' %}</p>
			<p class="govuk-label">{{ reason.reason_details }}</p>
		{% endif %}
	{% endfor %}
{% endif %}
