{% if case.data.goods_locations %}
	<h2 class="govuk-heading-m">{{ case.data.goods_locations.data|length }} location{{ case.data.goods_locations.data|pluralize }}</h2>

	<table class="govuk-table">
		<thead class="govuk-table__head">
			<tr class="govuk-table__row">
				<th scope="col" class="govuk-table__header govuk-!-width-one-third">{% lcs 'cases.ApplicationPage.Goods.CASE_GOODS_LOCATION_NAME' %}</th>
				<th scope="col" class="govuk-table__header govuk-!-width-two-thirds">{% lcs 'cases.ApplicationPage.Goods.CASE_GOODS_LOCATION_ADDRESS' %}</th>
			</tr>
		</thead>
		<tbody class="govuk-table__body">
			<tr class="govuk-table__row">
				{% for location in case.data.goods_locations.data %}
					<th scope="row" class="govuk-table__header">{{ location.name }}</th>
					<td class="govuk-table__cell">{{ location|get_address }}</td>
				{% endfor %}
			</tr>
		</tbody>
	</table>
{% endif %}
