{% with destinations=case.open_app_parties %}
	{% if destinations %}
		<h2 class="govuk-heading-m">{{ destinations|length }} entit{{ destinations|pluralize:"y,ies" }}</h2>
		<table id="table-destinations-end-user" class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">Type</th>
					<th scope="col" class="govuk-table__header">{% lcs 'cases.ApplicationPage.Parties.NAME' %}</th>
					<th scope="col" class="govuk-table__header">{% lcs 'cases.ApplicationPage.Parties.ADDRESS' %}</th>
					<th scope="col" class="govuk-table__header">{% lcs 'cases.ApplicationPage.Parties.BUSINESS' %}</th>
					<th scope="col" class="govuk-table__header">{% lcs 'cases.ApplicationPage.Parties.WEBSITE' %}</th>
					<th scope="col" class="govuk-table__header">{% lcs 'cases.ApplicationPage.Parties.FLAGS' %}</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for destination in destinations %}
					<tr class="govuk-table__row">
						<td class="govuk-table__cell {% if show_advice %}lite-!-no-border{% endif %}">{{ destination.type|sentence_case }}</td>
						<td class="govuk-table__cell {% if show_advice %}lite-!-no-border{% endif %}">{{ destination.name }}</td>
						<td class="govuk-table__cell {% if show_advice %}lite-!-no-border{% endif %}">{{ destination|get_address }}</td>
						<td class="govuk-table__cell {% if show_advice %}lite-!-no-border{% endif %}">{{ destination.sub_type.value }}</td>
						<td class="govuk-table__cell {% if show_advice %}lite-!-no-border{% endif %}">{{ destination.website|linkify }}</td>
						<td class="govuk-table__cell {% if show_advice %}lite-!-no-border{% endif %}">
							{% include 'includes/flags.html' with flags=destination.flags list=True %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{% if not hide_controls %}
			</form>
		{% endif %}
	{% endif %}
{% endwith %}
