<h2 class="govuk-heading-m">Site</h2>
<dl class="app-case__summary-list">
	<div class="app-case__summary-list__row">
		<dt class="app-case__summary-list__key">
			Name
		</dt>
		<dd class="app-case__summary-list__value">
			{{ case.data.site.name }}
		</dd>
	</div>
	<div class="app-case__summary-list__row">
		<dt class="app-case__summary-list__key">
			Address
		</dt>
		<dd class="app-case__summary-list__value">
			{{ case.data.site|get_address }}
		</dd>
	</div>
</dl>

<br><br><br>

<h2 class="govuk-heading-m">{{ case.case_type.reference.value }}</h2>
<dl class="app-case__summary-list">
	<div class="app-case__summary-list__row">
		<dt class="app-case__summary-list__key">
			Name
		</dt>
		<dd class="app-case__summary-list__value">
			{{ case.data.open_general_licence.name }}
		</dd>
	</div>
	<div class="app-case__summary-list__row">
		<dt class="app-case__summary-list__key">
			Description
		</dt>
		<dd class="app-case__summary-list__value">
			{{ case.data.open_general_licence.description }}
		</dd>
	</div>
	<div class="app-case__summary-list__row">
		<dt class="app-case__summary-list__key">
			Control list entries
		</dt>
		<dd class="app-case__summary-list__value">
			<span data-definition-title="{{ case.data.open_general_licence.case_type.reference.value }} ({{ case.data.open_general_licence.name }})" data-definition-subtitle="{{ case.data.open_general_licence.control_list_entries|length }} control list entr{{ case.data.open_general_licence.control_list_entries|pluralize:'y,ies' }}" data-definition-list="{% for clc in case.data.open_general_licence.control_list_entries %}{{ clc.rating }}{% if not forloop.last %}, {% endif %}{% endfor %}">
				{{ case.data.open_general_licence.control_list_entries|length }}
				{{ case.data.open_general_licence.control_list_entries|lcsp:'open_general_licences.List.Table.CONTROL_LIST_ENTRIES' }}
			</span>
		</dd>
	</div>
	<div class="app-case__summary-list__row">
		<dt class="app-case__summary-list__key">
			Countries
		</dt>
		<dd class="app-case__summary-list__value">
			<span data-definition-title="{{ case.data.open_general_licence.case_type.reference.value }} ({{ case.data.open_general_licence.name }})" data-definition-subtitle="{{ case.data.open_general_licence.countries|length }} countr{{ case.data.open_general_licence.countries|pluralize:'y,ies' }}" data-definition-list="{% for country in case.data.open_general_licence.countries %}{{ country.name }}{% if not forloop.last %}, {% endif %}{% endfor %}">
				{{ case.data.open_general_licence.countries|length }}
				{{ case.data.open_general_licence.countries|lcsp:'open_general_licences.List.Table.COUNTRIES' }}
			</span>
		</dd>
	</div>
	<div class="app-case__summary-list__row">
		<dt class="app-case__summary-list__key">
			More information
		</dt>
		<dd class="app-case__summary-list__value">
			{{ case.data.open_general_licence.url|linkify }}
		</dd>
	</div>
</dl>

<br><br><br>

<a class="govuk-link govuk-link--no-visited-state" href="{% url 'open_general_licences:open_general_licence' case.data.open_general_licence.id %}?return_to={{ CURRENT_PATH }}&return_to_text={{ case.reference_code }}">View on LITE</a>
