<dl class="app-case__summary-list">
	{% if case.data.name %}
		<div class="app-case__summary-list__row">
			<dt class="app-case__summary-list__key">
				Exporter reference
			</dt>
			<dd class="app-case__summary-list__value">
				{{ case.data.name }}
			</dd>
		</div>
	{% endif %}
	{% if case.application.hmrc_organisation %}
		<div class="app-case__summary-list__row">
			<dt class="app-case__summary-list__key">
				{% lcs 'cases.HMRCPage.Heading.RAISED_BY' %}
			</dt>
			<dd class="app-case__summary-list__value">
				<a id="hmrc_organisation" class="govuk-link govuk-link--no-visited-state" href="{% url 'organisations:organisation' case.application.hmrc_organisation.id %}?return_to={{ CURRENT_PATH }}&return_to_text={{ case.reference_code }}">{{ case.application.hmrc_organisation.name }}</a>
			</dd>
		</div>
	{% endif %}
	{% if case.data.export_type %}
		<div class="app-case__summary-list__row">
			<dt class="app-case__summary-list__key">
				Export type
			</dt>
			<dd class="app-case__summary-list__value">
				{{ case.data.export_type.value }}
			</dd>
		</div>
	{% endif %}
	<div class="app-case__summary-list__row">
		<dt class="app-case__summary-list__key">
			Submitted at
		</dt>
		<dd class="app-case__summary-list__value">
			{{ case.data.submitted_at }}
		</dd>
		<dd class="app-case__summary-list__actions"></dd>
	</div>
	<div class="app-case__summary-list__row">
		<dt class="app-case__summary-list__key">
			Status
		</dt>
		<dd class="app-case__summary-list__value">
			{{ case.data.status.value }}
		</dd>
		<dd class="app-case__summary-list__actions">
			{% if permissible_statuses %}
				{% if not status_is_terminal or 'REOPEN_CLOSED_CASES' in permissions %}
					<a class="govuk-link govuk-link--no-visited-state" href="{% url 'cases:manage' queue.id case.id %}">
						Change
					</a>
				{% endif %}
			{% endif %}
		</dd>
	</div>
	<div class="app-case__summary-list__row">
		<dt class="app-case__summary-list__key">
			Asssigned queues
		</dt>
		<dd class="app-case__summary-list__value">
			{% if case.queue_names %}
				<ol class="govuk-list govuk-!-margin-0">
					{% for queue_name in case.queue_names %}
						<li>{{ queue_name }}</li>
					{% endfor %}
				</ol>
			{% else %}
				<span class="govuk-hint govuk-!-margin-0">Not assigned to any queues</span>
			{% endif %}
		</dd>
		<dd class="app-case__summary-list__actions">
			<a class="govuk-link govuk-link--no-visited-state" href="{% url 'cases:move' queue.id case.id %}">
				Change
			</a>
		</dd>
	</div>
	<div class="app-case__summary-list__row">
		<dt class="app-case__summary-list__key">
			Type
		</dt>
		<dd class="app-case__summary-list__value">
			{{ case.case_type.reference.value }}
		</dd>
		<dd class="app-case__summary-list__actions"></dd>
	</div>
	<div class="app-case__summary-list__row">
		<dt class="app-case__summary-list__key">
			Last updated
		</dt>
		<dd class="app-case__summary-list__value">
			{{ case.data.updated_at|str_date }}
		</dd>
		<dd class="app-case__summary-list__actions"></dd>
	</div>
	<div class="app-case__summary-list__row">
		<dt class="app-case__summary-list__key">
			Case officer
		</dt>
		<dd class="app-case__summary-list__value">
			{% if case.case_officer %}
				<a class="govuk-link govuk-link--no-visited-state" href="{% url 'users:user' case.case_officer.id %}?return_to={{ CURRENT_PATH }}&return_to_text={{ case.reference_code }}">{{ case.case_officer.first_name }} {{ case.case_officer.last_name }}</a>
			{% else %}
				<span class="govuk-hint govuk-!-margin-0">Not assigned</span>
			{% endif %}
		</dd>
		<dd class="app-case__summary-list__actions">
			<a class="govuk-link govuk-link--no-visited-state" href="{% url 'cases:case_officer' queue.id case.id %}">
				Change
			</a>
		</dd>
	</div>
	<div class="app-case__summary-list__row">
		<dt class="app-case__summary-list__key">
			Assigned users
		</dt>
		<dd class="app-case__summary-list__value">
			{% for queue_name, users in case.assigned_users.items %}
				<span class="govuk-label">{{ queue_name }}</span>
				<ol class="govuk-list govuk-!-margin-0">
					{% for user in users %}
						<li>
							<a href="{% url 'users:user' user.id %}?return_to={{ CURRENT_PATH }}&return_to_text={{ case.reference_code }}" class="govuk-link govuk-link--no-visited-state">{{ user.first_name }} {{ user.last_name }}</a>
						</li>
					{% endfor %}
				</ol>
			{% empty %}
				<span class="govuk-hint govuk-!-margin-0">{% lcs 'cases.ApplicationPage.NO_USERS_ASSIGNED' %}</span>
			{% endfor %}
		</dd>
		<dd class="app-case__summary-list__actions">
			<a class="govuk-link govuk-link--no-visited-state" href="{% url 'cases:assign_user' queue.id case.id %}">
				Change
			</a>
		</dd>
	</div>
	{% if case.application.case_type.sub_type.key == 'f680_clearance' %}
		<div class="app-case__summary-list__row">
			<dt class="app-case__summary-list__key">
				Security grading
			</dt>
			<dd class="app-case__summary-list__value">
				{{ case.application.clearance_level.value }}
			</dd>
		</div>
		<div class="app-case__summary-list__row">
			<dt class="app-case__summary-list__key">
				Clearance types
			</dt>
			<dd class="app-case__summary-list__value">
				{% if case.application.types %}
					<ol class="govuk-list govuk-!-margin-0">
						{% for clearance_type in case.application.types %}
							<li>{{ clearance_type.name.value|default_na }}</li>
						{% endfor %}
					</ol>
				{% endif %}
			</dd>
		</div>
	{% endif %}
</dl>
