<table {% if first_page %}id="first-page-table"{% endif %}>
  <!--
    Table is broken up into 12 evenly-spaced columns.
    Cell width is controlled by colspan attributes on cells.
   -->
  <tr class="set-width-hack">
    {% for i in '123456789012'|make_list %}
      <td></td>
    {% endfor %}
  </tr>
  <tr>
    <td class="border-top-black padding-none align-centre" rowspan="999">
      {% if first_page %}
        <div class="text-large border-left-black border-bottom-black">1</div>
        <div class="sidebar-cell text-large border-left-black border-bottom-black bold uppercase">
          <div class="rotate">Licence</div>
        </div>
        <div class="text-large border-left-black border-bottom-black">1</div>
      {% else %}
        <div class="text-large border-left-black border-bottom-black">1<br>DIT</div>
        <div class="sidebar-cell text-large border-left-black border-bottom-black bold uppercase">
          <div class="rotate">Licence</div>
        </div>
      {% endif %}
    </td>
    <td class="border-black" rowspan="{% if first_page %}4{% else %}3{% endif %}" colspan="5">
      <span class="cell__heading">1. Exporter</span>
      <span class="cell__uppercase">{{ applicant.name }}<br>
      {{ applicant.primary_site.address.address_line_1 }}<br>
      {% if applicant.primary_site.address.address_line_2 %}{{ applicant.primary_site.address.address_line_2 }}<br>{% endif %}
      {{ applicant.primary_site.address.postcode }}<br>
      {{ applicant.primary_site.address.city }}<br>
      {{ applicant.primary_site.address.region }}<br>
      {{ applicant.primary_site.address.country.name }}</span>
    </td>
    <td class="border-black" colspan="3">
      <span class="cell__heading">2. Licence number</span>
      <span class="cell__uppercase">TBC</span>
    </td>
    <td class="border-black" colspan="3">
      <span class="cell__heading">3a. Commencement date</span>
      <span class="cell__uppercase">TBC</span>
    </td>
  </tr>
  <tr>
    <td class="border-black" colspan="3">
      <span class="cell__heading">2a. Application number</span>
      <span class="cell__uppercase">TBC</span>
    </td>
    <td class="border-black" colspan="3">
      <span class="cell__heading">3b. Expiry date</span>
      <span class="cell__uppercase">TBC</span>
    </td>
    </tr>
  <tr>
    <td class="border-black" colspan="6">
      <span class="cell__heading">2b. Applicant reference</span>
      <span class="cell__uppercase">TBC</span>
    </td>
  </tr>
  {% if first_page %}
    <tr>
      <td class="border-black" colspan="6">
        <span class="cell__heading">4. Exporter contact details</span>
        <span class="cell__uppercase">TBC</span>
      </td>
    </tr>
  {% endif %}
