[submodule "lite-content"]
	path = lite-content
	url = https://github.com/uktrade/lite-content.git
[submodule "assets/shared"]
	path = assets/shared
	url = https://github.com/uktrade/lite-shared-assets.git
