[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
allure-pytest = "<2.7"
allure-python-commons = "<2.7"
bandit = "<1.7"
black = "==19.10b0"
faker = "<4.1"
lite-linter = "~=0.1"
pytest = "<5.2"
pytest-html = "<2.1"
pytest_bdd = "<3.2"
selenium = "<3.2"
prospector = "<1.2"
pytest-rerunfailures = "<8.1"
pytest-xdist = "<1.4"
raven = "<6.11"

[packages]
bleach = "<3.2"
boto3 = "<1.12"
Django = "<2.3"
django-compressor = "<2.3"
django-csp = "<3.7"
django-environ = "<0.5"
django-inline-svg = "<0.2"
django-markdownx = "<3.1"
django-sass-processor = "<0.8"
django-storages = "<1.9"  # Need to fix this version because 1.9 removes support for boto
libsass = "<0.19"
psycopg2 = "<2.9"
python-json-logger = "<0.2"
raven = "<6.11"
requests = "<2.22"
requests-oauthlib = "<1.4"
gunicorn = "<20.1"
s3chunkuploader = "<0.9"
whitenoise = "<5.1"

[requires]
python_version = "3.7"
