[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
libsass = "==0.18.0"
pytest = "~=5.1.2"
pytest_bdd = "==3.1.0"
selenium = "==3.141.0"
allure-pytest = "==2.6.1"
allure-python-commons = "==2.6.1"
pytest-html = "*"
pytest-xdist = "*"
black = "==19.10b0"

[packages]
Django = "==2.2.4"
django-compressor = "==2.2"
django-environ = "==0.4.5"
django-sass-processor = "==0.7.2"
libsass = "==0.18.0"
psycopg2 = "==2.8.2"
python-json-logger = "==0.1.11"
requests = "==2.21.0"
stringcase = "==1.2.0"
django-inline-svg = "*"
requests-oauthlib = "*"
s3chunkuploader = "*"
boto3 = ">=1.9"
prospector = "*"
django-markdownx = "*"
django-csp = "*"
bandit = "*"
bleach = "*"
gunicorn = "*"
whitenoise = "*"
raven = "*"

[requires]
python_version = "3.7"
