{% extends 'layouts/base.html' %}

{% load static %}

{% block back_link %}
	<div class="govuk-breadcrumbs">
		<ol class="govuk-breadcrumbs__list">
			<li class="govuk-breadcrumbs__list-item">
				<a class="govuk-breadcrumbs__link" href="{% url 'cases:cases' %}?queue={{ queue.queue.id }}">{% if queue_name %}{{ queue_name }}{% else %}{% lcs 'QUEUE_ALL_CASES' %}{% endif %}</a>
			</li>
			<li class="govuk-breadcrumbs__list-item" aria-current="page">&nbsp;</li>
		</ol>
	</div>
{% endblock %}

{% block body %}
    {% if case.query.good.status.key == 'verified' %}
		<div class="lite-info-bar lite-info-bar--no-animation {% if message.tags %}lite-info-bar--{{ message.tags }}{% endif %}">
			{% lcs 'CASES.ApplicationPage.CLOSED' %}
		</div>
	{% endif %}

    {% if case.audit_notification %}
        <a id="audit-notification" class="lite-info-bar lite-info-bar--link lite-info-bar--no-animation" href="#case-activity-{{ case.audit_notification.audit_id }}">
            {% lcs 'CASE_CHANGES' %}
        </a>
    {% endif %}

	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<p class="govuk-caption-m">{{ case.type.value }} by <a class="govuk-link govuk-link--no-visited-state" style="display: inline-block;" href="{% url 'organisations:organisation' case.query.organisation.id %}">{{ case.query.organisation.name }}</a></p>
			<h2 class="govuk-heading-l">{% block title %}{{ case.query.id|reference_code }}{% endblock %}</h2>
		</div>
			<div class="lite-app-bar__controls">
			{% if case.query.good.status.key != 'verified' and 'REVIEW_GOODS' in permissions and not status_is_terminal %}
				<a role="button" draggable="false" id="respond" class="govuk-button" href="{% url 'cases:respond_to_clc_query' case.id %}">
					{% lcs 'CASES.ApplicationPage.RESPOND_BUTTON' %}
				</a>
			{% endif %}
			<div class="app-more-actions__container {% if case.query.good.status != 'final' %}app-more-actions__container--secondary{% endif %}">
				<a role="button" draggable="false" class="govuk-button" href="{% url 'cases:documents' case.id %}">
		      	    {% lcs 'CASES.ApplicationPage.Actions.DOCUMENT' %}
				</a>
				<a role="button" draggable="false" class="govuk-button" href="{% url 'cases:ecju_queries' case.id %}">
					{% lcs 'Cases.EcjuQueries.TITLE' %}
				</a>
                <a role="button" draggable="false" class="govuk-button" href="{% url 'cases:move' case.id %}">
					{% lcs 'Cases.Manage.MoveCase.BUTTON' %}
				</a>
                <a role="button" draggable="false" class="govuk-button" id="generate-document" href="{% url 'cases:generate_document' case.id %}">
					{% lcs 'CASES.ApplicationPage.Actions.GENERATE_DOCUMENT' %}
				</a>
                {% if not status_is_terminal or 'REOPEN_CLOSED_CASES' in permissions %}
                <a role="button" draggable="false" class="govuk-button" href="{% url 'cases:manage' case.id %}">
                    {% lcs 'CASES.EndUserAdvisoriesPage.Actions.CHANGE_STATUS' %}
                </a>
                {% endif %}
                <a role="button" draggable="false" class="govuk-button" id="case-officer" href="{% url 'cases:case_officer' case.id %}">
                    {% lcs 'CASES.ApplicationPage.Actions.CASE_OFFICER' %}
                </a>
			</div>
		</div>
	</div>

    {% if case.case_officer %}
        <p class="govuk-caption-m">{% lcs 'CASES.ApplicationPage.CASE_OFFICER' %} <a class="govuk-link govuk-link--no-visited-state" href="{% url 'users:user' case.case_officer.id %}">{{ case.case_officer|username }}</a></p>
    {% else %}
        <p class="govuk-caption-m">{% lcs 'CASES.ApplicationPage.NO_CASE_OFFICER' %}</p>
    {% endif %}

	<!-- Case flags -->
	{% include 'case/views/case-flags.html' %}

	<br><br>

	{% if case.query.good.status.key == 'verified' %}
		<div class="govuk-!-width-two-thirds">
			<div class="app-panel app-panel--info">
				<h3 class="govuk-heading-m">{% lcs 'CASES.ClcQuery.Verified.OUTCOME' %}</h3>

				<hr>

				<h4 class="govuk-heading-s">{% lcs 'CASES.ClcQuery.Verified.CONTROLLED' %}</h4>
				<p class="govuk-body-m">{{ good.is_good_controlled|friendly_boolean }}</p>

				<h4 class="govuk-heading-s">{% lcs 'CASES.ClcQuery.Verified.CONTROL_CODE' %}</h4>
				<p class="govuk-body-m">{{ good.control_code|default_na }}</p>

				<h4 class="govuk-heading-s">{% lcs 'CASES.ClcQuery.Verified.REPORT' %}</h4>
				<p class="govuk-body-m">{{ case.query.good.report_summary|default_na }}</p>

				<h4 class="govuk-heading-s">{% lcs 'CASES.ClcQuery.Verified.COMMENT' %}</h4>
				<p class="govuk-body-m">{{ case.query.good.comment|default_na }}</p>
			</div>
		</div>

		<br><br>
	{% endif %}

	<h3 class="govuk-heading-m">{% lcs 'CASES.ClcQuery.GoodDetails.TITLE' %}</h3>
	<div class="govuk-!-width-two-thirds">
		<dl class="govuk-summary-list">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
                    {% lcs 'CASES.ClcQuery.GoodDetails.DESCRIPTION' %}
				</dt>
				<dd class="govuk-summary-list__value">
					{{ good.description }}
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
                    {% lcs 'CASES.ClcQuery.GoodDetails.CONTROLLED' %}
				</dt>
				<dd class="govuk-summary-list__value">
					{{ good.is_good_controlled|capfirst }}
				</dd>
			</div>
			<div class="govuk-summary-list__row">
			{% if good.is_good_controlled != 'Unsure' %}
				<dt class="govuk-summary-list__key">
                    {% lcs 'CASES.ClcQuery.GoodDetails.CONTROL_CODE' %}
				</dt>
            {% else %}
                <dt class="govuk-summary-list__key">
                    {% lcs 'CASES.ClcQuery.GoodDetails.EXPECTED_CONTROL_CODE' %}
				</dt>
			{% endif %}
				<dd class="govuk-summary-list__value">
					{{ good.control_code|default:"N/A" }}
				</dd>
			</div>
            <div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
                    {% lcs 'CASES.ClcQuery.GoodDetails.REASON' %}
				</dt>
				<dd class="govuk-summary-list__value">
					{{ case.query.details|default_na }}
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
                    {% lcs 'CASES.ClcQuery.GoodDetails.PART_NUMBER' %}
				</dt>
				<dd class="govuk-summary-list__value">
					{{ good.part_number|default_na }}
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
                    {% lcs 'CASES.ClcQuery.GoodDetails.FLAGS' %}
				</dt>
				<dd class="govuk-summary-list__value">
					{% include 'case/views/goods-flags.html' with origin='case' %}
				</dd>
			</div>
		</dl>

		<!-- Query Details -->
		{% if data.case.query.details %}
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-full">
					<p class="lite-heading-s">{% lcs 'CASES.ClcQuery.GoodDetails.QUERY_TEXT' %}</p>
					<p class="govuk-label">
						{{ data.case.query.details }}
					</p>
				</div>
			</div>
		{% endif %}

		<br><br>

		<h3 class="govuk-heading-m">{% lcs 'CASES.ClcQuery.Documents.TITLE' %}</h3>
		{% if case.query.good.documents %}
			<dl class="govuk-summary-list">
				{% for document in case.query.good.documents %}
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							{{ document.name }}
						</dt>
						<dd class="govuk-summary-list__value">
							{% if document.safe == True %}
								<a class="govuk-link lite-link--icon govuk-link--no-visited-state" href="{% url 'cases:document' case.id document.id %}">
									{% lcs 'CASES.ClcQuery.Documents.DOWNLOAD' %}
								</a>
							{% elif document.safe == False %}
								{% lcs 'Cases.Manage.Documents.VIRUS_INFECTED' %}
							{% else %}
								{% lcs 'Cases.Manage.Documents.PROCESSING' %}
							{% endif %}
						</dd>
					</div>
				{% endfor %}
			</dl>
		{% else %}
			{% include "includes/information-text.html" with text='This good has no documents attached' %}
			<br><br>
		{% endif %}

		<br><br>

		{% include "case/views/activity.html" %}

	</div>

{% endblock %}

{% block javascript %}
	<script src="{% static 'javascripts/more-actions.js' %}"></script>
{% endblock %}
