{% extends 'layouts/two-pane.html' %}

{% block back_link %}{% endblock %}

{% block two_thirds %}
	<h1 class="govuk-heading-l">{% lcs 'cases.ClcResponseOverview.TITLE' %}</h1>

	<p class="govuk-body-m">{% lcs 'cases.ClcResponseOverview.WARNING' %}</p>

	<br>

	<form action="{% url 'cases:respond_to_clc_query' queue.id case.id %}" method="post">

		{% hidden_field 'is_good_controlled' data.is_good_controlled %}
		{% hidden_field 'control_code' data.control_code%}
		{% hidden_field 'report_summary' data.report_summary %}
		{% hidden_field 'comment' data.comment %}

		{% csrf_token %}

		<h4 class="govuk-heading-s">{{ case.reference_code }}</h4>
		<div class="app-summary-list app-inset-text">
			<div class="app-summary-list__item">
				<p class="govuk-caption-m">{% lcs 'cases.ClcResponseOverview.Details.DESCRIPTION' %}</p>
				<p class="govuk-body-m">{{ case.query.good.description }}</p>
			</div>

			<div class="app-summary-list__item">
				<p class="govuk-caption-m">{% lcs 'cases.ClcResponseOverview.Details.CONTROL_LIST_ENTRY' %}</p>
				<p class="govuk-body-m">{{ case.query.good.control_code|default_na }}</p>
			</div>

			<div class="app-summary-list__item">
				<p class="govuk-caption-m">{% lcs 'cases.ClcResponseOverview.Details.PART_NUMBER' %}</p>
				<p class="govuk-body-m">{{ case.query.good.part_number }}</p>
			</div>

			<div class="app-summary-list__item">
				<p class="govuk-caption-m">{% lcs 'cases.ClcResponseOverview.Details.Flags.FLAGS' %}</p>
				<div class="app-flags">
					{% for flag in case.query.good.flags %}
						<div class="app-flag" id="{{ flag.name }}">
							{{ flag.name }}
						</div>
					{% endfor %}
					<button class="lite-button--link" type="submit" name="action" value="set-flags">
						{% if case.query.good.flags %}
							{% lcs 'cases.ClcResponseOverview.Details.Flags.EDIT' %}
						{% else %}
							{% lcs 'cases.ClcResponseOverview.Details.Flags.SET' %}
						{% endif %}
					</button>
				</div>
			</div>

			<div class="app-summary-list__item">
				<p class="govuk-caption-m">{% lcs 'cases.ClcResponseOverview.Details.Documents.DOCUMENTS' %}</p>
				{% for document in case.query.good.documents %}
					<div>
						<a href="#" class="govuk-link govuk-body-m">
							{% if document.safe == True %}
								<a class="govuk-link govuk-link--no-visited-state" href="{% url 'cases:document' queue.id case.id document.id %}">
									<span class="govuk-visually-hidden">{% lcs 'cases.ClcResponseOverview.Details.Documents.DOWNLOAD' %}</span> {{ document.name }}
								</a>
							{% elif document.safe == False %}
								{% lcs 'cases.Manage.Documents.VIRUS_INFECTED' %} {{ document.name }}
							{% else %}
								{% lcs 'cases.Manage.Documents.PROCESSING' %} {{ document.name }}
							{% endif %}
						</a>
					</div>
				{% empty %}
					<p class="govuk-body-m">{% lcs 'cases.ClcResponseOverview.Details.Documents.NONE' %}</p>
				{% endfor %}
			</div>
		</div>

		<br>

		<h4 class="govuk-heading-s">{% lcs 'cases.ClcResponseOverview.Response.TITLE' %}</h4>
		<div class="app-summary-list app-inset-text">
			<div class="app-summary-list__item">
				<p class="govuk-caption-m">{% lcs 'cases.ClcResponseOverview.Response.CONTROLLED' %}</p>
				<p class="govuk-body-m">{{ data.is_good_controlled }}</p>
			</div>

			{% if data.control_code %}
				<div class="app-summary-list__item">
					<p class="govuk-caption-m">{% lcs 'cases.ClcResponseOverview.Response.CONTROL_LIST_ENTRY' %}</p>
					<p class="govuk-body-m">{{ data.control_code }}</p>
				</div>
			{% endif %}

			<div class="app-summary-list__item">
				<p class="govuk-caption-m">{% lcs 'cases.ClcResponseOverview.Response.REPORT_SUMMARY' %}</p>
				<p class="govuk-body-m">{{ report_summary.name }}</p>
				<br>
				<p class="govuk-body-m">{{ report_summary.text }}</p>
			</div>

			<div class="app-summary-list__item">
				<p class="govuk-caption-m">{% lcs 'cases.ClcResponseOverview.Response.COMMENT' %}</p>
				<p class="govuk-body-m">{{ data.comment }}</p>
			</div>
		</div>

		<br><br>

		<div class="lite-buttons-row">
			<button type="submit" id="submit-response" name="action" value="submit" class="govuk-button">{% lcs 'cases.ClcResponseOverview.SUBMIT' %}</button>
			<button type="submit" id="change-response" name="action" value="change" class="govuk-button govuk-button--secondary">{% lcs 'cases.ClcResponseOverview.CHANGE' %}</button>
		</div>
	</form>
{% endblock %}
