{% extends 'layouts/base.html' %}

{% load static %}

{% block back_link %}
	<div class="govuk-breadcrumbs">
		<ol class="govuk-breadcrumbs__list">
			<li class="govuk-breadcrumbs__list-item">
				<a class="govuk-breadcrumbs__link" href="{% url 'cases:cases' %}?queue={{ queue.queue.id }}">{% if queue_name %}{{ queue_name }}{% else %}{% lcs 'QUEUE_ALL_CASES' %}{% endif %}</a>
			</li>
			<li class="govuk-breadcrumbs__list-item" aria-current="page">&nbsp;</li>
		</ol>
	</div>
{% endblock %}

{% block body %}
    {% if case.audit_notification %}
        <a id="audit-notification" class="lite-info-bar lite-info-bar--link lite-info-bar--no-animation" href="#case-activity-{{ case.audit_notification.audit_id }}">
            {% lcs 'CASE_CHANGES' %}
        </a>
    {% endif %}

	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<p class="govuk-caption-m" style="margin: 0;">{{ case.type.value }} by <a class="govuk-link govuk-link--no-visited-state" style="display: inline-block;" href="{% url 'organisations:organisation' case.query.organisation.id %}">{{ case.query.organisation.name }}</a></p>
			<h2 class="govuk-heading-l">{{ case.query.id|reference_code }}</h2>
		</div>
		<div class="lite-app-bar__controls">
			<div class="app-more-actions__container">
				<a role="button" draggable="false" class="govuk-button" href="{% url 'cases:documents' case.id %}">
			      	{% lcs 'CASES.EndUserAdvisoriesPage.Actions.DOCUMENT' %}
				</a>
				<a role="button" draggable="false" class="govuk-button" href="{% url 'cases:ecju_queries' case.id %}">
					{% lcs 'CASES.ApplicationPage.Actions.ECJU' %}
				</a>
				<a role="button" draggable="false" class="govuk-button" href="{% url 'cases:move' case.id %}">
					{% lcs 'CASES.EndUserAdvisoriesPage.Actions.MOVE' %}
				</a>
                {% if not status_is_terminal or 'REOPEN_CLOSED_CASES' in permissions %}
                <a role="button" draggable="false" class="govuk-button" href="{% url 'cases:manage' case.id %}">
                    {% lcs 'CASES.EndUserAdvisoriesPage.Actions.CHANGE_STATUS' %}
                </a>
                {% endif %}
			</div>
		</div>
	</div>
	<!-- Case flags -->
	{% include 'case/views/case-flags.html' %}

	<br><br>

	<h3 class="govuk-heading-m">End User Details</h3>
	<div class="govuk-!-width-two-thirds">
		<dl class="govuk-summary-list">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Name
				</dt>
				<dd class="govuk-summary-list__value">
					{{ case.query.end_user.name }}
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Type
				</dt>
				<dd class="govuk-summary-list__value">
					{{ case.query.end_user.sub_type.value }}
				</dd>
			</div>
            {% if case.query.end_user.sub_type.key == 'individual' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Email
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ case.query.contact_email }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Telephone
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ case.query.contact_telephone }}
                    </dd>
                </div>
            {% endif %}
            {% if case.query.end_user.sub_type.key == 'commercial' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Nature of Business
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ case.query.nature_of_business }}
                    </dd>
                </div>
            {% endif %}
            {% if case.query.end_user.sub_type.key != 'individual' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Primary contact name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ case.query.contact_name }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Primary contact job title
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ case.query.contact_job_title }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Primary contact email
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ case.query.contact_email }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Primary contact telephone
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ case.query.contact_telephone }}
                    </dd>
                </div>
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Address
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ case.query.end_user.address }}<br>{{ case.query.end_user.country.name }}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Website
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if case.query.end_user.website %}
                        <a class="govuk-link" href="{{ case.query.end_user.website }}">{{ case.query.end_user.website }}</a>
                    {% else %}
                        N/A
                    {% endif %}
                </dd>
            </div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Reasoning behind query
				</dt>
				<dd class="govuk-summary-list__value">
					{{ case.query.reasoning|default_na }}
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Notes about end user
				</dt>
				<dd class="govuk-summary-list__value">
					{{ case.query.note|default_na }}
				</dd>
			</div>
            {% if case.query.copy_of %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Copied from
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <a class="govuk-link" href="{% url 'cases:case' case.query.copy_of %}">{{ case.query.copy_of|reference_code }}</a>
                    </dd>
                </div>
            {% endif %}
		</dl>

		<br><br>

		{% include "case/views/activity.html" %}

	</div>

{% endblock %}

{% block javascript %}
	<script src="{% static 'javascripts/more-actions.js' %}"></script>
{% endblock %}
