{% extends 'layouts/base.html' %}

{% block back_link %}{% endblock %}

{% block body %}
	<div class="lite-app-bar">
		<h2 class="govuk-heading-l">Teams</h2>
		<div class="lite-app-bar--right">
			<a href="{% url 'teams:add' %}" class="govuk-button" draggable="false" role="button">
				Add a team
			</a>
		</div>
	</div>

	<table class="govuk-table">
		<thead class="govuk-table__head">
			<tr class="govuk-table__row">
				<th class="govuk-table__header" scope="col">Name</th>
				<th class="govuk-table__header" scope="col"></th>
			</tr>
		</thead>
		<tbody class="govuk-table__body">
			{% for team in data.teams %}
				<tr class="govuk-table__row" id="row-{{ forloop.counter }}">
					<td class="govuk-table__cell">
						<a href="{% url 'teams:team' team.id %}" class="govuk-link">
							{{ team.name }}
						</a>
					</td>
					<td class="govuk-table__cell">
						<a href="{% url 'teams:edit' team.id %}" class="govuk-link">Edit</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
