{% extends 'layouts/base.html' %}

{% block back_link %}{% endblock %}

{% block body %}
	<h1 class="govuk-heading-l">{{ team.name }}</h1>

	<div class="lite-tabs__container">
		<div class="lite-tabs">
			<a href="{% url 'teams:team' %}" class="lite-tabs__tab lite-tabs__tab--selected">Users</a>
			<a href="{% url 'picklists:picklists' %}" class="lite-tabs__tab">Picklists</a>
		</div>
		<div class="lite-tabs__controls">
			<a id="button-invite-user" href="{% url 'users:add' %}" class="govuk-button" draggable="false" role="button">
				{% lcs 'Users.INVITE' %}
			</a>
		</div>
	</div>

	{% if users %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">Name</th>
					<th class="govuk-table__header" scope="col">Email</th>
					<th class="govuk-table__header" scope="col">Status</th>
					<th class="govuk-table__header" scope="col"></th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for user in users %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">
						{% if user.first_name %}
							<a href="{% url 'users:user' user.id %}" class="govuk-link govuk-link--no-visited-state">
								{{ user.first_name }} {{ user.last_name }}
							</a>
						{% else %}
							<strong class="govuk-tag govuk-phase-banner__content__tag ">
								Pending
							</strong>
						{% endif %}
					</td>
					<td class="govuk-table__cell">{{ user.email }}</td>
					<td class="govuk-table__cell">{{ user.status }}</td>
					<td class="govuk-table__cell">
						<a href="{% url 'users:edit' user.id %}" class="govuk-link govuk-link--no-visited-state">Edit</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p class="govuk-caption-l">You don't have any users at the moment.</p>
	{% endif %}
{% endblock %}
