{% extends 'layouts/base.html' %}

{% block back-link %}
	<a href="{% url 'picklists:picklists' %}?type=provisios" class="govuk-back-link">Back to Provisios</a>
{% endblock %}

{% block body %}

<h2 class="govuk-heading-l">Team name!</h2>

<div style="display: grid; grid-template-columns: 1fr auto; grid-gap: 30px;">
	<div class="lite-tabs--fade">
		<div class="lite-tabs">
			<a class="lite-tabs__tab">Users</a>
			<a class="lite-tabs__tab selected">Picklists</a>
		</div>
	</div>
	<a href="{% url 'picklists:add' %}" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
		Add an item
	</a>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-quarter" style="position: -webkit-sticky; position: sticky; top: 30px;">
		<ul class="lite-subnav">
			<li class="lite-subnav__link {{ 'all'|add_subnav_selected_class:request.get_full_path }}">
				<a class="govuk-link govuk-link--no-visited-state" href="{% url 'picklists:picklists' %}">All</a>
			</li>
			<hr>
			<li class="lite-subnav__link {{ 'provisios'|add_subnav_selected_class:request.get_full_path }}">
				<a class="govuk-link govuk-link--no-visited-state" href="{% url 'picklists:picklists' %}?type=provisios">Provisios</a>
			</li>
			<li class="lite-subnav__link {{ 'ecju_queries'|add_subnav_selected_class:request.get_full_path }}">
				<a class="govuk-link govuk-link--no-visited-state" href="{% url 'picklists:picklists' %}?type=ecju_queries">ECJU Queries</a>
			</li>
			<li class="lite-subnav__link {{ 'letter_paragraphs'|add_subnav_selected_class:request.get_full_path }}">
				<a class="govuk-link govuk-link--no-visited-state" href="{% url 'picklists:picklists' %}?type=letter_paragraphs">Letter Paragraphs</a>
			</li>
			<li class="lite-subnav__link {{ 'annual_report_summary'|add_subnav_selected_class:request.get_full_path }}">
				<a class="govuk-link govuk-link--no-visited-state" href="{% url 'picklists:picklists' %}?type=annual_report_summary">Annual Report Summary</a>
			</li>
			<li class="lite-subnav__link {{ 'standard_advice'|add_subnav_selected_class:request.get_full_path }}">
				<a class="govuk-link govuk-link--no-visited-state" href="{% url 'picklists:picklists' %}?type=standard_advice">Standard Advice</a>
			</li>
			<li class="lite-subnav__link {{ 'footnotes'|add_subnav_selected_class:request.get_full_path }}">
				<a class="govuk-link govuk-link--no-visited-state" href="{% url 'picklists:picklists' %}?type=footnotes">Footnotes</a>
			</li>
		</ul>
	</div>
	<div class="govuk-grid-column-three-quarters">
		<div style="margin: auto; max-width: 700px;">
			{% for item in picklist_items %}
				<h4 class="govuk-heading-s"><a href="{% url 'picklists:picklist_item' item.id %}" class="govuk-link govuk-link--no-visited-state">{{ item.name }}</a></h4>
				<div class="lite-picklist-item__text">
					<p class="govuk-body">
						{% lorem 10000 w %}
					</p>
				</div>
			{% empty %}
				<p class="govuk-caption-l" style="margin-top: 10px;">There aren't any items in this picklist.</p>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}
