{% extends 'layouts/base.html' %}

{% load humanize %}

{% block back_link %}
	<a href="/" class="govuk-back-link">Back</a>
{% endblock %}

{% block body %}
	<h1 class="govuk-heading-l">{{ title }}</h1>

	<div class="lite-tabs--fade">
		<div class="lite-tabs">
			<a class="lite-tabs__tab lite-tabs__tab--selected">Users</a>
		</div>
	</div>

	{% if users %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">Name</th>
					<th class="govuk-table__header" scope="col">Email</th>
					<th class="govuk-table__header" scope="col">Status</th>
					<th class="govuk-table__header" scope="col">Actions</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for user in users %}
					<tr class="govuk-table__row" id="row-{{ forloop.counter }}">
						<td class="govuk-table__cell">
							{% if user.first_name %}
								{{ user.first_name }} {{ user.last_name }}
							{% else %}
								<strong class="govuk-tag govuk-tag--blue">
									Pending
								</strong>
							{% endif %}
						</td>
						<td class="govuk-table__cell" id="{{ user.email }}">{{ user.email }}</td>
						<td class="govuk-table__cell">{{ user.status }}</td>
						<td class="govuk-table__cell">
							<a id="link-{{ user.email }}" href="{% url 'users:user' user.id %}" class="govuk-link govuk-link--no-visited-state">{% lcs 'users.UsersPage.Table.VIEW' %}</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p class="govuk-caption-l">You don't have any users at the moment.</p>
	{% endif %}
{% endblock %}
