{% extends 'layouts/base.html' %}

{% block back_link %}
	{% if not is_user_in_team %}
		<a href="/" class="govuk-back-link">Back</a>
	{% endif %}
{% endblock %}

{% block title %}
	{% lcs 'teams.TeamPage.Tabs.MEMBERS' %} - {{ team.name }}
{% endblock %}

{% block body %}
	<h1 class="govuk-heading-l">
		{{ team.name }}
	</h1>

	{% if is_user_in_team %}
		<div class="lite-tabs__container">
			<div class="lite-tabs">
				<p class="lite-tabs__tab lite-tabs__tab--selected">{% lcs 'teams.TeamPage.Tabs.MEMBERS' %}</p>
				<a href="{% url 'picklists:picklists' %}" class="lite-tabs__tab">{% lcs 'teams.TeamPage.Tabs.PICKLISTS' %}</a>
			</div>
			<div class="lite-tabs__controls">
				<a id="button-add-user" href="{% url 'users:add' %}" class="govuk-button" draggable="false" role="button">
					{% lcs 'teams.TeamPage.ADD_A_MEMBER_BUTTON' %}
				</a>
			</div>
		</div>
	{% endif %}

	{% if users %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">{% lcs 'teams.TeamPage.Table.NAME' %}</th>
					<th class="govuk-table__header" scope="col">{% lcs 'teams.TeamPage.Table.EMAIL' %}</th>
					<th class="govuk-table__header" scope="col">{% lcs 'teams.TeamPage.Table.STATUS' %}</th>
					<th class="govuk-table__header" scope="col">{% lcs 'teams.TeamPage.Table.ACTIONS' %}</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for user in users %}
					<tr class="govuk-table__row" id="row-{{ forloop.counter }}">
						<td class="govuk-table__cell">
							{% if user.first_name %}
								{{ user.first_name }} {{ user.last_name }}
							{% else %}
								<strong class="govuk-tag govuk-tag--blue">
									{% lcs 'teams.TeamPage.Table.PENDING' %}
								</strong>
							{% endif %}
						</td>
						<td class="govuk-table__cell" id="{{ user.email }}">{{ user.email }}</td>
						<td class="govuk-table__cell">{{ user.status }}</td>
						<td class="govuk-table__cell">
							<a id="link-{{ user.email }}" href="{% url 'users:user' user.id %}" class="govuk-link govuk-link--no-visited-state">{% lcs 'teams.TeamPage.Table.VIEW' %}</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		{% include "includes/notice.html" with text='teams.TeamPage.NO_CONTENT_NOTICE' %}
	{% endif %}
{% endblock %}
