{% extends 'layouts/base.html' %}

{% load humanize %}

{% block back_link %}
	<a href="/" class="govuk-back-link">Back</a>
{% endblock %}

	{% if userDeactivated == "true" %}
		<div class="information information-animated">
		</div>
	{% endif %}

{% block body %}

	<h2 class="govuk-heading-l">{{ title }}</h2>

	<div class="lite-tabs--fade">
		<div class="lite-tabs">
			<a class="lite-tabs__tab lite-tabs__tab--selected">Users</a>
<!--			<a class="lite-tabs__tab">Queues</a>-->
		</div>
	</div>

	{% if users|length %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">Name</th>
					<th class="govuk-table__header" scope="col">Email</th>
					<th class="govuk-table__header" scope="col">Status</th>
                    <th class="govuk-table__header" scope="col"></th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for user in users %}
                <tr class="govuk-table__row" id="row-{{ forloop.counter }}" {% if not user.first_name %}style="background-color: rgba(40, 161, 151, 0.025);"{% endif %}>
                    <td class="govuk-table__cell">
						{% if user.first_name %}
							<a href="{% url 'users:user' user.id %}" style="margin: 0;" class="govuk-link govuk-link--no-visited-state">
								{{ user.first_name }} {{ user.last_name }}
							</a>
						{% else %}
							<strong class="govuk-tag govuk-phase-banner__content__tag ">
								Pending
							</strong>
						{% endif %}
                    </td>
                    <td class="govuk-table__cell" id={{ user.email }}>{{ user.email }}</td>
                    <td class="govuk-table__cell">{{ user.status }}</td>
                    <td class="govuk-table__cell">
                        <a href="{% url 'users:edit' user.id %}" style="margin: 0;" class="govuk-link govuk-link--no-visited-state">Edit</a>
                    </td>
                </tr>
            {% endfor %}
			</tbody>
		</table>
	{% else %}
		<p class="govuk-caption-l">You don't have any users at the moment.</p>
	{% endif %}

{% endblock %}
