{% extends 'layouts/base.html' %}

{% load humanize %}

{% block body %}
	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h1 class="govuk-heading-l">
				{% block title %}
					{{ open_general_licence.name }}
				{% endblock %}
			</h1>
		</div>
		<div class="lite-app-bar__controls">
			{% if open_general_licence.status.key == 'active' %}
				{% make_list open_general_licence.id 'deactivate' as button_params %}
				{% govuk_link_button text='' url='open_general_licences:change_status' url_param=button_params classes='govuk-button--secondary' %}
			{% else %}
				{% make_list open_general_licence.id 'reactivate' as button_params %}
				{% govuk_link_button text='' url='open_general_licences:change_status' url_param=button_params classes='govuk-button--secondary' %}
			{% endif %}
		</div>
	</div>

	<dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-width-two-thirds">
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Name
			</dt>
			<dd class="govuk-summary-list__value">
				{{ open_general_licence.name }}
			</dd>
			<dd class="govuk-summary-list__actions">
				<a class="govuk-link" href="{% url 'open_general_licences:edit' open_general_licence.id 'details' %}">
					Change<span class="govuk-visually-hidden"> name</span>
				</a>
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Type
			</dt>
			<dd class="govuk-summary-list__value">
				{{ open_general_licence.case_type.reference.value }}
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Description
			</dt>
			<dd class="govuk-summary-list__value">
				<span data-max-length="1000">{{ open_general_licence.description }}</span>
			</dd>
			<dd class="govuk-summary-list__actions">
				<a class="govuk-link" href="{% url 'open_general_licences:edit' open_general_licence.id 'details' %}">
					Change<span class="govuk-visually-hidden"> name</span>
				</a>
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Link
			</dt>
			<dd class="govuk-summary-list__value">
				{{ open_general_licence.url|linkify }}
			</dd>
			<dd class="govuk-summary-list__actions">
				<a class="govuk-link" href="{% url 'open_general_licences:edit' open_general_licence.id 'details' %}">
					Change<span class="govuk-visually-hidden"> name</span>
				</a>
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Status
			</dt>
			<dd class="govuk-summary-list__value">
				{{ open_general_licence.status.value }}
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Control list entr{{ open_general_licence.control_list_entries|pluralize:'y,ies' }}
			</dt>
			<dd class="govuk-summary-list__value govuk-!-padding-bottom-0">
				<ul class="govuk-list govuk-list--number">
					{% for control_list_entry in open_general_licence.control_list_entries %}
						<li>
							<span data-definition-title="{{ control_list_entry.rating }}" data-definition-text="{{ control_list_entry.text }}">
								{{ control_list_entry.rating }}
							</span>
						</li>
					{% endfor %}
				</ul>
			</dd>
			<dd class="govuk-summary-list__actions">
				<a class="govuk-link" href="{% url 'open_general_licences:edit' open_general_licence.id 'control-list-entries' %}">
					Change<span class="govuk-visually-hidden"> name</span>
				</a>
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Countr{{ open_general_licence.countries|pluralize:'y,ies' }}
			</dt>
			<dd class="govuk-summary-list__value govuk-!-padding-bottom-0">
				<ul class="govuk-list govuk-list--number">
					{% for country in open_general_licence.countries %}
						<li>{{ country.name }}</li>
					{% endfor %}
				</ul>
			</dd>
			<dd class="govuk-summary-list__actions">
				<a class="govuk-link" href="{% url 'open_general_licences:edit' open_general_licence.id 'countries' %}">
					Change<span class="govuk-visually-hidden"> name</span>
				</a>
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Created at
			</dt>
			<dd class="govuk-summary-list__value">
				{{ open_general_licence.created_at|str_date }}
			</dd>
		</div>
		{% if open_general_licence.created_at != open_general_licence.updated_at %}
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Updated at
				</dt>
				<dd class="govuk-summary-list__value">
					{{ open_general_licence.updated_at|str_date }}
				</dd>
			</div>
		{% endif %}
	</dl>

	<h2 class="govuk-heading-m">Activity</h2>

	{% include 'includes/audit-trail.html' %}
{% endblock %}