{% extends 'layouts/base.html' %}

{% load svg static %}

{% block back_link %}{% endblock %}

{% block title %}
	{{ queue.name }}
{% endblock %}

{% block body %}
	{% if updated_cases_banner_queue_id %}
		<a id="exporter-amendments-banner" class="lite-info-bar lite-info-bar--link lite-info-bar--no-animation" href="{% url 'queues:cases' updated_cases_banner_queue_id %}">
			{% lcs 'cases.CasesListPage.EXPORTER_AMENDMENTS_BANNER' %}
		</a>
	{% endif %}

	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<a tabindex="0" id="link-queue" href="{% url 'queues:manage' %}" class="app-dropdown__heading">
				{{ data.results.queue.name }}<span class="govuk-visually-hidden"> - Click to change queue</span>
			</a>
		</div>
		{% if not data.results.is_system_queue %}
			<div class="lite-app-bar__controls lite-buttons-row" >
				<div data-enable-on-checkboxes="#table-cases">
					<button id="assign-users-button" form="cases-form" type="submit" class="govuk-button govuk-button--secondary">{% lcs 'cases.CasesListPage.ASSIGN_USERS' %}</button>
				</div>
				{% if enforcement_check and data.results.cases %}
					<a id="export-xml" class="govuk-button govuk-button--secondary" href="{% url 'queues:enforcement_xml_export' queue.id %}" draggable="false" role="button">{% lcs 'cases.CasesListPage.EnforcementXML.EXPORT_BUTTON' %}</a>
				{% endif %}
			</div>
		{% endif %}
	</div>

	<div id="queues" class="app-hidden">
		<div class="app-menu__search">
			<div>
				{% svg 'search' %}
			</div>
			<input type="text" id="filter-queues">
		</div>
		{% for queue in data.results.queues %}
			<a href="{% url 'queues:cases' queue.id %}" id="{{ queue.name }}" class="app-menu__item app-menu__item--subtitle {% if queue.id == data.results.queue.id %}app-menu__item--selected{% endif %}">
				{{ queue.name }}
				<span class="app-menu__item-subtitle">{{ queue.case_count }}</span>
			</a>
		{% endfor %}
	</div>

	<div class="lite-js-only lite-expand__base-controls">
		<a id="link-open-all-table-folds" href="#" onclick="toggleTableFold()" class="lite-expand__base-control">
			<span>{% lcs 'cases.CasesListPage.OPEN_ALL' %}</span>
			<span>{% lcs 'cases.CasesListPage.CLOSE_ALL' %}</span>
			{% svg 'chevron-light' %}
		</a>
	</div>

	{% include "filters.html" %}

	<form id="cases-form" method="post">
		{% csrf_token %}
		{% if data.results.cases %}
			<table id="table-cases" class="govuk-table">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						{% if not data.results.is_system_queue %}
							<th class="govuk-table__header govuk-table__cell--checkbox">
								<button id="button-select-all" type="button" name="button" class="lite-button-checkbox" title="Select all/Deselect all"></button>
							</th>
						{% endif %}
						<th class="govuk-table__header" scope="col"><span class="govuk-visually-hidden">{% lcs 'cases.CasesListPage.Table.SLA' %}</span></th>
						<th class="govuk-table__header" scope="col"><span class="govuk-visually-hidden">{% lcs 'cases.CasesListPage.Table.INFORMATION' %}</span></th>
						<th class="govuk-table__header" scope="col">{% lcs 'cases.CasesListPage.Table.CASE' %}</th>
						<th class="govuk-table__header" scope="col">{% lcs 'cases.CasesListPage.Table.ASSIGNEES' %}</th>
						<th class="govuk-table__header" scope="col">{% lcs 'cases.CasesListPage.Table.GOODS' %}</th>
						<th class="govuk-table__header" scope="col">{% lcs 'cases.CasesListPage.Table.DESTINATIONS' %}</th>
						<th class="govuk-table__header" scope="col">{% lcs 'cases.CasesListPage.Table.FLAGS' %}</th>
						<th class="govuk-table__header" scope="col"></th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					{% for case in data.results.cases %}
						<tr class="govuk-table__row lite-accordian-table__row" id="{{ case.id }}">
							{% if not data.results.is_system_queue %}
								<td class="govuk-table__cell govuk-table__cell--checkbox">
									<div>
										<input class="govuk-checkboxes__input" type="checkbox" name="cases" value="{{ case.id }}">
										<label class="govuk-label govuk-checkboxes__label">
											<span class="govuk-visually-hidden">{{ case.reference_code }}</span>
										</label>
									</div>
								</td>
							{% endif %}
							<td class="govuk-table__cell govuk-table__cell--tight">
								{% if case.sla_hours_since_raised != None or case.sla_remaining_days != None %}
									{% if case.sla_hours_since_raised != None and case.case_type.sub_type.key == 'hmrc'%}
										<div class="pie-wrapper progress-{{ case|get_sla_hours_percentage }} {{ case|get_sla_hours_ring_colour }}" id="sla">
											<span class="label">{{ case.sla_hours_since_raised }}</span>
											<div class="pie">
												<div class="left-side half-circle"></div>
												<div class="right-side half-circle"></div>
											</div>
										</div>
									{% elif case.sla_remaining_days != None and case.case_type.sub_type.key != 'hmrc'%}
										<div class="pie-wrapper progress-{{ case|get_sla_percentage }} {{ case|get_sla_ring_colour }}" id="sla">
											<span class="label">{{ case.sla_days }}</span>
											<div class="pie">
												<div class="left-side half-circle"></div>
												<div class="right-side half-circle"></div>
											</div>
										</div>
									{% endif %}
								{% endif %}
							</td>
							<td class="govuk-table__cell govuk-table__cell--tight">
								<div class="app-cases__row__vertical-column">
									{% if not case.is_recently_updated and not is_all_cases_queue %}
										<span data-tooltip="{% lcs 'cases.CasesListPage.NOT_UPDATED_RECENTLY' %}" class="app-cases__row__icon app-cases__row__attention-needed">
											!
										</span>
									{% endif %}
									{% if data.results.is_work_queue %}
										{% if case.has_open_ecju_queries %}
											<div data-tooltip="{% lcs 'cases.CasesListPage.OPEN_TEAM_ECJU' %}" class="app-cases__row__icon">
												{% svg 'ecju-query' %}
											</div>
										{% endif %}
									{% endif %}
								</div>
							</td>
							<td class="govuk-table__cell">
								<a class="govuk-link govuk-link--no-visited-state" id="case-{{ case.id }}" href="{% url 'cases:case' queue.id case.id %}">
									{{ case.reference_code }}
								</a>
								<p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">
									{{ case.organisation.name }} <span class="govuk-hint lite-!-display-inline">/ {{ case.organisation.primary_site.address.city|default:case.organisation.primary_site.address.country.name }}</span>
								</p>
								{% if case.organisation.primary_site.address.postcode %}
									<p class="govuk-hint govuk-!-margin-0 govuk-!-margin-top-2">{{ case.organisation.primary_site.address.postcode }}</p>
								{% endif %}
								<p class="govuk-tag govuk-tag--grey govuk-!-margin-0 govuk-!-margin-top-2">{{ case.status.value }}</p>
							</td>
							<td class="govuk-table__cell">
								{% if case.assignments %}
									<ol class="govuk-list">
										{% for assignment in case.assignments|slice:":3" %}
											<li>{{ assignment.user|username }}</li>
										{% endfor %}
									</ol>
								{% else %}
									<p class="app-information-bar">{% lcs 'cases.CasesListPage.NoContent.NO_USERS_ASSIGNED' %}</p>
								{% endif %}
							</td>
							<td class="govuk-table__cell">
								{% if case.flags|filter_flags_by_level:'Good' %}
									{% include 'includes/flags.html' with flags=case.flags|filter_flags_by_level:'Good'|slice:':3' list=True classes='app-expanded-row__item--invert' %}
									<span class="govuk-hint govuk-!-margin-top-2 govuk-!-margin-bottom-2 app-expanded-row__item--invert">
										{% if case.flags|filter_flags_by_level:'Good'|length > 3 %}(3 of {{ case.flags|filter_flags_by_level:'Good'|length }}){% endif %}
									</span>
									<div class="app-expanded-row__item govuk-!-margin-bottom-2">
										{% include 'includes/flags.html' with flags=case.flags|filter_flags_by_level:'Good' list=True %}
									</div>
								{% else %}
									<p class="app-information-bar">{% lcs 'cases.CasesListPage.NoContent.NO_GOODS_FLAGS' %}</p>
								{% endif %}
							</td>
							<td class="govuk-table__cell">
								{% if case.flags|filter_flags_by_level:'Destination' %}
									{% include 'includes/flags.html' with flags=case.flags|filter_flags_by_level:'Destination'|slice:':3' list=True classes='app-expanded-row__item--invert' %}
									<span class="govuk-hint govuk-!-margin-top-2 govuk-!-margin-bottom-2 app-expanded-row__item--invert">
										{% if case.flags|filter_flags_by_level:'Destination'|length > 3 %}(3 of {{ case.flags|filter_flags_by_level:'Destination'|length }}){% endif %}
									</span>
									<div class="app-expanded-row__item govuk-!-margin-bottom-2">
										{% include 'includes/flags.html' with flags=case.flags|filter_flags_by_level:'Destination' list=True %}
									</div>
								{% else %}
									<p class="app-information-bar">{% lcs 'cases.CasesListPage.NoContent.NO_DESTINATION_FLAGS' %}</p>
								{% endif %}
							</td>
							<td class="govuk-table__cell">
								{% if case.flags %}
									{% include 'includes/flags.html' with flags=case.flags|slice:':3' list=True classes='app-expanded-row__item--invert' %}
									<span class="govuk-hint govuk-!-margin-top-2 govuk-!-margin-bottom-2 app-expanded-row__item--invert">
										{% if case.flags|length > 3 %}(3 of {{ case.flags|length }}){% endif %}
									</span>
									<div class="app-expanded-row__item govuk-!-margin-bottom-2">
										{% include 'includes/flags.html' with flags=case.flags list=True %}
									</div>
								{% else %}
									<p class="app-information-bar">{% lcs 'cases.CasesListPage.NoContent.NO_FLAGS' %}</p>
								{% endif %}
							</td>
							<td class="govuk-table__cell">
								<a class="lite-expand__control" id="expand-flags-{{ case.id }}" onclick="return openTableFold(this);">
									{% if case.flags|length > 3 or case.users|length > 3 or case.queue_names|length > 3 %}
										{% svg 'chevron' %}
									{% endif %}
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			{% pagination %}
		{% else %}
			{% if params.case_type or params.status or params.case_officer or params.assigned_user %}
				{% include "includes/notice.html" with text='cases.CasesListPage.ACTIVE_FILTER_NO_CASES' %}
			{% else %}
				{% include "includes/notice.html" with text='cases.CasesListPage.NO_CASES' %}
			{% endif %}
		{% endif %}
	</form>
{% endblock %}

{% block javascript %}
	<script src="{% static 'javascripts/cases.js' %}"></script>
	<script src="{% static 'javascripts/select-buttons.js' %}"></script>

	<script nonce="{{ request.csp_nonce }}">
		$("#filter-queues").on('input', function() {
			txt = $("#filter-queues").val();
			anyVisible = false;
			$('#queues a').hide();
			$("#queues > span").hide();
			$('#queues a').each(function(){
				if ($(this).text().toUpperCase().indexOf(txt.toUpperCase()) != -1){
					$(this).show();
					anyVisible = true;
				}
			});

			if (!anyVisible) {
				$("#queues > span").show()
			}
		});

		$("#link-queue").removeAttr("href");
		const queuesMenu = document.getElementById('queues');
		queuesMenu.style.display = 'block';
		tippy("#link-queue", {
			content: queuesMenu,
			allowHTML: true,
			interactive: true,
			animation: 'scale-subtle',
			trigger: 'click',
			theme: 'light',
			placement: 'bottom-start',
			arrow: null,
			onShown(instance) {
				$("#filter-queues").val("")
				$("#filter-queues").focus()
			},
		});
	</script>
{% endblock %}
