{% extends 'layouts/base.html' %}

{% block back_link %}{% endblock %}

{% block body %}
	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h1 class="govuk-heading-l">
				{% block title %}
					{% lcs 'queues.QueuesList.TITLE' %}
				{% endblock %}
			</h1>
		</div>
		<div class="lite-app-bar__controls">
			<a href="{% url 'queues:add' %}" class="govuk-button" draggable="false" role="button">
				{% lcs 'queues.QueuesList.CREATE_QUEUE_BUTTON' %}
			</a>
		</div>
	</div>

	{% if queues %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">{% lcs 'queues.QueuesList.Table.NAME' %}</th>
					<th class="govuk-table__header" scope="col">{% lcs 'queues.QueuesList.Table.TEAM' %}</th>
					<th class="govuk-table__header" scope="col">{% lcs 'queues.QueuesList.Table.ACTIONS' %}</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for queue in queues %}
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							{{ queue.name }}
						</td>
						<td class="govuk-table__cell">
							{{ queue.team.name }}
						</td>
						<td class="govuk-table__cell">
							{% if user_data.user.team.id == queue.team.id %}
								<a href="{% url 'queues:edit' queue.id %}" class="govuk-link govuk-link--no-visited-state">
									{% lcs 'queues.QueuesList.Table.EDIT' %}
								</a>
							{% else %}
								{{ None|default_na }}
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		{% include "includes/notice.html" with text='queues.QueuesList.NO_CONTENT_NOTICE' %}
	{% endif %}
{% endblock %}
