{% extends "letter_base.html" %}

{% block letter_area %}
<h1>Standard Individual Export License</h1>

<table>

    <thead>
        <tr>
            <td rowspan="4">1</td>
            <td rowspan="4">1. Exporter</td>
            <td>2. Licence Number</td>
            <td>[[EXPORT_LICENCE_NUM]]</td>
            <td>3a Commencement Date</td>
        </tr>

        <tr>
            <td>2a Application No.</td>
            <td>3b Expiry Date</td>
        </tr>

        <tr>
            <td>4 Exporter contact details</td>
            <td>3b</td>
        </tr>

        <tr>
        </tr>

        <tr>
        </tr>

        <tr>
        </tr>

        <tr>
        </tr>

        <tr>
        </tr>

        <tr>
        </tr>

        <tr>
        </tr>
    </thead>

<tbody>
    <tr>
        <td>

        </td>
    </tr>
</tbody>


</table>

{% endblock letter_area %}



