{% extends 'layouts/base.html' %}

{% load svg %}

{% block body %}

	<noscript>
		<div class="govuk-warning-text">
			<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
			<strong class="govuk-warning-text__text">
				<span class="govuk-warning-text__assistive">Warning</span>
				This page works best with Javascript enabled - ask a coworker for assistance if you need it.
			</strong>
		</div>
	</noscript>

	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h2 class="govuk-heading-l">{% block title %}What letter paragraph do you want to use?{% endblock %}</h2>
		</div>
		<div class="lite-app-bar__controls">
			<button class="govuk-button" id="button-preview">Preview</button>
		</div>
	</div>

	<div class="app-letter-generator__container">
		<div class="app-letter-generator__controls">
			<form action="{% url 'letter_templates:letter_paragraphs' %}" method="post">
				{% csrf_token %}
				{% if letter_paragraphs %}
					{% if letter_paragraphs|length > 1 %}
						<p class="govuk-hint" style="margin-top: 0; margin-bottom: 20px;">
							Drag and drop letter paragraphs by using {% svg 'draggable' %} to reorder.
						</p>
					{% endif %}
					<div id="standard-advice-list" class="app-sortable">
						{% for letter_paragraph in letter_paragraphs %}
							<div class="app-letter-generator__picklist-item" data-text="{{ letter_paragraph.text }}">
								{% if letter_paragraphs|length > 1 %}
									{% svg 'draggable' %}
								{% endif %}
								{% hidden_field 'letter_paragraphs' letter_paragraph.id %}
								<p class="app-letter-generator__picklist-item-text">{{ letter_paragraph.name }}</p>
								<button type="submit" name="action" value="delete.{{ letter_paragraph.id }}">Delete</button>
							</div>
						{% endfor %}
					</div>
					<br>
					<button type="submit" name="action" value="add_letter_paragraph">Add another letter paragraph</button>
				{% else %}
					<button type="submit" name="action" value="add_letter_paragraph">Add letter paragraph</button>
				{% endif %}
			</form>
		</div>
		<div id="preview" class="govuk-body">
			{% for letter_paragraph in letter_paragraphs %}
				{{ letter_paragraph.text }}<br><br>
			{% endfor %}
		</div>
	</div>

{% endblock %}

{% block javascript %}
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type="text/javascript">
		preview = $( '#preview' )

		$( '#standard-advice-list' ).sortable({
			stop: function(event, ui) {
				preview.empty();
		        $('.app-letter-generator__picklist-item-text').each(function() {
		            preview.append($(this).parent().data('text') + '<br><br>');
		        });
		    }
		});
	</script>
{% endblock %}
