{% extends 'layouts/base.html' %}

{% load static %}

{% block body %}

	<noscript>
		<div class="govuk-warning-text">
			<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
			<strong class="govuk-warning-text__text">
				<span class="govuk-warning-text__assistive">Warning</span>
				This page works best with Javascript enabled - ask a coworker for assistance if you need it.
			</strong>
		</div>
	</noscript>

    <div class="lite-app-bar">
        <div class="lite-app-bar__content">
            <h2 class="govuk-heading-l">{% block title %}What letter paragraphs do you want to use?{% endblock %}</h2>
        </div>
        <div class="lite-app-bar__controls">
            {% if letter_paragraphs %}
                <form action="{% url 'letter_templates:preview' %}" method="post">
                    {% csrf_token %}
                    {% hidden_field 'name' name %}
                    {% for restricted in restricted_to %}
                        {% hidden_field 'restricted_to' restricted %}
                    {% endfor %}
                    {% hidden_field 'layout' layout %}
                    {% hidden_field 'letter_paragraphs' letter_paragraph.id %}
                    <button class="govuk-button" id="button-preview" type="submit">Preview</button>
                </form>
            {% endif %}
        </div>
    </div>

    <form action="{% url 'letter_templates:letter_paragraphs' %}" method="post">
        {% csrf_token %}
        {% hidden_field 'name' name %}
		{% for restricted in restricted_to %}
			{% hidden_field 'restricted_to' restricted %}
		{% endfor %}
		{% hidden_field 'layout' layout %}

		<div class="app-letter-generator__container">
			<div class="app-letter-generator__controls">
					{% if letter_paragraphs %}
						<p class="govuk-hint" style="margin-top: 0; margin-bottom: 20px;">
							Drag and drop letter paragraphs to reorder.
						</p>
						<div id="standard-advice-list" class="app-sortable">
							{% for letter_paragraph in letter_paragraphs %}
								<div class="app-letter-generator__picklist-item" data-id="{{ letter_paragraph.id }}" data-text="{{ letter_paragraph.text }}">
									{% hidden_field 'letter_paragraphs' letter_paragraph.id %}
									<p class="app-letter-generator__picklist-item-text">{{ letter_paragraph.name }}</p>
									<button type="submit" name="action" value="delete.{{ letter_paragraph.id }}">
										<span class="govuk-visually-hidden">Remove letter paragraph from template</span>
										✕
									</button>
								</div>
							{% endfor %}
						</div>
						<br>
						<button class="lite-button--link" type="submit" name="action" value="add_letter_paragraph">Add another letter paragraph</button>
					{% else %}
						<button class="lite-button--link" type="submit" name="action" value="add_letter_paragraph">Add letter paragraph</button>
					{% endif %}
			</div>
			<div id="preview" class="govuk-body">
				{% for letter_paragraph in letter_paragraphs %}
					<p id="{{ letter_paragraph.id }}">{{ letter_paragraph.text }}</p>
				{% endfor %}
			</div>
		</div>
	</form>

{% endblock %}

{% block javascript %}
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{% static 'javascripts/letter-template-generator.js' %}"></script>
{% endblock %}
