{% extends 'layouts/base.html' %}

{% block back_link %}
	<a href="{% url 'letter_templates:letter_templates' %}" class="govuk-back-link">Back to letter templates</a>
{% endblock %}

{% block body %}

	<style media="screen">
		.app-letter-preview__page {
			font-family: Arial;
			font-size: 18px;
		}
	</style>

	<div class="app-letter-preview__container">
		<div class="lite-app-bar">
			<div class="lite-app-bar__content">
				<h2 class="govuk-heading-l">{% block title %}{{ letter_template.name }}{% endblock %}</h2>
			</div>
			<div class="lite-app-bar__controls">
				<a href="{% url 'letter_templates:edit' letter_template.id %}" class="govuk-button govuk-button--secondary">Edit details</a>
				<a href="{% url 'letter_templates:edit_letter_paragraphs' letter_template.id %}" class="govuk-button govuk-button--secondary">Edit letter paragraphs</a>
			</div>
		</div>

		<div class="lite-information-board">
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-one-third">
					<h4 class="govuk-heading-s">Layout</h4>
					<p class="govuk-label">
						{{ letter_template.layout.name }}
					</p>
				</div>
				<div class="govuk-grid-column-one-third">
					<h4 class="govuk-heading-s">Restricted to</h4>
					<p class="govuk-label">
						{% for restriction in letter_template.restricted_to %}{% if not forloop.first %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}{{ restriction.value }}{% endfor %}
					</p>
				</div>
				<div class="govuk-grid-column-one-third">
					<h4 class="govuk-heading-s">Last updated</h4>
					<p class="govuk-label">{{ letter_template.last_modified_at|str_date }}</p>
				</div>
			</div>
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-one-third">
					<h4 class="govuk-heading-s">Created at</h4>
					<p class="govuk-label">{{ letter_template.created_at|str_date }}</p>
				</div>
			</div>
		</div>

		<div class="app-letter-preview__page">
			{{ preview|safe }}
		</div>
	</div>

{% endblock %}
