{% extends 'layouts/base.html' %}

{% block back_link %}{% endblock %}

{% block body %}

	{% include 'includes/messages.html' %}

	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h2 class="govuk-heading-l">{% block title %}Letter templates{% endblock %}</h2>
		</div>
		<div class="lite-app-bar__controls">
			<a href="{% url 'letter_templates:add' %}" class="govuk-button" draggable="false" role="button" id="button-create-a-template">
				Create a template
			</a>
		</div>
	</div>

	{% if letter_templates|length %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">Name</th>
					<th class="govuk-table__header" scope="col">Layout</th>
					<th class="govuk-table__header" scope="col">Restricted to</th>
					<th class="govuk-table__header" scope="col">Last updated</th>
					<th class="govuk-table__header" scope="col"></th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for letter_template in letter_templates %}
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
                            <a href="#" class="govuk-link">{{ letter_template.name }}</a>
                        </td>
						<td class="govuk-table__cell">
							{{ letter_template.layout.name }}
						</td>
						<td class="govuk-table__cell">
							{% for restriction in letter_template.restricted_to %}
								{% if not forloop.first %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}{{ restriction.value }}
							{% endfor %}
						</td>
						<td class="govuk-table__cell">
							{{ letter_template.last_modified_at|str_date }}
						</td>
						<td class="govuk-table__cell">
							<a href="#" class="govuk-link">Edit</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		{% include "includes/information-text.html" with text='There aren\'t any letter templates' %}
	{% endif %}

{% endblock %}
