{% extends 'layouts/base.html' %}

{% load static %}

{% block body %}

	<style media="screen">
		body {
			background: #f2f2f2!important;
		}
		.govuk-header {
			border-bottom-color: #f2f2f2;
		}
		.app-letter-preview__page {
			font-family: Arial;
			font-size: 18px;
		}
	</style>

	<div class="app-letter-preview__container">
		<div class="lite-app-bar">
			<div class="lite-app-bar__content">
				<h2 class="govuk-heading-l">{% block title %}{% get_string 'letter_templates.preview.title' %}{% endblock %}</h2>
			</div>
			<div class="lite-app-bar__controls">
				<form action="{% url 'letter_templates:create' %}" method="post">
					{% csrf_token %}
					{% hidden_field 'name' name %}
					{% for restricted in restricted_to %}
						{% hidden_field 'restricted_to' restricted %}
					{% endfor %}
					{% hidden_field 'layout' layout %}
					{% for letter_paragraph in letter_paragraphs %}
						{% hidden_field 'letter_paragraphs' letter_paragraph %}
					{% endfor %}
					<button class="govuk-button" type="submit" name="action" value="print">{% get_string 'letter_templates.preview.save_button' %}</button>
				</form>
			</div>
		</div>

		<div class="app-letter-preview__page">
			{{ preview|safe }}
		</div>
	</div>

{% endblock %}
