{% load sass_tags static svg %}
<!DOCTYPE html>
<html lang="en" class="govuk-template">

<head>
	<meta charset="utf-8" />
	<title>{% block title %}{{ title }}{% endblock %} - {% get_string 'common.service_name' %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="theme-color" content="#0b0c0c" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/assets/images/favicon.ico" type="image/x-icon" />
	<link rel="mask-icon" href="/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="167x167" href="/assets/images/govuk-apple-touch-icon-167x167.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/images/govuk-apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" href="/assets/images/govuk-apple-touch-icon.png">

	<link href="{% sass_src 'css/styles.scss' %}" rel="stylesheet" type="text/css" />

	<script nonce="{{ request.csp_nonce }}">
		(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','{{ ENVIRONMENT_VARIABLES.GOOGLE_ANALYTICS_KEY }}');
	</script>

	<meta property="og:image" content="/assets/images/govuk-opengraph-image.png">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	{% block head %}{% endblock %}
</head>

<body class="govuk-template__body ">
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ ENVIRONMENT_VARIABLES.GOOGLE_ANALYTICS_KEY }}"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

	<script nonce="{{ request.csp_nonce }}">
		document.body.className = (
			(document.body.className) ?
			document.body.className + ' js-enabled' :
			'js-enabled'
		);
	</script>

	{% block header %}
	<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
	<header class="govuk-header " role="banner" data-module="header">
		<div class="govuk-header__container govuk-width-container">

			<div class="govuk-header__logo">
				<a href="/" class="govuk-header__link govuk-header__link--homepage">
					{% get_string 'common.service_name' %}
				</a>
			</div>

			{% if user and user.lite_api_user_id %}
				<div id="lite-user-menu">
					<a href="{% url 'auth:logout' %}" class="lite-user-menu-button">
						Log out
					</a>

					<div class="lite-user-menu-divider"></div>

					<div id="lite-menu-wrapper">
						<a id="lite-user-menu-button" class="lite-user-menu-button" onclick="toggleLITEMenu();return false;" href="/menu/" title="Open Menu" accesskey="m">
							{% svg 'menu' %}
						</a>
						<div id="lite-menu">
							{% for item in LITE_MENU %}
								<a href="{{ item.url }}" class="lite-menu-item {{ item.url|add_selected_class:request.path }}">
									<div class="icon">
										{% svg item.icon %}
									</div>
									{{ item.title }}
								</a>
							{% endfor %}
						</div>
					</div>

					<div class="lite-user-menu-divider"></div>

					<a class="lite-user-menu-button" href="{% url 'users:user' user.lite_api_user_id %}">
						{{ user.first_name }}
						<div class="lite-user-menu-button--user">
							{% svg 'user' %}
						</div>
					</a>
				</div>
			{% endif %}

		</div>
	</header>
	{% endblock %}

	<div id="lite-menu-background" onclick="toggleLITEMenu()"></div>

	<div class="govuk-width-container">
		<div class="govuk-phase-banner">
			<p class="govuk-phase-banner__content">
				<strong class="govuk-tag govuk-phase-banner__content__tag ">
					alpha
				</strong>
				<span class="govuk-phase-banner__text">
					This is a new service – your <a class="govuk-link" href="{{ site.feedbackUrl }}">feedback</a> will help us to improve it.
				</span>
			</p>
		</div>
		{% block back_link %}
			<a href="#" class="govuk-back-link lite-js-only">Back</a>
		{% endblock %}
		<main class="govuk-main-wrapper " id="main-content" role="main">
			{% block body %}{% endblock %}
		</main>
	</div>

	{% block footer %}
	<footer class="govuk-footer " role="contentinfo">
		<div class="govuk-width-container ">
			<div class="govuk-footer__meta">
				<div class="govuk-footer__meta-item govuk-footer__meta-item--grow"></div>
				<div class="govuk-footer__meta-item">
					<a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
				</div>
			</div>
		</div>
	</footer>
	{% endblock %}

	<script src="{% static 'all.js' %}"></script>
	<script src="{% static 'javascripts/helpers.js' %}"></script>
	<script src="{% static 'javascripts/back-link.js' %}"></script>

	<script nonce="{{ request.csp_nonce }}">
		window.GOVUKFrontend.initAll()
	</script>

	{% block javascript %}{% endblock %}

	<script nonce="{{ request.csp_nonce }}" type="text/javascript">
		function toggleLITEMenu() {
			$('#lite-menu-background').toggle();
			$('#lite-menu').toggleClass('lite-menu--visible');
		}
	</script>

</body>

</html>
