{% extends 'layouts/base.html' %}

{% load svg static %}

{% block back_link %}{% endblock %}

{% block body_classes %}app-template__body{% endblock %}

{% block title %}
	{{ case.reference_code }} - {{ case.application.organisation.name }}
{% endblock %}

{% block body %}
	{% include 'includes/messages.html' %}

	{% if case.audit_notification %}
		<a id="audit-notification" class="lite-info-bar lite-info-bar--link lite-info-bar--no-animation" href="#case-activity-{{ case.audit_notification.audit_id }}">
			{% lcs 'CASE_CHANGES' %}
		</a>
	{% endif %}

	<div class="app-case-header app-case-header--sticky">
		<div class="app-case-header__stuff">
			<div class="app-case-header__content" style="flex-direction: row; align-items: center; justify-content: flex-start;">
				<p class="app-case-header__heading">
					{{ case.reference_code }} <a class="app-case-header__link govuk-!-margin-left-2" style="opacity: .7;" href="{% url 'organisations:organisation' case.application.organisation.id %}">{{ case.application.organisation.name }}</a>
				</p>
			</div>
			<div class="app-case-header__controls">
				<span class="app-case-header__candy" data-tooltip="19 goods">
					{% svg 'goods' %}
					19
				</span>
				<span class="app-case-header__candy" data-tooltip="12 countries">
					{% svg 'globe' %}
					12
				</span>
				<span class="app-case-header__candy" data-tooltip="7 flags">
					{% svg 'menu/flags' %}
					7
				</span>
				<span class="app-case-header__candy" data-tooltip="Case officer">
					{% svg 'user' %}
					Matt Berninger
				</span>
				<span class="app-case-header__candy">
					{% svg 'user' %}
					5 days left
				</span>
			</div>
		</div>
	</div>

	<div class="app-case-header">
		<div class="app-case-header__stuff">
			<div class="app-case-header__content">
				<ol class="app-case-header__breadcrumbs-list">
					<li class="app-case-header__breadcrumbs-list-item">
						<a class="app-case-header__breadcrumbs-link" href="{% url 'queues:cases' queue.id %}">{{ queue.name }}</a>
					</li>
				</ol>
				<h1 class="app-case-header__heading">
					{{ case.reference_code }} <a class="app-case-header__link govuk-!-margin-left-2" style="opacity: 0.7;" href="{% url 'organisations:organisation' case.application.organisation.id %}">{{ case.application.organisation.name }}</a>
				</h1>
			</div>
			<div class="app-case-header__controls">
				<span class="app-case-header__candy" data-tooltip="19 goods">
					{% svg 'goods' %}
					19
				</span>
				<span class="app-case-header__candy" data-tooltip="12 countries">
					{% svg 'globe' %}
					12
				</span>
				<span class="app-case-header__candy" data-tooltip="7 flags">
					{% svg 'menu/flags' %}
					7
				</span>
				<span class="app-case-header__candy" data-tooltip="Case officer">
					{% svg 'user' %}
					Matt Berninger
				</span>
				<span class="app-case-header__candy">
					{% svg 'user' %}
					5 days left
				</span>
			</div>
		</div>
	</div>

	<div id="tab-bar" class="app-case-tab-bar">
		<div class="lite-tabs__container">
			<div class="lite-tabs">
				<a href="#" class="lite-tabs__tab lite-tabs__tab--selected">
					Details
				</a>
				<a href="#" class="lite-tabs__tab">
					Stuff
				</a>
				<a href="#" class="lite-tabs__tab">
					Stuff
				</a>
				<a href="#" class="lite-tabs__tab">
					Stuff
				</a>
				<a href="#" class="lite-tabs__tab">
					Stuff
				</a>
				<a href="#" class="lite-tabs__tab">
					Stuff
				</a>
			</div>
		</div>
	</div>

	<br>

	<p class="govuk-hint">{% lorem %}</p><br>
	<p class="govuk-hint">{% lorem %}</p><br>
	<p class="govuk-hint">{% lorem %}</p><br>
	<p class="govuk-hint">{% lorem %}</p>

	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

	{% block detailas %}{% endblock %}
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		window.addEventListener('scroll', function (e) {
			var scrollPosition = window.scrollY;

			if (scrollPosition > 110) {
				$("#tab-bar").addClass("app-case-tab-bar--float");
			} else {
				$("#tab-bar").removeClass("app-case-tab-bar--float");
			}

			$(".app-case-header--sticky .app-case-header__stuff").css({opacity: (scrollPosition - 150) / 10});
		});
	</script>
	<script src="{% static "javascripts/select-buttons.js" %}"></script>
	<script src="{% static "javascripts/more-actions.js" %}"></script>
	<script src="{% static "javascripts/modal.js" %}"></script>
	<script src="{% static "javascripts/case.js" %}"></script>
{% endblock %}
