{% if activity %}
	<div class="app-menu__header">
		Latest status change
	</div>
	<div class="govuk-!-margin-left-3 govuk-!-margin-right-3">
		<p class="govuk-body govuk-!-margin-top-1">{{ activity|latest_status_change|get:'user'|get:'first_name' }} {{ activity|latest_status_change|get:'user'|get:'last_name' }} {{ activity|latest_status_change|get:'text' }}</p>
		<p class="govuk-hint">{{ activity|latest_status_change|get:'created_at'|str_date }}</p>
	</div>
{% else %}
	<p class="govuk-hint govuk-!-margin-left-3 govuk-!-margin-right-3">This isn't available here.</p>
{% endif %}
