{% load govuk_css_classes parse_date from spire_tags %}
{% load intcomma from humanize %}


<div class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
	<h2 class="govuk-heading-l">Application details</h2>
	<table class="govuk-table">
		<tbody class="govuk-table__body">
			<tr class="govuk-table__row">
				<th class="govuk-table__header">Exporter</th>
				<td class="govuk-table__cell">{{ application.organisation.name }} {{ application.organisation.legal_address }}</td>
			</tr>
			<tr class="govuk-table__row">
				<th class="govuk-table__header">Type of application</th>
				<td class="govuk-table__cell">{{ application.application_type_formatted }}</td>
			</tr>
			<tr class="govuk-table__row">
				<th class="govuk-table__header">Application number</th>
				<td class="govuk-table__cell">{{ application.application_ref }}</td>
			</tr>
			<tr class="govuk-table__row">
				<th class="govuk-table__header">Case status</th>
				<td class="govuk-table__cell">
					{{ application.status_formatted }} ({{ application.case_closed_reason }})
					{% if application.licence %}
						<a href="{% url 'spire:licence-detail' id=application.licence.id %}" class="govuk-link">View licence</a>
					{% endif %}
				</td>
			</tr>	
			<tr class="govuk-table__row">
				<th class="govuk-table__header">Case closed Date</th>
				<td class="govuk-table__cell">{{ application.case_closed_datetime|parse_date|date:"d M Y" }}</td>
			</tr>
			<tr class="govuk-table__row">
				<th class="govuk-table__header">Applicant Reference</th>
				<td class="govuk-table__cell">{{ application.applicant_ref }}</td>
			</tr>
			<tr class="govuk-table__row">
				<th class="govuk-table__cell">Exporter contact details</th>
				<td class="govuk-table__cell">
					{% for stakeholder in application.application_detail_stakeholder_set %}
						{% if stakeholder.stakeholder_role_type == "LICENSEE" %}
							{{ stakeholder.org_name }}
						{% endif %}
					{% endfor %}
				</td>
			</tr>
			<tr class="govuk-table__row">
				<th class="govuk-table__header">Consignee(s)/Destinations</th>
				<td class="govuk-table__cell">
					{% for stakeholder in application.application_detail_stakeholder_set %}
						{% if stakeholder.consignee_flag %}
							{{ stakeholder.formatted_name|default:stakeholder.org_name }} ({{ stakeholder.address }})
						{% endif %}
					{% endfor %}
				</td>
			</tr>
			<tr class="govuk-table__row">
				<th class="govuk-table__header">Country of consignment</th>
				<td class="govuk-table__cell">
					{% for stakeholder in application.application_detail_stakeholder_set %}
						{% if stakeholder.consignee_flag %}
							{{ stakeholder.country.country_name }} ({{ stakeholder.country.hmrc_code }})
						{% endif %}
					{% endfor %}
				</td>
			</tr>
			<tr class="govuk-table__row">
				<th class="govuk-table__header">Country of Destination</th>
				<td class="govuk-table__cell">
					{% for stakeholder in application.application_detail_stakeholder_set %}
						{% if stakeholder.end_user_flag %}
							{{ stakeholder.country.country_name }} ({{ stakeholder.country.hmrc_code }})
						{% endif %}
					{% endfor %}
				</td>
			</tr>
			<tr class="govuk-table__row">
				<th class="govuk-table__header">End User</th>
				<td class="govuk-table__cell">
					{% for stakeholder in application.application_detail_stakeholder_set %}
						{% if stakeholder.end_user_flag %}
							{{ stakeholder.org_name }} {{ stakeholder.address }}
						{% endif %}
					{% endfor %}
				</td>
			</tr>
			<tr class="govuk-table__row">
				<th class="govuk-table__header">End Use</th>
				<td class="govuk-table__cell">{{ application.application.application_question.end_use_details|default:'N/A' }}</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
	<h2 class="govuk-heading-l" id="goods">Goods</h2>
	{% if application.goods_rating_tau_comment %}
		<p>TAU comment: {{ application.goods_rating_tau_comment }}</p>
	{% endif %}
	{% if application.application_detail_good_set %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">Item</th>
					<th scope="col" class="govuk-table__header">Description</th>
					<th scope="col" class="govuk-table__header">Control list no</th>
					<th scope="col" class="govuk-table__header">Quantity</th>
					<th scope="col" class="govuk-table__header">Value</th>
					<th scope="col" class="govuk-table__header">Outcome</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for line in application.application_detail_good_set %}
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">{{ line.line_no }}</td>
						<td class="govuk-table__cell">{{ line.description}}</td>
						<td class="govuk-table__cell">
							{% for control in application.application.control_list_good_set %}
								{% if control.description == line.description %}
									{{ control.export_control_entry }}
								{% endif %}
							{% endfor %}
						</td>
						<td class="govuk-table__cell">
							{% if line.goods_quantity %}
								{{ line.goods_quantity }} {{line.goods_quantity_measure }}
							{% else %}
								N/A
							{% endif %}
						</td>
						<td class="govuk-table__cell">
							{% if line.goods_value %}
								£{{ line.goods_value }}
							{% else %}
								N/A
							{% endif %}
						</td>
						<td class="govuk-table__cell">{{ line.final_outcome|default:'N/A'}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}

	{% if application.documents %}
		<div class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
			<h2 class="govuk-heading-l" id="goods">Documents</h2>

			<table class="govuk-table">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header">Title</th>
						<th scope="col" class="govuk-table__header">Description</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					{% for document in application.documents %}
						<tr class="govuk-table__row">
							<td class="govuk-table__cell"><a href="{% url 'spire:document-detail' id=document.id %}" target="_blank">{{ document.file_name }}</a></td>
							<td class="govuk-table__cell">{{ document.description }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}
</div>
