{% extends 'layouts/base.html' %}

{% load static %}

{% block back_link %}
	{% include "case/views/includes/breadcrumbs.html" with text="cases.ApplicationPage.Actions.ADVICE" %}
{% endblock %}

{% block title %}
	{% lcs 'cases.ViewAdvicePage.FINAL_ADVICE' %} -
	{% lcs 'cases.ApplicationPage.Actions.ADVICE' %}
{% endblock %}

{% block body %}
	{% include 'includes/messages.html' %}

	<h1 class="govuk-heading-l">
		{% lcs 'cases.ApplicationPage.Actions.ADVICE' %}
	</h1>

	<form method="post">
		{% csrf_token %}

		<div class="lite-tabs__container">
			<div class="lite-tabs">
				<a href="{% url 'cases:user_advice_view' queue.id case.id %}" class="lite-tabs__tab" id="user_advice">{% lcs 'cases.ViewAdvicePage.USER_ADVICE' %}</a>
				<a href="{% url 'cases:team_advice_view' queue.id case.id %}" class="lite-tabs__tab" id="team_advice">{% lcs 'cases.ViewAdvicePage.TEAM_ADVICE' %}</a>
				<p class="lite-tabs__tab lite-tabs__tab--selected" id="final_advice">{% lcs 'cases.ViewAdvicePage.FINAL_ADVICE' %}</p>
			</div>
			{% if not status_is_terminal and permitted_to_give_final_advice %}
				{% if case.has_advice.team %}
					<div class="lite-tabs__controls">
						{% if all_advice|length %}
							<button id="button-give-advice" name="action" value="give-advice" type="submit" class="govuk-button" data-module="govuk-button">
								{% lcs 'cases.ViewAdvicePage.Actions.GIVE_OR_CHANGE' %}
							</button>
							<button id="button-clear-advice" name="action" value="delete" type="submit" class="govuk-button" data-module="govuk-button">
								{% lcs 'cases.ViewAdvicePage.Actions.CLEAR' %}
							</button>
							{% if can_advice_be_finalised %}
								{% if case.application.case_type.sub_type.key == 'open' %}
									<a class="govuk-button"  href="{% url 'cases:finalise_goods_countries' queue.id case.id %}" id="finalise_button">
										{% lcs 'cases.ViewAdvicePage.Actions.FINALISED_GOODS_AND_COUNTRIES' %}
									</a>
								{% else %}
									<a class="govuk-button"  href="{% url 'cases:finalise' queue.id case.id %}" id="finalise_button">
										{% lcs 'cases.ViewAdvicePage.Actions.FINALISE' %}
									</a>
								{% endif %}
							{% endif %}
						{% else %}
							<a class="govuk-button" href="{% url 'cases:coalesce_team_advice' queue.id case.id %}" class="lite-tabs__tab" id="combine_advice_button">
								{% lcs 'cases.ViewAdvicePage.Actions.COMBINE_TEAM_ADVICE' %}
							</a>
						{% endif %}
					</div>
				{% endif %}
			{% endif %}
		</div>

		<!-- Conditional error wrapper -->
		{% if not case.has_advice.team %}
			{% include 'case/views/advice-view.html' with show_advice=True %}
		{% elif case.application.status == 'finalised' %}
			{% include 'case/views/advice-view.html' with show_advice=True %}
		{% elif all_advice|length and permitted_to_give_final_advice %}
			{% include 'case/views/advice-view.html' with show_checkboxes=True show_advice=True %}
		{% else %}
			{% include 'case/views/advice-view.html' with show_advice=True %}
		{% endif %}
	</form>
{% endblock %}

{% block javascript %}
	<script src="{% static 'javascripts/advice-view.js' %}"></script>
{% endblock %}
