{% extends 'layouts/base.html' %}

{% load static %}

{% block back_link %}
	{% include "case/views/includes/breadcrumbs.html" with text="cases.ApplicationPage.Actions.ADVICE" %}
{% endblock %}

{% block title %}
	{% lcs 'cases.ViewAdvicePage.USER_ADVICE' %} -
	{% lcs 'cases.ApplicationPage.Actions.ADVICE' %}
{% endblock %}

{% block body %}
	{% include 'includes/messages.html' %}

	<h1 class="govuk-heading-l">
		{% lcs 'cases.ApplicationPage.Actions.ADVICE' %}
	</h1>

	<form method="post">
		{% csrf_token %}

		<div class="lite-tabs__container">
			<div class="lite-tabs">
				<p class="lite-tabs__tab lite-tabs__tab--selected" id="user_advice">{% lcs 'cases.ViewAdvicePage.USER_ADVICE' %}</p>
				<a href="{% url 'cases:team_advice_view' case.id %}" class="lite-tabs__tab" id="team_advice">{% lcs 'cases.ViewAdvicePage.TEAM_ADVICE' %}</a>
				<a href="{% url 'cases:final_advice_view' case.id %}" class="lite-tabs__tab" id="final_advice">{% lcs 'cases.ViewAdvicePage.FINAL_ADVICE' %}</a>
			</div>
			{% if not case.has_advice.my_team %}
				{% if not case.has_advice.final %}
					{% if not status_is_terminal %}
						<div class="lite-tabs__controls">
							<button id="button-give-advice" type="submit" class="govuk-button" data-module="govuk-button">
								{% lcs 'GIVE_OR_CHANGE_ADVICE' %}
							</button>
						</div>
					{% endif %}
				{% endif %}
			{% endif %}
		</div>

		<!-- Conditional error wrapper -->
		{% if case.has_advice.my_team or case.has_advice.final or status_is_terminal %}
			{% include 'case/views/advice-view.html' with show_advice=True %}
		{% else %}
			{% include 'case/views/advice-view.html' with show_checkboxes=True show_advice=True %}
		{% endif %}
	</form>
{% endblock %}

{% block javascript %}
	<script src="{% static 'javascripts/advice-view.js' %}"></script>
{% endblock %}
