{% extends 'layouts/base.html' %}

{% load static %}

{% block back_link %}
	<a href="{% url 'cases:cases' %}?queue={{ queue.queue.id }}" class="govuk-back-link">
		Back to {{ queue.queue.name }}
	</a>
{% endblock %}

{% block body %}

	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<p class="govuk-caption-m" style="margin: 0;">{{ case.type.value }}</p>
			<h2 class="govuk-heading-l app-reference-code">{{ case.query.id|reference_code }}</h2>
			<p class="govuk-caption-m">Query by <a class="govuk-link govuk-link--no-visited-state" style="display: inline-block;" href="{% url 'organisations:organisation' case.query.organisation.id %}">{{ case.query.organisation.name }}</a></p>
		</div>
		<div class="lite-app-bar__controls">
			<div class="app-more-actions__container">
				<a role="button" draggable="false" class="govuk-button" href="{% url 'cases:move' case.id %}">
					{% get_string 'cases.manage.move_case.button' %}
				</a>
			</div>
		</div>
	</div>

	<!-- Case flags -->
	{% include 'cases/case/views/case-flags.html' %}
	
	<br><br>

	<div class="govuk-!-width-two-thirds">
		<dl class="govuk-summary-list">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Description
				</dt>
				<dd class="govuk-summary-list__value">
					{{ good.description }}
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Control List Classification
				</dt>
				<dd class="govuk-summary-list__value">
					{{ good.control_code }}
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Part Number
				</dt>
				<dd class="govuk-summary-list__value">
					{{ good.part_number }}
				</dd>
			</div>
		</dl>

		<!-- Query Details -->
		{% if data.case.query.details %}
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-full">
					<p class="lite-heading-s">CLC query text</p>
					<p class="govuk-label">
						{{ data.case.query.details }}
					</p>
				</div>
			</div>
		{% endif %}

		<br><br>

		<!-- Goods flags -->
		<h3 class="govuk-heading-m">Flags</h3>
		{% include 'cases/case/views/goods-flags.html' with origin='case' %}

		<br><br>

		{% if case.query.good.documents %}
			<h3 class="govuk-heading-m">Documents</h3>
			{% for document in case.query.good.documents %}
				<div class="lite-card lite-card--download">
					<div>
						<p class="govuk-body govuk-!-font-weight-bold" style="margin-bottom: 10px;">{{ document.name }}</p>
						<p class="govuk-body" style="margin-bottom: 10px;">{{ document.description }}</p>
						<p class="govuk-caption-m" style="margin: 0;">Size  {{ document.size }}kB</p>
					</div>
					<div class="lite-vertical-align">
						{% if document.safe == True %}
							<a class="govuk-link lite-link--icon govuk-link--no-visited-state" href="{% url 'cases:document' case.id document.id %}">
								<span class="govuk-visually-hidden">{% get_string 'cases.manage.documents.download_document' %}</span>
								Download
						</a>
						{% elif document.safe == False %}
							<p class="govuk-label" style="margin: 0;color:red;">{% get_string 'cases.manage.documents.virus_infected' %}</p>
						{% else %}
							<p class="govuk-label" style="margin: 0;">{% get_string 'cases.manage.documents.processing' %}</p>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		{% else %}
			<p class="govuk-caption-l">{% get_string 'cases.manage.documents.case_has_no_documents' %}</p>
		{% endif %}

		<br><br>

		{% include "cases/case/tabs/activity.html" %}

	</div>

{% endblock %}

{% block javascript %}
	<script src="{% static 'javascripts/more-actions.js' %}"></script>
{% endblock %}
