{% extends 'layouts/base.html' %}

{% load static %}

{% block back_link %}
	<a href="{% url 'cases:cases' %}?queue={{ queue.queue.id }}" class="govuk-back-link">
		Back to {{ queue.queue.name }}
	</a>
{% endblock %}

{% block body %}

	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<p class="govuk-caption-m" style="margin: 0;">{{ case.type.value }} by <a class="govuk-link govuk-link--no-visited-state" style="display: inline-block;" href="{% url 'organisations:organisation' case.query.organisation.id %}">{{ case.query.organisation.name }}</a></p>
			<h2 class="govuk-heading-l app-reference-code">{{ case.query.id|reference_code }}</h2>
		</div>
		<div class="lite-app-bar__controls">
			<a role="button" draggable="false" class="govuk-button" href="{% url 'cases:respond_to_clc_query' case.id %}">
				Respond to query
			</a>
			<div class="app-more-actions__container app-more-actions__container--secondary">
				<a role="button" draggable="false" class="govuk-button" href="{% url 'cases:move' case.id %}">
					{% get_string 'cases.manage.move_case.button' %}
				</a>
			</div>
		</div>
	</div>

	<!-- Case flags -->
	{% include 'cases/case/views/case-flags.html' %}

	<br><br>

	<h3 class="govuk-heading-m">Good Details</h3>
	<div class="govuk-!-width-two-thirds">
		<dl class="govuk-summary-list">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Description
				</dt>
				<dd class="govuk-summary-list__value">
					{{ good.description }}
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Control List Classification
				</dt>
				<dd class="govuk-summary-list__value">
					{{ good.control_code }}
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Part Number
				</dt>
				<dd class="govuk-summary-list__value">
					{{ good.part_number }}
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					Flags
				</dt>
				<dd class="govuk-summary-list__value">
					{% include 'cases/case/views/goods-flags.html' with origin='case' %}
				</dd>
			</div>
		</dl>

		<!-- Query Details -->
		{% if data.case.query.details %}
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-full">
					<p class="lite-heading-s">CLC query text</p>
					<p class="govuk-label">
						{{ data.case.query.details }}
					</p>
				</div>
			</div>
		{% endif %}

		<br><br>

		{% if case.query.good.documents %}
			<h3 class="govuk-heading-m">Documents</h3>
			<dl class="govuk-summary-list">
				{% for document in case.query.good.documents %}
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							{{ document.name }}
						</dt>
						<dd class="govuk-summary-list__value">
							{% if document.safe == True %}
								<a class="govuk-link lite-link--icon govuk-link--no-visited-state" href="{% url 'cases:document' case.id document.id %}">
									Download
								</a>
							{% elif document.safe == False %}
								{% get_string 'cases.manage.documents.virus_infected' %}
							{% else %}
								{% get_string 'cases.manage.documents.processing' %}
							{% endif %}
						</dd>
					</div>
				{% endfor %}
			</dl>
		{% else %}
			<p class="govuk-caption-l">{% get_string 'cases.manage.documents.case_has_no_documents' %}</p>
		{% endif %}

		<br><br>

		{% include "cases/case/tabs/activity.html" %}

	</div>

{% endblock %}

{% block javascript %}
	<script src="{% static 'javascripts/more-actions.js' %}"></script>
{% endblock %}
