{% extends 'layouts/base.html' %}

{% load humanize %}

{% block back-link %}
	<a href="{% url 'cases:cases' %}" class="govuk-back-link">{% get_string 'cases.case.back_to_cases_link' %}</a>
{% endblock %}

{% block body %}

<h3 class="govuk-heading-m">{% get_string 'cases.case.destination_heading' %}</h3>
{% if data.case.application.destinations.type == 'end_user' %}
    <table class="lite-table" id="destinations">
	<thead class="lite-table__head">
		<tr class="lite-table__row">
           <th class="lite-table__header" scope="col">Country</th>

          <th class="lite-table__header" scope="col">Role</th>
             <th class="lite-table__header" scope="col">Name</th>
            <th class="lite-table__header" scope="col">Advice</th>

		</tr>
	</thead>
	<tbody class="lite-table__body">
        <tr class="lite-table__row">
            <td class="lite-table__cell">{{ data.case.application.destinations.data.country }}</td>
             <td class="lite-table__cell">End User</td>
          <td class="lite-table__cell">{{ data.case.application.destinations.data.name }}</td>


        </tr>
        {% for ultimate_end_user in data.case.application.ultimate_end_users.data %}
            <tr>

                <td class="lite-table__cell">{{ ultimate_end_user.country }}</td>
              <td class="lite-table__cell">Ultimate End User</td>
                 <td class="lite-table__cell">{{ ultimate_end_user.name }}</td>

            </tr>
        {% endfor %}
	</tbody>
</table>
{% else %}
	{% for country in data.case.application.destinations.data %}
		<p class="govuk-label">
			{{ country.name }}
		</p>
	{% endfor %}
{% endif %}

{% endblock %}