{% extends 'layouts/base.html' %}

{% load humanize %}

{% block back-link %}
	<a href="{% url 'cases:cases' %}" class="govuk-back-link">Back to case</a>
{% endblock %}

{% block body %}

	{% include 'cases/case/views/application-information-board.html' %}

	<!-- Tab bar -->
	<div style="display: grid; grid-template-columns: 1fr auto; grid-gap: 30px;">
		<div class="lite-tabs--fade">
			<div class="lite-tabs">
				<a href="{% url 'cases:advice_view' case.id %}" class="lite-tabs__tab selected">Advice</a>
			</div>
		</div>
		<a href="{% url 'cases:give_advice' case.id %}" disabled="disabled" aria-disabled="true" role="button" draggable="false" class="govuk-button govuk-button--disabled" data-module="govuk-button">
			Give advice
		</a>
	</div>

	<!-- Goods -->
	<h3 class="govuk-heading-m">Goods</h3>
	{% if case.application.licence_type.key == 'open_licence' %}
		{% include 'cases/case/views/open-goods.html' with show_checkboxes=True %}
	{% endif %}
	{% if case.application.licence_type.key == 'standard_licence' %}
		{% include 'cases/case/views/standard-goods.html' with show_checkboxes=True %}
	{% endif %}

	<!-- Destinations/End-User -->
	{% if case.application.licence_type.key == 'open_licence' %}
		<h3 class="govuk-heading-m">Destinations</h3>
		{% include 'cases/case/views/open-destinations.html' with show_checkboxes=True %}
	{% endif %}
	{% if case.application.licence_type.key == 'standard_licence' %}
		<h3 class="govuk-heading-m">End User</h3>
		{% include 'cases/case/views/standard-destinations.html' with show_checkboxes=True %}
	{% endif %}

{% endblock %}
