{% extends 'layouts/base.html' %}

{% load humanize static %}

{% block back_link %}
	<a href="{% url 'cases:cases' %}?queue={{ queue.queue.id }}" class="govuk-back-link">
		Back to {{ queue.queue.name }}
	</a>
{% endblock %}

{% load svg %}

{% block body %}

{% if notification %}
    <a id="case-notification" class="lite-info-bar app-info-bar--link lite-info-bar--no-animation" href="#case-activity-{{ notification.case_activity }}">
        See what has changed
    </a>
{% endif %}

<div class="lite-app-bar">
	<div class="lite-app-bar__content">
		<p class="govuk-caption-m" style="margin: 0;">{{ case.application.licence_type.value }}</p>
		<h2 class="govuk-heading-l">{{ title }}</h2>
		<p class="govuk-caption-m">Application by <a id="applicant_organisation" class="govuk-link govuk-link--no-visited-state" style="display: inline-block;" href="{% url 'organisations:organisation' case.application.organisation.id %}">{{ case.application.organisation.name }}</a></p>
	</div>
	<div class="lite-app-bar__controls">
		<div class="app-more-actions__container">
			<a role="button" draggable="false" class="govuk-button" href="{% url 'cases:documents' case.id %}">
	        	{% get_string 'cases.manage.documents.button' %}
	        </a>
            <a role="button" draggable="false" class="govuk-button" href="{% url 'cases:generate_documents' case.id %}">
	        	{% get_string 'cases.generate_documents.title' %}
	        </a>
	        <a role="button" draggable="false" class="govuk-button" href="{% url 'cases:ecju_queries' case.id %}">
	            {% get_string 'cases.ecju_queries.title' %}
			</a>
	        <a role="button" draggable="false" class="govuk-button" href="{% url 'cases:move' case.id %}">
				{% get_string 'cases.manage.move_case.button' %}
			</a>
			<a role="button" draggable="false" class="govuk-button" href="{% url 'cases:manage' case.id %}">
				Change Status
			</a>
			{% if permissions|key_in_array:'MAKE_FINAL_DECISIONS' %}
				<a role="button" draggable="false" class="govuk-button" href="{% url 'cases:decide' case.id %}">
					Record Decision
				</a>
			{% endif %}
	        <a role="button" draggable="false" class="govuk-button" href="{% url 'cases:user_advice_view' case.id %}">
				View Advice
			</a>
		</div>
	</div>
</div>

{% if case.all_flags %}
    <p class="govuk-caption-m">All flags</p>
    <div class="app-flags">
        {% for flag in case.all_flags %}
            <div class="app-flag" id="{{ flag.name }}">
                {{ flag.name }}
            </div>
        {% endfor %}
    </div>
    <br>
{% endif %}

<!-- Case flags -->
{% include 'cases/case/views/case-flags.html' %}

<!-- Information board -->
{% include 'cases/case/views/application-information-board.html' %}

{% if case.application.application_denial_reason %}
<h3 class="govuk-heading-m">Denial Reasons</h3>
{% for reason in case.application.application_denial_reason %}
<p class="govuk-heading-s">This case was denied because</p>
{% for reason_id in reason.reasons %}
<p class="govuk-label">{{ reason_id.id }}</p>
{% endfor %}
{% if reason.reason_details %}
<br />
<p class="govuk-heading-s">Further information</p>
<p class="govuk-label">{{ reason.reason_details }}</p>
{% endif %}
{% endfor %}
<br /><br />
{% endif %}

<!-- Goods -->
{% if case.application.licence_type.key == 'open_licence' %}
    <form action="{% url 'cases:assign_flags' case.id %}" method="get">
        <input type="hidden" name="level" value="goods"/>
        <button id="button-edit-goods-flags" value="goods" class="govuk-button" data-module="govuk-button">
            {% get_string 'cases.case.edit_goods_flags' %}
        </button>
        {% include 'cases/case/views/accordion-open-goods.html' with show_checkboxes=True %}
    </form>
{% elif case.application.licence_type.key == 'standard_licence' %}
    <form action="{% url 'cases:review_goods' case.id %}" method="get">
    {% if 'REVIEW_GOODS' in permissions %}
        <button id="button-review-goods" name="action" value="review-goods" class="govuk-button" data-module="govuk-button">
            {% get_string 'cases.case.review_goods' %}
        </button>
    {% endif %}
        <button id="button-edit-goods-flags" name="action" value="edit-flags" class="govuk-button" data-module="govuk-button">
            {% get_string 'cases.case.edit_goods_flags' %}
        </button>
        {% include 'cases/case/views/standard-goods.html' with show_checkboxes=True %}
    </form>
{% endif %}


<!-- Destinations/End-User -->
{% if case.application.licence_type.key == 'open_licence' %}
	{% include 'cases/case/views/open-destinations.html' %}
{% endif %}
{% if case.application.licence_type.key == 'standard_licence' %}
	{% include 'cases/case/views/standard-destinations.html' %}
{% endif %}

{% include 'cases/case/views/other-documents.html' %}

{% include "cases/case/views/activity.html" %}

{% endblock %}

{% block javascript %}
	<script src="{% static 'javascripts/more-actions.js' %}"></script>
	<script src="{% static 'javascripts/edit-good-flags.js' %}"></script>
{% endblock %}
