{% extends 'layouts/base.html' %}

{% load humanize static %}

{% block back_link %}
	<a href="{% url 'cases:cases' %}" class="govuk-back-link">{% get_string 'cases.case.back_to_cases_link' %}</a>
{% endblock %}

{% load svg %}

{% block body %}

    {{ case }}

<div class="lite-app-bar">
	<div class="lite-app-bar__content">
		<h1 class="govuk-heading-l">{{ title }}</h1>
	</div>
	<div class="lite-app-bar__controls">
		<div class="app-more-actions__container">
			<a role="button" draggable="false" class="govuk-button" href="{% url 'cases:documents' case.id %}">
	        	{% get_string 'cases.manage.documents.button' %}
	        </a>
	        <a role="button" draggable="false" class="govuk-button" href="{% url 'cases:ecju_queries' case.id %}">
	            {% get_string 'cases.ecju_queries.title' %}
			</a>
	        <a role="button" draggable="false" class="govuk-button" href="{% url 'cases:move' case.id %}">
				{% get_string 'cases.manage.move_case.button' %}
			</a>
			<a role="button" draggable="false" class="govuk-button" href="{% url 'cases:manage' case.id %}">
				Change Status
			</a>
			{% if permissions|key_in_array:'MAKE_FINAL_DECISIONS' %}
				<a role="button" draggable="false" class="govuk-button" href="{% url 'cases:decide' case.id %}">
					Record Decision
				</a>
			{% endif %}
	        <a role="button" draggable="false" class="govuk-button" href="{% url 'cases:advice_view' case.id %}">
				View Advice
			</a>
		</div>
	</div>
</div>

<!-- Case flags -->
{% include 'cases/case/views/case-flags.html' %}

<!-- Information board -->
{% include 'cases/case/views/application-information-board.html' %}

{% if case.application.application_denial_reason %}
<h3 class="govuk-heading-m">Denial Reasons</h3>
{% for reason in case.application.application_denial_reason %}
<p class="govuk-heading-s">This case was denied because</p>
{% for reason_id in reason.reasons %}
<p class="govuk-label">{{ reason_id.id }}</p>
{% endfor %}
{% if reason.reason_details %}
<br />
<p class="govuk-heading-s">Further information</p>
<p class="govuk-label">{{ reason.reason_details }}</p>
{% endif %}
{% endfor %}
<br /><br />
{% endif %}

<!-- Goods -->
{% if case.application.licence_type.key == 'open_licence' %}
	{% include 'cases/case/views/open-goods.html' %}
{% endif %}
{% if case.application.licence_type.key == 'standard_licence' %}
	{% include 'cases/case/views/standard-goods.html' %}
{% endif %}

<!-- Destinations/End-User -->
{% if case.application.licence_type.key == 'open_licence' %}
	{% include 'cases/case/views/open-destinations.html' %}
{% endif %}
{% if case.application.licence_type.key == 'standard_licence' %}
	{% include 'cases/case/views/standard-destinations.html' %}
{% endif %}

{% include "cases/case/tabs/activity.html" %}

{% endblock %}

{% block javascript %}
	<!-- <script src="{% static 'javascripts/more-actions.js' %}"></script> -->
{% endblock %}
