{% extends 'layouts/base.html' %}

{% load humanize %}

{% load svg %}

{% block back_link %}
	<a href="{% url 'cases:cases' %}" class="govuk-back-link">Back to Cases</a>
{% endblock %}

{% block body %}

<div class="lite-app-bar">
	<div class="lite-app-bar__content">
		<h1 class="govuk-heading-l">{{ title }}</h1>
	</div>
	<div class="lite-app-bar__controls">
		<a role="button" draggable="false" class="govuk-button" href="{% url 'cases:documents' data.case.id %}">
        	{% get_string 'cases.manage.documents.button' %}
        </a>
		<a role="button" draggable="false" class="govuk-button" href="{% url 'cases:move' data.case.id %}">
		    {% get_string 'cases.manage.move_case.button' %}
		</a>
		<a role="button" draggable="false" class="govuk-button" href="{% url 'cases:manage' data.case.id %}">
		    Change Status
		</a>
	</div>
</div>

<!-- # TODO: Create modal for clients with JS enabled -->
<!-- <a href="{% url 'cases:assign_flags' data.case.id %}" class="govuk-link govuk-link--no-visited-state" onclick="return showFlagsModal();">Edit case flags</a> -->
<a href="{% url 'cases:assign_flags' data.case.id %}" class="govuk-link govuk-link--no-visited-state">{{  edit_case_flags }}</a>
<div class="lite-case-flags">
    {% for flag in data.case.flags %}
        <div class="lite-flag">
            {{ flag.name }}
        </div>
    {% endfor %}
</div>

<div id="flags-modal" style="display: none;">
	{% include "cases/case/flags.html" %}
</div>

<div class="lite-information-board">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			<p class="lite-heading-s">Applicant</p>
			<p class="govuk-label">
				<a class="govuk-link govuk-link--no-visited-state" href="{% url 'organisations:organisation' data.case.clc_query.good.organisation %}">
					{{ data.case.clc_query.organisation_name }}
				</a>
			</p>
		</div>
		<div class="govuk-grid-column-one-third">
			<p class="lite-heading-s">Last Updated</p>
			<p class="govuk-label">

			</p>
		</div>
        <div class="govuk-grid-column-one-third">
			<p class="lite-heading-s">
				Status
			</p>
			<p class="govuk-label">{{ data.case.clc_query.status|sentence_case }}</p>
		</div>
	</div>
</div>

<table class="lite-table">
    <thead class="lite-table__head">
        <tr class="lite-table__row">
          <th class="lite-table__header" scope="col">Description</th>
          <th class="lite-table__header" scope="col">Control List Classification</th>
          <th class="lite-table__header" scope="col">Part Number</th>
        </tr>
    </thead>
    <tbody class="lite-table__body">
        <tr class="lite-table__row">
          <td class="lite-table__cell">{{ data.case.clc_query.good.description }}</td>
          <td class="lite-table__cell">{{ data.case.clc_query.good.control_code|default:'None' }}</td>
          <td class="lite-table__cell">{{ data.case.clc_query.good.part_number|default:'None' }}</td>
        </tr>
    </tbody>
</table>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p class="lite-heading-s">CLC query text</p>
        <p class="govuk-label">
            {{ data.case.clc_query.details }}
        </p>
    </div>
</div>

{% if data.case.clc_query.good.documents %}
	<p class="govuk-caption-m">{% get_string 'cases.manage.documents.description' %}</p>
	{% for document in data.case.clc_query.good.documents %}
		<div class="lite-card lite-card--download">
			<div>
				<p class="govuk-body govuk-!-font-weight-bold" style="margin-bottom: 10px;">{{ document.name }}</p>
				<p class="govuk-body" style="margin-bottom: 10px;">{{ document.description }}</p>
                <p class="govuk-caption-m" style="margin: 0;">Size  {{ document.size }}kB</p>
			</div>
			<div class="lite-vertical-align">
				{% if document.safe == True %}
					<a class="govuk-link lite-link--icon govuk-link--no-visited-state" href="{% url 'cases:document' data.case.id document.id %}">
						<span class="govuk-visually-hidden">{% get_string 'cases.manage.documents.download_document' %}</span>
						Download
				</a>
				{% elif document.safe == False %}
					<p class="govuk-label" style="margin: 0;color:red;">{% get_string 'cases.manage.documents.virus_infected' %}</p>
				{% else %}
					<p class="govuk-label" style="margin: 0;">{% get_string 'cases.manage.documents.processing' %}</p>
				{% endif %}
			</div>
		</div>
	{% endfor %}
{% else %}
	<p class="govuk-caption-l">{% get_string 'cases.manage.documents.case_has_no_documents' %}</p>
{% endif %}


	<br><br><br>
	{% include "cases/case/tabs/activity.html" %}

{% endblock %}
