{% extends 'layouts/two_pane.html' %}

{% block two_thirds %}

	<h2 class="govuk-heading-l">{{ title }}</h2>

    <p class="govuk-body-m">You won't be able to change this case once you've submitted.</p>

	<br>

	<h4 class="govuk-heading-s">CLC12-13279</h4>
	<div class="app-summary-list app-inset-text">
		<div class="app-summary-list__item">
			<p class="govuk-caption-m">Description</p>
			<p class="govuk-body-m">Lorem Ipsum</p>
		</div>

		<div class="app-summary-list__item">
			<p class="govuk-caption-m">Control Code Classification</p>
			<p class="govuk-body-m">ML1a</p>
		</div>

		<div class="app-summary-list__item">
			<p class="govuk-caption-m">Part Number</p>
			<p class="govuk-body-m">AM-1337</p>
		</div>

		<div class="app-summary-list__item">
			<p class="govuk-caption-m">Flags</p>
			<div class="app-flags" style="margin: 0;">
				<div class="app-flag">
					AirPods
				</div>
				<div class="app-flag">
					The New Yorker
				</div>
				<div class="app-flag">
					Water bottle
				</div>
				<a href="#" class="app-flag app-flag--action">
					Edit goods flags
				</a>
			</div>
		</div>

		<div class="app-summary-list__item">
			<p class="govuk-caption-m">Documents</p>
			<a href="#" class="govuk-link govuk-body-m">
				<span class="govuk-visually-hidden">Download</span> widget_template-18932.docx
			</a>
		</div>
	</div>

	<br>

	<div>
		<a href="#" class="govuk-body-m govuk-link govuk-link--no-visited-state" style="float: right;">Change answers</a>
		<h4 class="govuk-heading-s" style="padding-top: 0;">What you've said</h4>
	</div>
	<div class="app-summary-list app-inset-text">
		<div class="app-summary-list__item">
			<p class="govuk-caption-m">Is this good controlled?</p>
			<p class="govuk-body-m">Yes</p>
		</div>

		<div class="app-summary-list__item">
			<p class="govuk-caption-m">Control Code Classification</p>
			<p class="govuk-body-m">ML1a</p>
		</div>

		<div class="app-summary-list__item">
			<p class="govuk-caption-m">Annual Report Summary</p>
			<p class="govuk-body-m">It's quiet company</p>
		</div>
	</div>

	<br><br>

	<div class="lite-buttons-row">
		<button type="submit" name="button" class="govuk-button">Submit response</button>
	</div>

{% endblock %}
