{% extends 'layouts/two_pane.html' %}

{% block back_link %}{% endblock %}

{% block two_thirds %}

	<h2 class="govuk-heading-l">{{ title }}</h2>

    <p class="govuk-body-m">You won't be able to change this case once you've submitted.</p>

	<br>

	<h4 class="govuk-heading-s">{{ case.query.id|reference_code }}</h4>
	<div class="app-summary-list app-inset-text">
		<div class="app-summary-list__item">
			<p class="govuk-caption-m">Description</p>
			<p class="govuk-body-m">{{ case.query.good.description }}</p>
		</div>

		<div class="app-summary-list__item">
			<p class="govuk-caption-m">Control Code Classification</p>
			<p class="govuk-body-m">{{ case.query.good.control_code|default:'N/A' }}</p>
		</div>

		<div class="app-summary-list__item">
			<p class="govuk-caption-m">Part Number</p>
			<p class="govuk-body-m">{{ case.query.good.part_number }}</p>
		</div>

		<div class="app-summary-list__item">
			<p class="govuk-caption-m">Flags</p>
			{% with good=case.query.good %}
				{% include 'cases/case/views/goods-flags.html' with origin='case' %}
			{% endwith %}
		</div>

		<div class="app-summary-list__item">
			<p class="govuk-caption-m">Documents</p>
			{% for document in case.query.good.documents %}
				<div>
					<a href="#" class="govuk-link govuk-body-m">
						{% if document.safe == True %}
							<a class="govuk-link lite-link--icon govuk-link--no-visited-state" href="{% url 'cases:document' case.id document.id %}">
								<span class="govuk-visually-hidden">Download</span> {{ document.name }}
							</a>
						{% elif document.safe == False %}
							{% get_string 'cases.manage.documents.virus_infected' %} {{ document.name }}
						{% else %}
							{% get_string 'cases.manage.documents.processing' %} {{ document.name }}
						{% endif %}
					</a>
				</div>
			{% endfor %}
		</div>
	</div>

	<br>

	<form method="post">
		<h4 class="govuk-heading-s">What you've said</h4>
		<div class="app-summary-list app-inset-text">
			<div class="app-summary-list__item">
				<p class="govuk-caption-m">Is this good controlled?</p>
				<p class="govuk-body-m">{{ data.is_good_controlled|sentence_case }}</p>
			</div>

			{% if data.control_code %}
				<div class="app-summary-list__item">
					<p class="govuk-caption-m">Control Code Classification</p>
					<p class="govuk-body-m">{{ data.control_code }}</p>
				</div>
			{% endif %}

			<div class="app-summary-list__item">
				<p class="govuk-caption-m">Report Summary</p>
				<p class="govuk-body-m">{{ report_summary.name }}</p>
				<br>
				<p class="govuk-body-m">{{ report_summary.text }}</p>
			</div>

			<div class="app-summary-list__item">
				<p class="govuk-caption-m">Comment</p>
				<p class="govuk-body-m">{{ data.comment }}</p>
			</div>
		</div>

		{% hidden_field 'is_good_controlled' data.is_good_controlled %}
		{% hidden_field 'control_code' data.control_code%}
		{% hidden_field 'report_summary' data.report_summary %}
		{% hidden_field 'comment' data.comment %}

		{% csrf_token %}

		<br><br>

		<div class="lite-buttons-row">
			<button type="submit" name="action" value="submit" class="govuk-button">Submit response</button>
			<button type="change" name="action" value="change" class="govuk-button govuk-button--secondary">Change answers</button>
		</div>
	</form>

{% endblock %}
