{% extends 'layouts/base.html' %}

{% block back_link %}
	<a href="{% url 'cases:case' case_id %}" class="govuk-back-link">{% get_string 'cases.back_to_case' %}</a>
{% endblock %}

{% block body %}

	<div class="lite-app-bar">
		<h2 class="govuk-heading-l">{% get_string 'cases.ecju_queries.title' %}</h2>
		<div class="lite-app-bar--right">
			<a role="button" draggable="false" class="govuk-button {% if documents %}govuk-button--secondary{% endif %}" href="{% url 'cases:ecju_queries_add' case_id %}">
				{% get_string 'cases.ecju_queries.add_query.add_button_label' %}
			</a>
		</div>
	</div>

	{% if open_ecju_queries or closed_ecju_queries %}
        {% if open_ecju_queries %}
            <h3 class="govuk-heading-m">Open queries</h3>
            <div class="govuk-accordion">
            {% for query in open_ecju_queries %}
                <p class="govuk-accordion__section-header">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                        {{ query.question }}
                    </span>
                    <p class="govuk-label"><b>User</b>: {{ query.created_at|str_date }}</p>
            {% endfor %}
            </div>
        {% endif %}
        {% if closed_ecju_queries %}
            <h3 class="govuk-heading-m">Closed queries</h3>
            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">
            {% for query in closed_ecju_queries %}
              <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                {{ query.question }}
                            </span>
                            <p class="govuk-label"><b>User</b>: {{ query.created_at|str_date }}</p>
                        </h2>
                    </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <p class='govuk-body'>Answer goes here</p>
                </div>
              </div>
            {% endfor %}
            </div>
        {% endif %}
	{% else %}
		<p class="govuk-caption-l">{% get_string 'cases.ecju_queries.case_has_no_queries' %}</p>
	{% endif %}

{% endblock %}
