{% extends 'layouts/base.html' %}

{% load static %}

{% block back_link %}
	<a href="{% url 'cases:case' case.id %}" class="govuk-back-link">Back to case</a>
{% endblock %}

{% block body %}

    {{ permissions }}

	{% include 'includes/messages.html' %}

	<h2 class="govuk-heading-l">{{ title }}</h2>

	<form method="post">

        {{ able_to_finalize }}

		{% csrf_token %}

		<!-- Tab bar -->
		<div style="display: grid; grid-template-columns: 1fr auto; grid-gap: 30px;">
			<div class="lite-tabs--fade">
				<div class="lite-tabs">
					<a href="{% url 'cases:user_advice_view' case.id %}" class="lite-tabs__tab">User Advice</a>
                    <a href="{% url 'cases:team_advice_view' case.id %}" class="lite-tabs__tab">Team Advice</a>
                    <a href="{% url 'cases:final_advice_view' case.id %}" class="lite-tabs__tab selected">Final Advice</a>
				</div>
			</div>
            {% if 'MANAGE_FINAL_ADVICE' in permissions %}
                {% if case.has_advice.team %}
                    {% if all_advice|length %}
                        <div>
                            <button id="button-give-advice" name="action" value="give-advice" type="submit" class="govuk-button" data-module="govuk-button">
                                Give or change advice
                            </button>
                            <button id="button-give-advice" name="action" value="delete" type="submit" class="govuk-button" data-module="govuk-button">
                                Clear advice
                            </button>
                            {% if able_to_finalize %}
                                <button id="button-give-advice" name="action" value="finalize" type="submit" class="govuk-button" data-module="govuk-button">
                                    Finalize
                                </button>
                            {% endif %}
                        </div>
                    {% else %}
                        <a href="{% url 'cases:coalesce_team_advice' case.id %}" class="lite-tabs__tab">Coalesce all team advice</a>
                    {% endif %}
                {% endif %}
            {% endif %}
		</div>

		<!-- Conditional error wrapper -->
        {% if not case.has_advice.team %}
            {% include 'cases/case/views/advice-view.html' with show_advice=True %}
        {% elif all_advice|length and 'MANAGE_FINAL_ADVICE' in permissions %}
            {% include 'cases/case/views/advice-view.html' with show_checkboxes=True show_advice=True %}
        {% else %}
            {% include 'cases/case/views/advice-view.html' with show_advice=True %}
        {% endif %}

	</form>

{% endblock %}

{% block javascript %}
	<script src="{% static 'javascripts/advice-view.js' %}"></script>
{% endblock %}
