{% extends 'layouts/base.html' %}

{% load static %}

{% block back_link %}
	<a href="{% url 'cases:case' case.id %}" class="govuk-back-link">Back to case</a>
{% endblock %}

{% block body %}

	{% include 'includes/messages.html' %}

	<h2 class="govuk-heading-l">{{ title }}</h2>

	<form method="post">

		{% csrf_token %}

		<!-- Tab bar -->
		<div style="display: grid; grid-template-columns: 1fr auto; grid-gap: 30px;">
			<div class="lite-tabs--fade">
				<div class="lite-tabs">
					<a href="{% url 'cases:user_advice_view' case.id %}" class="lite-tabs__tab" id="user_advice">User Advice</a>
                    <a href="{% url 'cases:team_advice_view' case.id %}" class="lite-tabs__tab" id="team_advice">Team Advice</a>
                    <a href="{% url 'cases:final_advice_view' case.id %}" class="lite-tabs__tab lite-tabs__tab--selected" id="final_advice">Final Advice</a>
				</div>
			</div>
            {% if case.application.status != 'finalised' %}
                {% if 'MANAGE_FINAL_ADVICE' in permissions %}
                    {% if case.has_advice.team %}
                        {% if all_advice|length %}
                            <div>
                                <button id="button-give-advice" name="action" value="give-advice" type="submit" class="govuk-button" data-module="govuk-button">
                                    Give or change advice
                                </button>
                                <button id="button-give-advice" name="action" value="delete" type="submit" class="govuk-button" data-module="govuk-button">
                                    Clear advice
                                </button>
                                {% if able_to_finalize %}
                                    <a class="govuk-button"  href="{% url 'cases:finalise' case.id %}" id="finalise_button">
                                        Finalise
                                    </a>
                                {% endif %}
                            </div>
                        {% else %}
                            <a class="govuk-button" href="{% url 'cases:coalesce_team_advice' case.id %}" class="lite-tabs__tab" id="combine_advice_button">
                                Combine all team advice
                            </a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
		</div>

		<!-- Conditional error wrapper -->
        {% if not case.has_advice.team %}
            {% include 'cases/case/views/advice-view.html' with show_advice=True %}
        {% elif case.application.status == 'finalised' %}
            {% include 'cases/case/views/advice-view.html' with show_advice=True %}
        {% elif all_advice|length and 'MANAGE_FINAL_ADVICE' in permissions %}
            {% include 'cases/case/views/advice-view.html' with show_checkboxes=True show_advice=True %}
        {% else %}
            {% include 'cases/case/views/advice-view.html' with show_advice=True %}
        {% endif %}

	</form>

{% endblock %}

{% block javascript %}
	<script src="{% static 'javascripts/advice-view.js' %}"></script>
{% endblock %}
