{% extends 'layouts/base.html' %}

{% load static humanize %}

{% block back-button %}
	<a href="/cases/{{ caseId }}/" class="govuk-back-link">Back to Case</a>
{% endblock %}

{% block body %}

<h2 class="govuk-heading-l">Assign flags to this case</h2>

<form method="post">

	{% csrf_token %}

	<div class="govuk-form-group">
		<span id="waste-hint" class="govuk-hint">
			Select all that apply.
		</span>
	</div>

	<div class="govuk-form-group">
		<div class="govuk-checkboxes">
			{% for flag in flags_case_level_for_team %}
				<div class="govuk-checkboxes__item">
					<input {% if flag.selected %} checked {% endif %} class="govuk-checkboxes__input" id="{{ flag.name }}" name="flags[]" 
						type="checkbox" value="{{ flag.id }}">
					<label class="govuk-label govuk-checkboxes__label" for="flags[]">
						{{ flag.name }}
					</label>
				</div>
			{% endfor %}
		</div>
	</div>

	<button type="submit" class="govuk-button" style="margin: 0;">
		Save
	</button>
</form>

{% endblock %}
