{% extends 'layouts/base.html' %}

{% load svg %}

{% load humanize static %}

{% block back_link %}
	<a href="{% url 'cases:case' case_id %}" class="govuk-back-link">Back to Case</a>
{% endblock %}

{% block body %}
	<h2 class="govuk-heading-l">{{ title }}</h2>

    <div class="lite-information-board">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <p class="lite-heading-s">Description</p>
                <p class="govuk-label">{{ good.description }}</p>
            </div>
            <div class="govuk-grid-column-one-third">
                <p class="lite-heading-s">Part Number</p>
                <p class="govuk-label">
                    {{ good.part_number|default:'N/A' }}
                </p>
            </div>
            <div class="govuk-grid-column-one-third">
                <p class="lite-heading-s">Control Code</p>
                <p class="govuk-label">
                    {{ good.control_code|default:'N/A' }}
                </p>
            </div>
        </div>
    </div>
    <div class="lite-app-bar">
        <h3 class="govuk-heading-m">Flags</h3>
    </div>

{% include 'cases/case/views/goods-flags.html' %}

    <div class="lite-app-bar">
        <h3 class="govuk-heading-m">Documents</h3>
    </div>


    {% if good.documents %}
{#        <p class="govuk-caption-m">{% get_string 'goods.documents.description' %}</p>#}
        {% for document in good.documents %}
            <div class="lite-card lite-card--download">
                <div>
                    <p class="govuk-body govuk-!-font-weight-bold" style="margin-bottom: 10px;">{{ document.name }}</p>
                    <p class="govuk-body" style="margin-bottom: 10px">{{ document.description|slice:"0:40" }} {% if document.description|length > 40 %}...{% endif %}</p>
                </div>
                <div class="lite-vertical-align">
{#                    {% if document.safe == True %}#}
                        <a class="govuk-link lite-link--icon govuk-link--no-visited-state" href="{% url 'cases:document' case_id document.id %}">
{#                            <span class="govuk-visually-hidden">{% get_string 'goods.documents.download_document' %}</span>#}
                            Download
                        </a>
{#                    {% elif document.safe == False %}#}
{#                        <p class="govuk-label" style="margin: 0;color:red;">{% get_string 'goods.documents.virus_infected' %}</p>#}
{#                    {% else %}#}
{#                        <p class="govuk-label" style="margin: 0;">{% get_string 'goods.documents.processing' %}</p>#}
{#                    {% endif %}#}
                </div>
            </div>
        {% endfor %}
    {% else %}
{#        <p class="govuk-caption-l">{% get_string 'goods.documents.good_has_no_documents' %}</p>#}
    {% endif %}

{% include "cases/case/tabs/good-activity.html" %}

{% endblock %}
