{% extends 'layouts/base.html' %}

{% load static humanize %}

{% load custom_tags %}

{% block back_link %}
	<a href="/cases/{{ case_id }}/goods/{{ good_id }}" class="govuk-back-link">Back to Good</a>
{% endblock %}

{% block body %}

    {{ errors }}

<h2 class="govuk-heading-l">Assign flags to this good</h2>

<form method="post">

	{% csrf_token %}

	<div class="govuk-form-group">
		<span id="waste-hint" class="govuk-hint">
			Select all that apply.
		</span>
	</div>

	<div class="govuk-form-group">
		<div class="govuk-checkboxes">
			{% for flag in good_level_team_flags %}
				<div class="govuk-checkboxes__item">
					<input {% if flag.selected %} checked {% endif %} class="govuk-checkboxes__input" id="{{ flag.name }}" name="flags[]"
						type="checkbox" value="{{ flag.id }}">
					<label class="govuk-label govuk-checkboxes__label" for="{{ flag.name }}">
						{{ flag.name }}
					</label>
				</div>
			{% endfor %}
		</div>

    {% if errors|key_value:'note' %}
        Found an error with notes
    {% endif %}

        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
		<div class="govuk-form-group {% if errors|key_value:'note' %}govuk-form-group--error{% endif %}">
			<label class="govuk-label" for="{{ question.name }}">
				Reason for changing the flags?
			</label>
			{% if errors|key_value:'note' %}
				<span class="govuk-error-message">
					<span class="govuk-visually-hidden">Error:</span> {{ errors|key_value:'note'|first }}
				</span>
			{% endif %}
			<textarea class="govuk-textarea govuk-js-character-count " id="textarea-note" name="note" rows="5" aria-describedby="textarea-note-info textarea-note-hint">{{ data.note }}</textarea>
		</div>

		<span id="textarea-note-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
			You can enter up to 200 characters
		</span>
	</div>

	<button type="submit" class="govuk-button" style="margin: 0;">
		Save
	</button>
</form>

{% endblock %}
