{% extends 'layouts/base.html' %}

{% load humanize %}

{% block body %}

<div class="lite-app-bar">
	<h1 class="govuk-heading-l">{{ title }}</h1>

	<div class="lite-app-bar--right">
		<a role="button" draggable="false" class="govuk-button" href="{% url 'cases:deny' data.case.id %}">
			Deny Application
		</a>
		<a role="button" draggable="false" class="govuk-button" href="{% url 'cases:manage' data.case.id %}">
			Progress Application
		</a>
		<a role="button" draggable="false" class="govuk-button" href="{% url 'cases:decide' data.case.id %}">
			Record Decision
		</a>
	</div>
</div>

<div class="lite-information-board">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			<p class="lite-heading-s">Applicant</p>
			<p class="govuk-label">
				<a class="govuk-link govuk-link--no-visited-state" href="{% url 'organisations:organisation' data.case.application.organisation.id %}">
					{{ data.case.application.organisation.name }}
				</a>
			</p>
		</div>
		<div class="govuk-grid-column-one-third">
			<p class="lite-heading-s">Activity</p>
			<p class="govuk-label">{{ data.case.application.activity }}</p>
		</div>
		<div class="govuk-grid-column-one-third">
			<p class="lite-heading-s">Last Updated</p>
			<p class="govuk-label">
				{{ data.case.application.last_modified_at|str_date }}
			</p>
		</div>
	</div>
	<div class="govuk-grid-row">

		<div class="govuk-grid-column-one-third">
			<p class="lite-heading-s">
				Status
			</p>
			<p class="govuk-label">{{ data.case.application.status | sentence_case}}</p>
		</div>
		<div class="govuk-grid-column-one-third">
			<p class="lite-heading-s">
				Usage
			</p>
			<p class="govuk-label">{{ data.case.application.usage }}</p>
		</div>
	</div>
</div>

{% if data.case.application.application_denial_reason %}
	<h3 class="govuk-heading-m">Denial Reasons</h3>
	{% for reason in data.case.application.application_denial_reason %}
		<p class="govuk-heading-s">This case was denied because</p>
		{% for reason_id in reason.reasons %}
			<p class="govuk-label">{{ reason_id.id }}</p>
		{% endfor %}
		{% if reason.reason_details %}
			<br/>
			<p class="govuk-heading-s">Further information</p>
			<p class="govuk-label">{{ reason.reason_details }}</p>
		{% endif %}
	{% endfor %}
	<br/><br/>
{% endif %}

<div class="lite-tabs--fade">
	<div class="lite-tabs">
		<!--<a class="lite-tabs__tab">Goods</a>
		<a class="lite-tabs__tab">Destinations</a>-->
		<a class="lite-tabs__tab selected" id="case_notes">Case Notes</a>
	</div>
</div>

{% include "cases/case/tabs/case_notes.html" %}

{% endblock %}
