{% extends 'layouts/two-pane.html' %}

{% load svg %}

{% block back_link %}
	<div class="govuk-breadcrumbs">
		<ol class="govuk-breadcrumbs__list">
			<li class="govuk-breadcrumbs__list-item">
				<a class="govuk-breadcrumbs__link" href="{% url 'cases:cases' %}?queue={{ queue.queue.id }}">{% if queue_name %}{{ queue_name }}{% else %}{% lcs 'QUEUE_ALL_CASES' %}{% endif %}</a>
			</li>
			<li class="govuk-breadcrumbs__list-item">
				<a class="govuk-breadcrumbs__link" href="{% url 'cases:cases' %}?queue={{ queue.queue.id }}">Case</a>
			</li>
			<li class="govuk-breadcrumbs__list-item" aria-current="page">{% lcs 'CASES.CaseOfficerPage.Search.TITLE' %}</li>
		</ol>
	</div>
{% endblock %}

{% block two_thirds %}
	{% if error %}
		<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
			<h2 class="govuk-error-summary__title" id="error-summary-title">
				{% lcs 'CASES.CaseOfficerPage.ERROR' %}
			</h2>
			<div class="govuk-error-summary__body">
				<ul class="govuk-list govuk-error-summary__list">
					<li>
						<a href="#radios-users">{{ error }}</a>
					</li>
				</ul>
			</div>
		</div>
	{% endif %}

	<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
		<h1 class="govuk-fieldset__heading govuk-!-margin-bottom-6">
			{% block title %}
				{% lcs 'CASES.CaseOfficerPage.Search.TITLE' %}
			{% endblock %}
		</h1>
	</legend>
	<span class="govuk-hint govuk-!-margin-bottom-6">
        {% lcs 'CASES.CaseOfficerPage.Search.DESCRIPTION' %}
	</span>

    <form method="get" class="govuk-!-margin-bottom-6">
		<div class="lite-search__container">
		    <input type="search" name="search_term" class="govuk-input" name="search" id="input-search" value="{{ search_term }}" placeholder="{% lcs 'CASES.CaseOfficerPage.Search.PLACEHOLDER' %}" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
            <button class="lite-search__button" type="submit" id="button-search">
				{% svg 'search' %}
				<span>{% lcs 'CASES.CaseOfficerPage.Search.SEARCH' %}</span>
			</button>
	    </div>
    </form>

	{% if users.users %}
		<form method="post">
            {% csrf_token %}

			<div id="radios-users" class="govuk-radios {% if error %}govuk-form-group--error{% endif %} govuk-!-margin-bottom-6">
				{% if error %}
					<span id="nationality-error" class="govuk-error-message">
						<span class="govuk-visually-hidden">Error:</span>
						{{ error }}
					</span>
				{% endif %}
	            {% for user in users.users %}
	                <div class="govuk-radios__item">
	                    <input class="govuk-radios__input" id="user-{{ user.id }}" name="user" type="radio" value="{{ user.id }}"
	                        {% if user.id == users.case_officer.id %}checked{% endif %}>
	                    <label class="govuk-label govuk-radios__label" for="user-{{ user.id }}">
							{% if user.first_name %}
	                        	{{ user.first_name|add:' '|add:user.last_name|highlight_text:search_term }}
							{% else %}
								{{ user.email }}
							{% endif %}
	                    </label>
						{% if user.first_name %}
		                    <span class="govuk-hint govuk-radios__hint">
		                        {{ user.email }}
		                    </span>
						{% endif %}
	                    <span class="govuk-hint govuk-radios__hint">
	                        {{ user.team }}
	                    </span>
	                </div>
	            {% endfor %}
			</div>

            <button id="button-assign" class="govuk-button" data-module="govuk-button" type="submit" name="_action" value="assign" action="assign">
                {% lcs 'CASES.CaseOfficerPage.Search.ASSIGN' %}
            </button>

		</form>
	{% else %}
        <p class="govuk-caption-l">{% lcs 'CASES.CaseOfficerPage.Search.NO_RESULTS' %}</p>
	{% endif %}
{% endblock %}

{% block one_third %}
	{% if users.case_officer %}
		<aside class="lite-related-items" role="complementary">
			<h2 class="govuk-heading-m" id="subsection-title">
				{% lcs 'CASES.CaseOfficerPage.CurrentOfficer.TITLE' %}
			</h2>
			<dl class="govuk-summary-list govuk-summary-list--no-border">
				{% if users.case_officer.first_name %}
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							{% lcs 'CASES.CaseOfficerPage.CurrentOfficer.FULLNAME' %}
						</dt>
						<dd class="govuk-summary-list__value">
							{{ users.case_officer.first_name }} {{ users.case_officer.last_name }}
						</dd>
					</div>
				{% endif %}
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						{% lcs 'CASES.CaseOfficerPage.CurrentOfficer.EMAIL' %}
					</dt>
					<dd class="govuk-summary-list__value">
						{{ users.case_officer.email }}
					</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						{% lcs 'CASES.CaseOfficerPage.CurrentOfficer.TEAM' %}
					</dt>
					<dd class="govuk-summary-list__value">
						{{ users.case_officer.team }}
					</dd>
				</div>
			</dl>
			<form class="lite-horizontal-align-right" method="post">
				{% csrf_token %}
				<button id="button-unassign" class="govuk-link lite-button--link lite-link--icon" data-module="govuk-button" type="submit" name="_action" value="unassign" action="unassign">
					{% svg 'close' %}
					{% lcs 'CASES.CaseOfficerPage.CurrentOfficer.BUTTON' %}
				</button>
			</form>
		</aside>
	{% endif %}
{% endblock %}

{% block javascript %}
{% endblock %}
