{% extends 'layouts/two_pane.html' %}

{% load svg %}

{% block back_link %}
    <a href="{% url 'cases:case' case_id %}" id="back-link" class="govuk-back-link">{% lcs 'CASES.CaseOfficerPage.BACKLINK' %}</a>
{% endblock %}

{% block title %}{% lcs 'CASES.CaseOfficerPage.TITLE' %}{% endblock %}

{% block body %}

	{% if show_error or error %}
		 <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
			<h2 class="govuk-error-summary__title" id="error-summary-title">
                {% if error %}
                    {{ error }}
                {% else %}
                    {% lcs 'CASES.CaseOfficerPage.ERROR' %}
                {% endif %}
			</h2>
		</div>
	{% endif %}

    {% if users.case_officer %}
        <h2 class="govuk-heading-l">
            {% lcs 'CASES.CaseOfficerPage.CurrentOfficer.TITLE' %}
        </h2>
        <div class="app-case-board">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-quarter">
                    <p class="app-case-board__heading">{% lcs 'CASES.CaseOfficerPage.CurrentOfficer.FULLNAME' %}</p>
				    <p>{{ users.case_officer.full_name }}</p>
                </div>
                <div class="govuk-grid-column-one-quarter">
                    <p class="app-case-board__heading">{% lcs 'CASES.CaseOfficerPage.CurrentOfficer.EMAIL' %}</p>
				    <p>{{ users.case_officer.email }}</p>
                </div>
                <div class="govuk-grid-column-one-quarter">
                    <p class="app-case-board__heading">{% lcs 'CASES.CaseOfficerPage.CurrentOfficer.TEAM' %}</p>
				    <p>{{ users.case_officer.team }}</p>
                </div>
                <div class="govuk-grid-column-one-quater">
                    <p class="app-case-board__heading">{% lcs 'CASES.CaseOfficerPage.CurrentOfficer.REMOVE' %}</p>
                    <form method="post">
                        {% csrf_token %}
                        <button id="button-unassign" class="govuk-button" data-module="govuk-button" type="submit" name="_action" value="unassign" action="unassign">
                            {% lcs 'CASES.CaseOfficerPage.CurrentOfficer.BUTTON' %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

	<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
		<h2 class="govuk-fieldset__heading">
			{% lcs 'CASES.CaseOfficerPage.Search.TITLE' %}
		</h2>
	</legend>
	<span class="govuk-hint">
        {% lcs 'CASES.CaseOfficerPage.Search.DESCRIPTION' %}
	</span>
    <form method="get" class="govuk-!-margin-bottom-6">
		<div class="lite-search__container">
		    <input type="search" name="search_term" class="govuk-input" name="search" id="textarea-search" value="{{ search_term }}" placeholder="{% lcs 'CASES.CaseOfficerPage.Search.PLACEHOLDER' %}" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
            <button class="lite-search__button" type="submit" id="button-search">
				{% svg 'search' %}
				<span>{% lcs 'CASES.CaseOfficerPage.Search.SEARCH' %}</span>
			</button>
	    </div>
    </form>

	{% if users.users|length %}
		<form method="post">
            {% csrf_token %}

            {% for user in users.users %}
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="user-{{ user.id }}" name="user" type="radio" value="{{ user.id }}"
                        {% if user.id == users.case_officer.id %}checked{% endif %}>
                    <label class="govuk-label govuk-radios__label" for="user-{{ user.id }}">
                        {{ user.full_name|highlight_text:search_term }}
                    </label>
                    <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                        {{ user.email }}
                    </span>
                    <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                        {{ user.team }}
                    </span>
                </div>
            {% endfor %}

            <button id="button-assign" class="govuk-button" data-module="govuk-button" type="submit" name="_action" value="assign" action="assign">
                {% lcs 'CASES.CaseOfficerPage.Search.ASSIGN' %}
            </button>

		</form>
	{% else %}
        <p class="govuk-caption-l">{% lcs 'CASES.CaseOfficerPage.Search.NORESULTS' %}</p>
	{% endif %}

{% endblock %}
