{% extends 'layouts/case.html' %}

{% block details %}
	{% include 'includes/messages.html' %}

	{% for tab in tabs %}
		<div id="{{ tab.id }}-content" class="app-case-tab-view {% if tab.url == current_tab %}app-case-tab-view--visible{% endif %}">
			{% include 'case/tabs/'|add:tab.url|add:'.html' %}
		</div>
	{% endfor %}

	<script type="text/javascript">
		$(".app-case-tab-bar .lite-tabs__tab").click(function() {
			console.log($(this).attr("id") + "-content")
			$(".lite-tabs__tab").removeClass("lite-tabs__tab--selected");
			$(".app-case-tab-view--visible").removeClass("app-case-tab-view--visible");
			$("#" + $(this).attr("id") + "-content").addClass("app-case-tab-view--visible");
			$(this).addClass("lite-tabs__tab--selected");
			window.history.pushState({}, null, $(this).attr("href"));
			return false;
		})
	</script>
{% endblock %}
