{% extends 'layouts/two_pane.html' %}

{% load svg %}

{% block back_link %}
<a href="{% url 'cases:case' case_id %}" id="back-link" class="govuk-back-link">{% lcs 'CASE.Case_Officer.BackLink' %}</a>
{% endblock %}

{% block body %}

	{% if show_error %}
		 <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
			<h2 class="govuk-error-summary__title" id="error-summary-title">
				There is a problem
			</h2>
			<div class="govuk-error-summary__body">
				<ul class="govuk-list govuk-error-summary__list">
					<li>
						<a href="#">Select a user to set as case officer.</a>
					</li>
				</ul>
			</div>
		</div>
	{% endif %}

    {% if users.case_officer %}
        <h2>
            {% lcs 'CASE.Case_Officer.Current.Title' %}
        </h2>
        <div class="app-case-board">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-quarter">
                    <p class="app-case-board__heading">{% lcs 'CASE.Case_Officer.Current.Name' %}</p>
				    <p>{{ users.case_officer.full_name }}</p>
                </div>
                <div class="govuk-grid-column-one-quarter">
                    <p class="app-case-board__heading">{% lcs 'CASE.Case_Officer.Current.Email' %}</p>
				    <p>{{ users.case_officer.email }}</p>
                </div>
                <div class="govuk-grid-column-one-half">
                    <p class="app-case-board__heading">{% lcs 'CASE.Case_Officer.Current.UnAssign' %}</p>
                    <form method="post">
                        {% csrf_token %}
                        <button id="unassign" class="govuk-button" data-module="govuk-button" type="submit" name="_action" value="unassign" action="unassign">
                            {% lcs 'CASE.Case_Officer.Remove' %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

	<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
		<h1 class="govuk-fieldset__heading">
			{% block title %}Assign a Case Officer to the case{% endblock %}
		</h1>
	</legend>
	<span class="govuk-hint">
		Search for a user by their full name
	</span>
    <form method="get" class="govuk-!-margin-bottom-6">
		<div class="lite-search__container">
		    <input type="search" name="search_term" class="govuk-input" name="search" id="search" value="{{ search_term }}" placeholder="{% lcs 'CASE.Case_Officer.Search.Placeholder' %}" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
            <button class="lite-search__button" type="submit">
				{% svg 'search' %}
				<span>{% lcs 'CASE.Case_Officer.Search.Submit' %}</span>
			</button>
	    </div>
    </form>

	{% if users.users|length %}
		<form method="post">
            {% csrf_token %}

            {% for user in users.users %}
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="user-{{ user.id }}" name="user" type="radio" value="{{ user.id }}"
                        {% if user.id == users.case_officer.id %}checked{% endif %}>
                    <label class="govuk-label govuk-radios__label" for="user-{{ user.id }}">
                        {{ user.full_name|highlight_text:search_term }}
                    </label>
                    <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                        {{ user.email }}
                    </span>
                </div>
            {% endfor %}

            <button id="assign" class="govuk-button" data-module="govuk-button" type="submit" name="_action" value="assign" action="assign">
                    {% lcs 'CASE.Case_Officer.Assign' %}
            </button>

		</form>
	{% elif params.search_term %}
        {% lcs 'CASE.Case_Officer.None_Found' %}
	{% endif %}

{% endblock %}
