{% extends 'layouts/base.html' %}

{% load humanize static %}

{% block back_link %}
	<a href="{% url 'cases:cases' %}?queue={{ queue.queue.id }}" class="govuk-back-link">
		Back to {% if queue_name %}{{ queue_name }}{% else %}All cases{% endif %}
	</a>
{% endblock %}

{% block body %}

{% if notification %}
    <a id="case-notification" class="lite-info-bar lite-info-bar--link lite-info-bar--no-animation" href="#case-activity-{{ notification.audit_id }}">
        {% lcs 'CASE_CHANGES' %}
    </a>
{% endif %}

<div class="lite-app-bar">
	<div class="lite-app-bar__content">
		<p class="govuk-caption-m" style="margin: 0;">{{ case.application.application_type.value }}</p>
		<h2 class="govuk-heading-l">{{ title }}</h2>
        <p class="govuk-caption-m">Exporter <a id="applicant_organisation" class="govuk-link govuk-link--no-visited-state" style="display: inline-block;" href="{% url 'organisations:organisation' case.application.organisation.id %}">{{ case.application.organisation.name }}</a></p>
        <p class="govuk-caption-m">Raised by <a id="hmrc_organisation" class="govuk-link govuk-link--no-visited-state" style="display: inline-block;" href="{% url 'organisations:organisation' case.application.hmrc_organisation.id %}">{{ case.application.hmrc_organisation.name }}</a></p>
	</div>
	<div class="lite-app-bar__controls">
		<div class="app-more-actions__container">
			<a role="button" draggable="false" class="govuk-button" href="{% url 'cases:documents' case.id %}">
	           	{% lcs 'CASES.HMRCPage.Actions.DOCUMENT' %}
	        </a>
	        <a role="button" draggable="false" class="govuk-button" href="{% url 'cases:move' case.id %}">
				{% lcs 'CASES.HMRCPage.Actions.MOVE' %}
			</a>
            {% if not status_is_terminal or 'REOPEN_CLOSED_CASES' in permissions %}
			<a role="button" draggable="false" class="govuk-button" href="{% url 'cases:manage' case.id %}">
				{% lcs 'CASES.HMRCPage.Actions.CHANGE_STATUS' %}
			</a>
            {% endif %}
			{% if permissions|key_in_array:'MAKE_FINAL_DECISIONS' and not status_is_terminal%}
				<a role="button" draggable="false" class="govuk-button" href="{% url 'cases:decide' case.id %}">
					{% lcs 'CASES.HMRCPage.Actions.RECORD_DECISION' %}
				</a>
			{% endif %}
            <a role="button" draggable="false" class="govuk-button" id="generate-document" href="{% url 'cases:generate_document' case.id %}">
                {% lcs 'CASES.ApplicationPage.Actions.GENERATE_DOCUMENT' %}
            </a>
		</div>
	</div>
</div>

{% if case.all_flags %}
    <p class="govuk-caption-m">All flags</p>
    <div class="app-flags">
        {% for flag in case.all_flags %}
            <div class="app-flag" id="{{ flag.name }}">
                {{ flag.name }}
            </div>
        {% endfor %}
    </div>
    <br>
{% endif %}

<!-- Case flags -->
{% include 'case/views/case-flags.html' %}

<!-- Information board -->
{% include 'case/views/application-information-board.html' %}

{% if case.application.application_denial_reason %}
<h3 class="govuk-heading-m">Denial Reasons</h3>
{% for reason in case.application.application_denial_reason %}
<p class="govuk-heading-s">This case was denied because</p>
{% for reason_id in reason.reasons %}
<p class="govuk-label">{{ reason_id.id }}</p>
{% endfor %}
{% if reason.reason_details %}
<br />
<p class="govuk-heading-s">Further information</p>
<p class="govuk-label">{{ reason.reason_details }}</p>
{% endif %}
{% endfor %}
<br /><br />
{% endif %}

<!-- Goods -->

<form action="{% url 'cases:assign_flags' case.id %}" method="get">
    <input type="hidden" name="level" value="goods"/>
    <button id="button-edit-goods-flags" value="goods" class="govuk-button" data-module="govuk-button">
        {% lcs 'Cases.Case.EDIT_GOODS_FLAGS' %}
    </button>
    <table class="govuk-table">
        <thead class="govuk-table__header">
            <tr>
                <th class="govuk-table__header" scope="col">Description</th>
                <th class="govuk-table__header" scope="col">Control list entry</th>
                <th class="govuk-table__header" scope="col">{% lcs 'GOOD_CONTROLLED' %}</th>
                <th class="govuk-table__header" scope="col">Flags</th>
            </tr>
        </thead>
        <tbody>
            {% for good in case.application.goods_types %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <div class="govuk-checkboxes--small govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" type="checkbox" name="goods" value="{{ good.id }}" id="{{ good.id }}">
                            <label class="govuk-label govuk-checkboxes__label" for="{{ good.id }}">{{ good.description }}</label>
                        </div>
                    </td>
                    <td class="govuk-table__cell">
                        <span class="app-country-tag app-country-tag--orange">{{ good.control_code|default_na }}</span>
                    </td>
                    <td class="govuk-table__cell">
                        {{ good.is_good_controlled|friendly_boolean }}
                    </td>
                    <td class="govuk-table__cell">
                        {% if good.flags %}
                            {% for flag in good.flags %}
                                {{ flag.name }}<br>
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

<!-- Destinations/End-User -->
{% include 'case/views/standard-destinations.html' %}

<!--TODO: Fix this JF-->
{% if case.application.supporting_documentation %}
<h3 class="govuk-heading-m">Supporting documentation</h3>
	<table class="govuk-table" id="supporting-documentation">
		<thead class="govuk-table__head">
			<tr class="govuk-table__row">
				<th class="govuk-table__header" scope="col">Name</th>
				<th class="govuk-table__header" scope="col">Description</th>
                <th class="govuk-table__header" scope="col">Document</th>
			</tr>
		</thead>
		<tbody class="govuk-table__body">
        {%  for supporting_documentation in case.application.supporting_documentation %}
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    {{ supporting_documentation.name }}
                </td>
                <td class="govuk-table__cell">
                    {{ supporting_documentation.description }}
                </td>
                <td class="govuk-table__cell">
                    {% if supporting_documentation.safe == True %}
                    <a class="govuk-link govuk-link--no-visited-state" id="supporting_documentation-{{ supporting_documentation.id }}" href="{% url 'cases:document' case.id supporting_documentation.id %}">
                        <span class="govuk-visually-hidden">{% lcs 'Cases.Manage.Documents.DOWNLOAD_DOCUMENT' %}</span>
                        {{ supporting_documentation.name }}<br>
                    </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
		</tbody>
	</table>
{% endif %}

    {% include "case/views/activity.html" %}
{% endblock %}

{% block javascript %}
	<script src="{% static 'javascripts/more-actions.js' %}"></script>
	<script src="{% static 'javascripts/edit-good-flags.js' %}"></script>
{% endblock %}
