{% extends 'layouts/base.html' %}

{% load humanize %}

{% block back_link %}
	<a href="{% url 'cases:case' case_id %}" class="govuk-back-link">
		{% lcs 'Cases.ReviewGoodsSummary.BACK_LINK' %}
	</a>
{% endblock %}

{% block body %}

<div class="lite-app-bar">
	<div class="lite-app-bar__content">
		<p class="govuk-caption-m" style="margin: 0;">{{ case.application.application_type.value }}</p>
		<h2 class="govuk-heading-l">{% lcs 'Cases.ReviewGoodsSummary.HEADING' %}</h2>
	</div>
    <div class="lite-app-bar__controls">
        <a id="button-add-report-summary" value="goods" class="btn govuk-button" data-module="govuk-button" href="{{ review_goods_clc_url }}">
			{% lcs 'Cases.ReviewGoodsSummary.REVIEW_BUTTON' %}
        </a>
    </div>
</div>

<div class="app-flags" id="application-case-flags">
    {% for flag in case.flags %}
        <div class="app-flag" id="{{ flag.name }}">
            {{ flag.name }}
        </div>
    {% endfor %}
	<a href="{{ edit_flags_url }}" id="button-edit-goods-flags" class="app-flag app-flag--action">
        {% lcs 'Cases.ReviewGoodsSummary.SET_FLAGS' %}
	</a>
</div>

<!-- Goods -->
<table class="govuk-table" id="goods">
	<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<th class="govuk-table__header">Description</th>
            <th class="govuk-table__header">Report summary</th>
			<th class="govuk-table__header">{% lcs 'GOOD_CONTROLLED' %}</th>
            <th class="govuk-table__header">Controlled list entry</th>
            <th class="govuk-table__header">Goods Comment</th>
			{% if application_type != "open_licence" %}
            	<th class="govuk-table__header">Quantity/Value</th>
			{% endif %}
            <th class="govuk-table__header">Flags</th>
		</tr>
	</thead>
	<tbody class="govuk-table__body">
		{% if application_type == "open_licence" %}
			{% for good in objects %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">{{ good.description }}</td>
					<td class="govuk-table__cell">{{ good.report_summary|default_if_none:"N/A" }}</td>
					<td class="govuk-table__cell">{{ good.is_good_controlled|capfirst}}</td>
					<td class="govuk-table__cell">{{ good.control_code}}</td>
					<td class="govuk-table__cell">{{ good.comment}}</td>
					<td class="govuk-table__cell">
						{% for flag in good.flags %}
							{{ flag.name}} <br>
						{% endfor %}
					</td>
				</tr>
			{% endfor %}
		{% else %}
			{% for good in objects %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">{{ good.good.description }}</td>
					<td class="govuk-table__cell">{{ good.good.report_summary|default_if_none:"N/A" }}</td>
					<td class="govuk-table__cell">{{ good.good.is_good_controlled|capfirst}}</td>
					<td class="govuk-table__cell">{{ good.good.control_code}}</td>
					<td class="govuk-table__cell">{{ good.good.comment}}</td>
					<td class="govuk-table__cell">{{ good.quantity }} {{ good.unit.value }}/£{{ good.value }}</td>
					<td class="govuk-table__cell">
						{% for flag in good.good.flags %}
							{{ flag.name}} <br>
						{% endfor %}
					</td>
				</tr>
			{% endfor %}
		{% endif %}
	</tbody>
</table>

{% endblock %}
