{% extends 'layouts/base.html' %}

{% load humanize %}

{% block back_link %}
	<a href="{% url 'cases:case' case_id %}" class="govuk-back-link">
		{% lcs 'CASES.ReviewGoodsSummary.BACK_LINK' %}
	</a>
{% endblock %}

{% block body %}

<div class="lite-app-bar">
	<div class="lite-app-bar__content">
		<p class="govuk-caption-m" style="margin: 0;">{{ case.application.application_type.value }}</p>
		<h2 class="govuk-heading-l">{% lcs 'CASES.ReviewGoodsSummary.HEADING' %}</h2>
	</div>
    <div class="lite-app-bar__controls">
        <a id="button-add-report-summary" value="goods" class="btn govuk-button" data-module="govuk-button" href="{{ review_goods_clc_url }}">
			{% lcs 'CASES.ReviewGoodsSummary.REVIEW_BUTTON' %}
        </a>
    </div>
</div>

<div class="app-flags" id="application-case-flags">
    {% for flag in case.flags %}
        <div class="app-flag" id="{{ flag.name }}">
            {{ flag.name }}
        </div>
    {% endfor %}
	<a href="{{ edit_flags_url }}" id="button-edit-goods-flags" class="app-flag app-flag--action">
        {% lcs 'CASES.ReviewGoodsSummary.SET_FLAGS' %}
	</a>
</div>

<!-- Goods -->
<table class="govuk-table" id="goods">
	<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<th class="govuk-table__header">{% lcs 'CASES.ReviewGoodsSummary.Table.DESCRIPTION' %}</th>
			<th class="govuk-table__header">{% lcs 'CASES.ReviewGoodsSummary.Table.REPORT_SUMMARY' %}</th>
			<th class="govuk-table__header">{% lcs 'CASES.ReviewGoodsSummary.Table.CONTROLLED' %}</th>
			<th class="govuk-table__header">{% lcs 'CASES.ReviewGoodsSummary.Table.CONTROL_LIST_ENTRY' %}</th>
			<th class="govuk-table__header">{% lcs 'CASES.ReviewGoodsSummary.Table.GOODS_COMMENT' %}</th>
			{% if application_type == "standard_licence" %}
				<th class="govuk-table__header">{% lcs 'CASES.ReviewGoodsSummary.Table.QUANTITY_VALUE' %}</th>
			{% endif %}
			<th class="govuk-table__header">{% lcs 'CASES.ReviewGoodsSummary.Table.FLAGS' %}</th>
		</tr>
	</thead>
	<tbody class="govuk-table__body">
		{% for good in objects %}
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">{{ good.description }}</td>
				<td class="govuk-table__cell">
					{% if good.report_summary %}
						{{ good.report_summary }}
					{% else %}
						<span class="lite-hint">{% lcs 'CASES.ReviewGoodsSummary.NotSet.REPORT_SUMMARY' %}</span>
					{% endif %}
				</td>
				<td class="govuk-table__cell">{{ good.is_good_controlled|friendly_boolean }}</td>
				<td class="govuk-table__cell">{{ good.control_code|default_na }}</td>
				<td class="govuk-table__cell">
					{% if good.comment %}
						{{ good.comment}}
					{% else %}
						<span class="lite-hint">{% lcs 'CASES.ReviewGoodsSummary.NotSet.COMMENT' %}</span>
					{% endif %}
				</td>
				{% if application_type == "standard_licence" %}
					<td class="govuk-table__cell">{{ good.quantity }} {{ good.unit.value }}/£{{ good.value }}</td>
				{% endif %}
				<td class="govuk-table__cell">
					{% if good.flags %}
						{% for flag in good.flags %}
							{{ flag.name}} <br>
						{% endfor %}
					{% else %}
						<span class="lite-hint">{% lcs 'CASES.ReviewGoodsSummary.NotSet.FLAGS' %}</span>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
