<div class="app-activity__list">
	{% for audit in activity %}
		<div id="case-activity-{{ audit.id }}" class="app-activity__item">
			<p class="govuk-body">
				<span class="user">{{ audit.user.first_name }} {{ audit.user.last_name }}</span> {{ audit.text }}
			</p>
			{% if audit.additional_text %}
				<div class="app-activity__additional-text">
					{{ audit.additional_text }}
				</div>
			{% endif %}
			<p class="govuk-hint govuk-!-font-size-16">{{ audit.created_at|str_date }}</p>
		</div>
	{% endfor %}
</div>
