<div id="audit-trail" class="app-activity__list">
	{% if activity %}
		{% for audit in activity %}
			<div id="case-activity-{{ audit.id }}" class="app-activity__item">
				<p class="govuk-body">
					{# user not guaranteed to have id e.g, in case of system user #}
					{% if audit.user.type == 'exporter' or not audit.user.id %}
						<span class="app-activity__item__user">{{ audit.user.first_name }} {{ audit.user.last_name }}</span>
					{% else %}
						<a href="{% url 'users:user' audit.user.id %}" class="app-activity__item__user app-activity__item__user--link">{{ audit.user.first_name }} {{ audit.user.last_name }}</a>
					{% endif %}
					<span data-max-length="400">
						{{ audit.text }}
					</span>
				</p>
				{% if audit.additional_text %}
					<div class="app-activity__additional-text">
						{{ audit.additional_text }}
					</div>
				{% endif %}
				<p class="govuk-hint govuk-!-font-size-16">{{ audit.created_at|str_date }}</p>
			</div>
		{% endfor %}
	{% else %}
		{% include "includes/notice.html" with text="cases.ApplicationPage.ActivityFilters.NO_ACTIVITIES" %}
	{% endif %}
</div>
