{% load variable_highlight %}

<h4 class="govuk-heading-s"><a href="{% url 'picklists:picklist_item' picklist_item.id %}" class="govuk-link govuk-link--no-visited-state">{{ picklist_item.name }}</a></h4>
<p class="govuk-body-m">
	<span class="govuk-caption-m" style="display: inline;">Created by</span>
	<a class="govuk-link govuk-link--no-visited-state" href="{% url 'teams:team' picklist_item.team %}">{{ picklist_item.team_name }}</a>
	<span class="govuk-caption-m" style="display: inline;">- Last updated</span>
	<span class="govuk-visually-hidden"> on </span>
	{{ picklist_item.last_modified_at|str_date }}
</p>
<div class="app-picklist-item__text">
	<p class="govuk-body-m">
		{% if picklist_item.type.key == "letter_paragraph" %}
			{{ picklist_item.text|variable_highlight|linebreaksbr }}
		{% else %}
			{{ picklist_item.text|linebreaksbr }}
		{% endif %}
	</p>
</div>
