{% extends 'layouts/case.html' %}

{% load static svg %}

{% block details %}
	<div class="app-case-board">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-one-quarter">
				<p class="app-case-board__heading">{% lcs 'CASE_INFO_ORGANISATION' %}</p>
				<a id="link-organisation" class="govuk-link govuk-link--no-visited-state" href="{% url 'organisations:organisation' case.application.organisation.id %}">
					{{ case.application.organisation.name }}
				</a>
			</div>
			<div class="govuk-grid-column-one-quarter">
				<p class="app-case-board__heading">{% lcs 'CASE_INFO_STATUS' %}</p>
				<p>{{ case.application.status.value }}</p>
			</div>
			<div class="govuk-grid-column-one-quarter">
				<p class="app-case-board__heading">{% lcs 'CASE_INFO_ACTIVITY' %}</p>
				<p>{{ case.application.activity }}</p>
			</div>
			<div class="govuk-grid-column-one-quarter">
				<p class="app-case-board__heading">{% lcs 'CASE_INFO_SUBMITTED_AT' %}</p>
				<p>{{ case.application.submitted_at|str_date }}</p>
			</div>
		</div>
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-one-quarter">
				<p class="app-case-board__heading">{% lcs 'CASE_INFO_TYPE' %}</p>
				<p>{{ case.application.case_type.sub_type.value }}</p>
			</div>
			<div class="govuk-grid-column-one-quarter">
				<p class="app-case-board__heading">{% lcs 'CASE_INFO_EXPORT_TYPE' %}</p>
				<p>{{ case.application.export_type.value }}</p>
			</div>
			<div class="govuk-grid-column-one-quarter">
				<p class="app-case-board__heading">{% lcs 'CASE_INFO_USAGE' %}</p>
				<p>{{ case.application.usage|default_na }}</p>
			</div>
			<div class="govuk-grid-column-one-quarter">
				<p class="app-case-board__heading">{% lcs 'CASE_INFO_LAST_UPDATED' %}</p>
				<p>{{ case.application.updated_at|str_date }}</p>
			</div>
		</div>
	</div>

	<div class="govuk-accordion app-accordion" data-module="govuk-accordion" id="accordion-default">
		<!-- Goods Types -->
		<div class="govuk-accordion__section">
			<div class="govuk-accordion__section-header">
				<h2 class="govuk-accordion__section-heading">
					<span class="govuk-accordion__section-button" id="accordion-default-heading-1">
						{% lcs 'CASE_GOODS' %}
					</span>
				</h2>
			</div>
			<div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
				<form action="{% url 'cases:review_goods' queue.id case.id %}" method="get">
					{% if 'REVIEW_GOODS' in permissions and not status_is_terminal %}
						<button id="button-review-goods" name="action" value="review-goods" class="govuk-button" data-module="govuk-button">
							{% lcs 'cases.OpenApplication.REVIEW_PRODUCTS' %}
						</button>
					{% endif %}
					<button id="button-edit-goods-flags" name="action" value="edit-flags" class="govuk-button" data-module="govuk-button">
						{% lcs 'cases.OpenApplication.SET_FLAGS' %}
					</button>
					<table class="govuk-table">
						<thead class="govuk-table__head">
							<tr class="govuk-table__row">
								<th scope="col" class="govuk-table__header">
									<button id="link-select-all-goods" type="button" name="button" class="lite-button-checkbox" title="Select all/Deselect all"></button>
								</th>
								<th scope="col" class="govuk-table__header"></th>
								<th scope="col" class="govuk-table__header govuk-!-width-one-half">{% lcs 'GOOD_DESCRIPTION' %}</th>
								<th scope="col" class="govuk-table__header">{% lcs 'GOOD_CONTROLLED' %}</th>
								<th scope="col" class="govuk-table__header">{% lcs 'GOOD_CONTROL_LIST_ENTRY' %}</th>
								<th scope="col" class="govuk-table__header">{% lcs 'GOOD_INCORPORATED' %}</th>
								<th scope="col" class="govuk-table__header">{% lcs 'cases.ApplicationPage.Goods.Table.FLAGS' %}</th>
								<th scope="col" class="govuk-table__header"></th>
							</tr>
						</thead>
						<tbody class="govuk-table__body">
							{% for good in case.application.goods_types %}
								<tr class="govuk-table__row">
									<td class="govuk-table__cell govuk-table__cell--checkbox">
										<input class="govuk-checkboxes__input" type="checkbox" name="goods" value="{{ good.id }}" id="{{ good.id }}">
										<label class="govuk-checkboxes__label" for="{{ good.id }}"></label>
									</td>
									<td class="govuk-table__cell govuk-table__cell--line-number">
										{{ forloop.counter }}.
									</td>
									<td class="govuk-table__cell">{{ good.description }}</td>
									<td class="govuk-table__cell">{{ good.is_good_controlled|friendly_boolean }}</td>
									<td class="govuk-table__cell">{{ good.control_code|default_na }}</td>
									<td class="govuk-table__cell">{{ good.is_good_incorporated|friendly_boolean }}</td>
									<td class="govuk-table__cell">
										{% for flag in good.flags %}
											{{ flag.name }}<br>
										{% endfor %}
									</td>
									<td class="govuk-table__cell">
										<a onclick="return openTableFold(this);">
											{% svg 'chevron' %}
										</a>
									</td>
								</tr>
								<tr class="lite-accordian-table__fold">
									<td class="lite-accordian-table__fold-wrapper" colspan="7">
										<div class="lite-accordian-table__fold-content">
											<p class="govuk-body">
												{% lcs 'CASE_DESTINATIONS_HEADER' %}:
												{% for country in good.countries %}
													<span class="app-country-tag">{{ country.name }}</span>
												{% empty %}
													{% for country in case.application.destinations.data %}
														<span class="app-country-tag">{{ country.name }}</span>
													{% endfor %}
												{% endfor %}
											</p>
										</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</form>
			</div>
		</div>

		<!-- End Use Details -->
		<div class="govuk-accordion__section">
			<div class="govuk-accordion__section-header">
				<h2 class="govuk-accordion__section-heading">
					<span class="govuk-accordion__section-button" id="accordion-default-heading-3">
						{% lcs 'cases.ApplicationPage.EndUseDetails.TITLE' %}
					</span>
				</h2>
			</div>
			<div id="accordion-end-use-details-content" class="govuk-accordion__section-content" aria-labelledby="accordion-end-use-details">
				<table class="govuk-table" id="end-use-details">
					<thead class="govuk-table__head">
						<tr class="govuk-table__row">
							<th class="govuk-table__header">{% lcs 'cases.ApplicationPage.EndUseDetails.NUMBER_COLUMN' %}</th>
							<th class="govuk-table__header">{% lcs 'cases.ApplicationPage.EndUseDetails.DESCRIPTION_COLUMN' %}</th>
							<th class="govuk-table__header">{% lcs 'cases.ApplicationPage.EndUseDetails.ANSWER_COLUMN' %}</th>
						</tr>
					</thead>
					<tbody class="govuk-table__body">
						<tr class="govuk-table__row">
							<td class="govuk-table__cell govuk-table__cell--line-number">
								1.
							</td>
							<td class="govuk-table__cell govuk-!-font-weight-bold">
								{% lcs 'cases.ApplicationPage.EndUseDetails.INTENDED_END_USE_TITLE' %}
							</td>
							<td class="govuk-table__cell">
								{{ case.application.intended_end_use|default:"" }}
							</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell govuk-table__cell--line-number">
								2.
							</td>
							<td class="govuk-table__cell govuk-!-font-weight-bold">
								{% lcs 'cases.ApplicationPage.EndUseDetails.INFORMED_TO_APPLY_TITLE' %}
							</td>
							<td class="govuk-table__cell">
								{{ case.application.is_military_end_use_controls|friendly_boolean }}<br>
								{{ case.application.military_end_use_controls_ref|default:"" }}
							</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell govuk-table__cell--line-number">
								3.
							</td>
							<td class="govuk-table__cell govuk-!-font-weight-bold">
								{% lcs 'cases.ApplicationPage.EndUseDetails.INFORMED_WMD_TITLE' %}
							</td>
							<td class="govuk-table__cell">
								{{ case.application.is_informed_wmd|friendly_boolean }}<br>
								{{ case.application.informed_wmd_ref|default:"" }}
							</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell govuk-table__cell--line-number">
								4.
							</td>
							<td class="govuk-table__cell govuk-!-font-weight-bold">
								{% lcs 'cases.ApplicationPage.EndUseDetails.SUSPECTED_WMD_TITLE' %}
							</td>
							<td class="govuk-table__cell">
								{{ case.application.is_suspected_wmd|friendly_boolean }}<br>
								{{ case.application.suspected_wmd_ref|default:"" }}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!-- Route of goods -->
		<div class="govuk-accordion__section">
			<div class="govuk-accordion__section-header">
				<h2 class="govuk-accordion__section-heading">
					<span class="govuk-accordion__section-button" id="accordion-default-heading-3">
						{% lcs 'cases.ApplicationPage.RouteOfGoods.TITLE' %}
					</span>
				</h2>
			</div>
			<div id="accordion-route-of-goods-content" class="govuk-accordion__section-content" aria-labelledby="accordion-route-of-goods">
				<table class="govuk-table" id="route-of-goods">
					<thead class="govuk-table__head">
						<tr class="govuk-table__row">
							<th class="govuk-table__header">{% lcs 'cases.ApplicationPage.RouteOfGoods.DESCRIPTION_COLUMN' %}</th>
							<th class="govuk-table__header">{% lcs 'cases.ApplicationPage.RouteOfGoods.ANSWER_COLUMN' %}</th>
						</tr>
					</thead>
					<tbody class="govuk-table__body">
						<tr class="govuk-table__row">
							<td class="govuk-table__cell govuk-!-font-weight-bold">
								{% lcs 'cases.ApplicationPage.RouteOfGoods.SHIPPED_TITLE' %}
							</td>
							<td class="govuk-table__cell">
								{{ case.application.is_shipped_waybill_or_lading|friendly_boolean }} <br>
								{{ case.application.non_waybill_or_lading_route_details|default:"" }}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!-- Countries -->
		<div class="govuk-accordion__section">
			<div class="govuk-accordion__section-header">
				<h2 class="govuk-accordion__section-heading">
					<span class="govuk-accordion__section-button" id="accordion-default-heading-3">
						{% lcs 'cases.ApplicationPage.Goods.OPEN_CASE_GOODS_LOCATION' %}
					</span>
				</h2>
			</div>
			<div class="govuk-accordion__section-content">
				<form action="{% url 'cases:assign_destination_flags' queue.id case.id %}" method="get">
					<button id="button-edit-destinations-flags" class="govuk-button" data-module="govuk-button">
						{% lcs 'cases.ApplicationPage.EDIT_DESTINATION_FLAGS' %}
					</button>
					<table class="govuk-table">
						<thead class="govuk-table__head">
							<tr class="govuk-table__row">
								<th scope="col" class="govuk-table__header">
									<button id="link-select-all-destinations" type="button" name="button" class="lite-button-checkbox" title="Select all/Deselect all"></button>
								</th>
								<th scope="col" class="govuk-table__header govuk-!-width-one-third">{% lcs 'cases.ApplicationPage.Destinations.COUNTRY_NAME' %}</th>
								<th scope="col" class="govuk-table__header govuk-!-width-one-half">{% lcs 'cases.ApplicationPage.Destinations.PRODUCTS_CONTROL_CODES' %}</th>
								<th scope="col" class="govuk-table__header govuk-!-width-one-half">{% lcs 'cases.ApplicationPage.Destinations.FLAGS_TABLE_HEADER' %}</th>
							</tr>
						</thead>
						<tbody class="govuk-table__body">
							{% for country in case.application.destinations.data %}
							<tr class="govuk-table__row">
								<td class="govuk-table__cell govuk-table__cell--checkbox">
									<input class="govuk-checkboxes__input" type="checkbox" name="destinations" value="{{ country.id }}" id="{{ country.id }}">
									<label class="govuk-label govuk-checkboxes__label" for="{{ country.id }}"></label>
								</td>
								<td class="govuk-table__cell">{{ country.name }}<span class="app-country-tag">{{ country.id }}</span></td>
								<td class="govuk-table__cell">
									{% for good in case.application.goods_types %}
										{% for good_country in good.countries %}
											{% if good_country.id == country.id %}
												{% if good.control_code %}
													<span class="app-country-tag app-country-tag--orange">{{ good.description }}</span>
												{% endif %}
											{% endif %}
										{% endfor %}
									{% endfor %}
								</td>
								<td class="govuk-table__cell">
									{% for flag in country.flags %}
										{{ flag.name }}<br>
									{% endfor %}
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</form>
			</div>
		</div>

		<!-- Supporting documentation -->
		<div class="govuk-accordion__section">
			<div class="govuk-accordion__section-header">
				<h2 class="govuk-accordion__section-heading">
					<span class="govuk-accordion__section-button" id="accordion-default-heading-3">
						{% lcs 'SUPPORTING_DOCUMENTATION_TITLE' %}
					</span>
				</h2>
			</div>
			<div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
				{% include 'case/includes/other-documents.html' %}
			</div>
		</div>

		<!-- Activity -->
		<div class="govuk-accordion__section">
			<div class="govuk-accordion__section-header">
				<h2 class="govuk-accordion__section-heading">
					<span class="govuk-accordion__section-button" id="accordion-default-heading-3">
						{% lcs 'CASE_ACTIVITY_HEADING' %}
					</span>
				</h2>
			</div>
			<div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
				{% include "case/views/activity.html" %}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	{{ block.super }}

	<script nonce="{{ request.csp_nonce }}" type="text/javascript">
		function openTableFold(element) {
			$(element).parent().parent().next(".lite-accordian-table__fold").toggleClass("open");
			$(element).parent().parent().next().next(".lite-accordian-table__fold").toggleClass("open");
			return false;
		}
	</script>
	<script src="{% static 'javascripts/edit-good-flags.js' %}"></script>
	<script src="{% static 'javascripts/edit-destination-flags.js' %}"></script>
	<script type="text/javascript">
		$(".govuk-accordion__section").addClass("govuk-accordion__section--expanded");
	</script>
{% endblock %}
