<div class="govuk-breadcrumbs">
	<ol class="govuk-breadcrumbs__list">
		<li class="govuk-breadcrumbs__list-item">
			<a class="govuk-breadcrumbs__link" href="{% url 'cases:cases' %}?queue_id={{ request.GET.queue_id }}">
				{% if request.GET.queue_name %}{{ request.GET.queue_name }}{% else %}{% lcs 'QUEUE_ALL_CASES' %}{% endif %}
			</a>
		</li>
		<li class="govuk-breadcrumbs__list-item">
			{% if text %}<a class="govuk-breadcrumbs__link" href="{% url 'cases:case' case.id %}">{% endif %}
				{{ case.reference_code }}
			{% if text %}</a>{% endif %}
		</li>
		{% if text %}
			<li class="govuk-breadcrumbs__list-item" aria-current="page">
				{% lcs text %}
			</li>
		{% endif %}
	</ol>
</div>
