// Set defaults
$lite-transition-speed: 0.3s !default;
$govuk-page-width: 1200px !default;
$govuk-brand-colour: #28A197; // GOV.UK Design System
$govuk-link-colour: $govuk-brand-colour;
$govuk-link-hover-colour: darken($govuk-brand-colour, 10%);
$govuk-link-active-colour: darken($govuk-brand-colour, 20%);

@import "../shared/node_modules/govuk-frontend/govuk/all"; // LITE Shared Assets
@import "../shared/lite-frontend/scss/all"; // Local Assets
@import "components/all";

.test {
	position: relative;
	background: govuk-colour("light-grey");
	padding: govuk-spacing(4);
	max-height: 285px;
	overflow-y: scroll;
	margin-top: govuk-spacing(3);
	margin-bottom: govuk-spacing(6);
	box-shadow: 0 0 0 2px rgba(govuk-colour("black"), 0.1);

	.govuk-radios__item {
		margin-bottom: govuk-spacing(4);
		
		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.govuk-radios__label::before {
		background: white;
	}
}

.govuk-summary-list__key {
	border-bottom: 2px solid darken(govuk-colour("light-grey"), 2%);
}

.govuk-summary-list__value {
	border-bottom: 2px solid darken(govuk-colour("light-grey"), 2%);
}

.app-inset-text {
	border-left: govuk-spacing(1) solid govuk-colour("mid-grey");
	padding: govuk-spacing(3) govuk-spacing(5);
}

.app-summary-list {
	margin-bottom: govuk-spacing(6);

	&__item {
		margin-bottom: govuk-spacing(6);

		&:last-of-type {
			margin-bottom: 0;
		}

		p {
			margin: 0;
		}

		.govuk-caption-m {
			margin-bottom: 10px;
		}
	}
}

.app-reference-code {
	position: relative;
	letter-spacing: 2px;
}

.app-wrappable-list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: govuk-spacing(6);
	margin-right: - govuk-spacing(6);

	&__group {
		flex: 1;
		min-width: 25%;

		@media (max-width: 700px) {
			min-width: 50%;
		}

		@media (max-width: 400px) {
			min-width: 100%;
		}
	}

	&__item {
		position: relative;
		display: block;

		&:after {
			content: "";
			position: absolute;
			left: 0;
			right: govuk-spacing(6);
			bottom: -2px;
			height: 2px;
			background-color: darken(govuk-colour("light-grey"), 2%);
		}

		.govuk-label {
			line-height: 46px;
		}

		.govuk-checkboxes__item {
			display: inline-block;
			clear: none!important;
			float: none!important;
			margin-top: 10px;
		}

		.govuk-checkboxes__label {
			line-height: inherit;
		}
	}
}

.govuk-tag {
	background-color: $govuk-brand-colour;
}

.lite-checkboxes--inline {
	& > * {
		display: inline-block;
	}

	.govuk-checkboxes__label {
		min-width: 50px;
		text-align: center;
		padding-left: 0;
		padding-right: 15px;
	}
}

.govuk-checkboxes__input:indeterminate + .govuk-checkboxes__label::after {
	// Add indeterminate state as GOV.UK Frontend lacks it
	transform: rotate(0);
	width: 12px;
	height: 3px!important;
	top: 18px;
	opacity: 1;
	border: none;
	background-color: currentColor;
}

.lite-tabs__tab {
	text-decoration: none;
}

.lite-filter-bar--horizontal {
	display: block;
	position: relative;
	z-index: 0;
	margin-bottom: govuk-spacing(6);
	padding: govuk-spacing(5) 0 (govuk-spacing(5) + 3px) 0;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		bottom: 0;
		width: 100vw;
		transform: translateX(-50vw);
		background-color: govuk-colour("light-grey");
		border-width: 2px 0;
		border-style: solid;
		border-color: darken(govuk-colour("light-grey"), 2%);
		z-index: -1;
	}

	.govuk-select {
		display: block;
		width: 100%;
		border-radius: 0;
		-webkit-appearance: none;
		-webkit-border-radius: 0;
		text-indent: 5px;
	}

	.govuk-label {
		@include govuk-font($size: 14, $weight: bold);
		display: block;
		color: govuk-colour("dark-grey");
		letter-spacing: 1px;
		text-transform: uppercase;
		margin-bottom: govuk-spacing(2);
	}

	.govuk-button--secondary {
		background-color: white;

		&:hover {
			background-color: darken(govuk-colour("light-grey"), 5%);
		}

		&:active {
			background-color: darken(govuk-colour("light-grey"), 10%);
		}
	}
}

.lite-hide-filters-link,
.lite-show-filters-link {
	display: inline-block;
	margin-bottom: govuk-spacing(6);
	text-decoration: none;
	border-bottom: 1px solid transparent;
	padding-bottom: 3px;

	svg {
		color: inherit;
		max-width: 13px;
		max-height: 13px;
		margin-right: 3px;

		* {
			fill: currentColor;
		}
	}

	&:hover {
		border-color: currentColor;
	}
}

.lite-hide-filters-link {
	margin-bottom: govuk-spacing(3);
}

.lite-select-wrapper {
	position: relative;

	&:after {
		content: "";
		position: absolute;
		right: govuk-spacing(2);
		top: 0;
		bottom: 14px;
		display: inline-block;
		width: 20px;
		background-image: url("/assets/images/chevron.svg");
		background-size: 20px 10px;
		background-repeat: no-repeat;
		transform: scaleY(-1);
		pointer-events: none;
	}
}
