// Set defaults
$lite-transition-speed: 0.3s !default;
$govuk-page-width: 1200px !default;
$govuk-brand-colour: #28a197; // GOV.UK Design System
@import "../shared/node_modules/govuk-frontend/govuk/all"; // LITE Shared Assets
@import "../shared/lite-frontend/scss/all"; // Local Assets
@import "components/all";

.govuk-tag {
	background-color: $govuk-brand-colour;
}

.lite-checkboxes--inline {
	& > * {
		display: inline-block;
	}

	.govuk-checkboxes__label {
		min-width: 50px;
		text-align: center;
		padding-left: 0;
		padding-right: 15px;
	}
}

.govuk-checkboxes__input:indeterminate + .govuk-checkboxes__label::after {
	// Add indeterminate state as GOV.UK Frontend lacks it
	transform: rotate(0);
	width: 12px;
	height: 3px!important;
	top: 18px;
	opacity: 1;
	border: none;
	background-color: currentColor;
}

.lite-subnav {
	list-style-type: none;
	margin: 0;
	padding: 0;

	hr {
		display: block;
		height: 2px;
		background-color: govuk-colour("mid-grey");
		border: none;
	}
}

.lite-subnav__link {
	position: relative;
	display: block;

	& > a {
		line-height: 45px;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&:after {
		content: "";
		position: absolute;
		top: 8px;
		left: -16px;
		bottom: 8px;
		width: 4px;
	}

	&:hover:after {
		background-color: govuk-colour("mid-grey");
	}
}

.lite-subnav__link--selected {
	font-weight: bold;

	&:after {
		background-color: $govuk-link-colour!important;
	}
}

.lite-picklist-item__text {
	position: relative;
	display: block;
	max-height: 200px;
	padding-bottom: govuk-spacing(1);
	margin-bottom: govuk-spacing(6);
	border-bottom: 2px solid govuk-colour("mid-grey");
	overflow: hidden;

	& > p {
		display: block;
		line-height: 1.66;
	}

	&:after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: linear-gradient(rgba(govuk-colour("white"), 0) 10%, govuk-colour("white") 90%);
	}
}

.lite-tabs__tab {
	text-decoration: none;
}
