// Set defaults
$lite-transition-speed: .3s !default;
$govuk-page-width: 1200px !default;
$govuk-brand-colour: #28a197;

// GOV.UK Design System
@import "../../lite-shared-assets/node_modules/govuk-frontend/all";

// LITE Shared Assets
@import "../../lite-shared-assets/lite-frontend/scss/all";

// Local Assets
@import "components/all";

.govuk-tag {
	background-color: $govuk-brand-colour;
}

.lite-checkboxes--inline {
    & > * {
        display: inline-block;
    }
	.govuk-checkboxes__label {
		min-width: 50px;
		text-align: center;
		padding-left: 0;
		padding-right: 15px;
	}
}
