.app-accordion {
	margin-bottom: 0;
	border-bottom: none!important;

	.govuk-accordion__controls {
		display: none;
	}

	.govuk-accordion__section-button {
		font-size: 20px;
	}

	.govuk-accordion__section-header {
		position: sticky;
		top: 0;
		background: govuk-colour("white");
		z-index: 1;
		padding: 0;

		h2 {
			line-height: 60px;
		}
	}

	.govuk-accordion__section {
		.govuk-accordion__section-header {
			border-top: none;
			border-bottom: 2px solid govuk-shade(govuk-colour("white"), 10%);
		}

		&:last-of-type {
			.govuk-accordion__section-header {
				border-bottom: none;
			}
		}
	}

	.govuk-accordion__section--expanded {
		.govuk-accordion__section-header {
			border: none;

			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 50%;
				bottom: 0;
				width: 100vw;
				transform: translateX(-50vw);
				background-color: govuk-colour("white");
				border-bottom: 2px solid govuk-shade(govuk-colour("white"), 10%);
				z-index: -1;
			}
		}
	}

	.govuk-accordion__section-content {
		position: relative;
		z-index: 0;
		padding: govuk-spacing(4) 0;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			bottom: 0;
			width: 100vw;
			transform: translateX(-50vw);
			background-color: govuk-colour("light-grey");
			border-bottom: 2px solid govuk-shade(govuk-colour("white"), 10%);
			z-index: -1;
		}

		table {
			margin: 0;

			.govuk-table__head {
				th {
					@include govuk-font($size: 16, $weight: bold);
					@include govuk-responsive-margin(2, "bottom");
					color: govuk-colour("dark-grey");
					margin-top: 0;
				}
			}

			tr td, tr th {
				border-bottom: 2px solid govuk-shade(govuk-colour("white"), 15%);
			}

			tbody tr:last-of-type td, tbody tr:last-of-type th {
				border-bottom: none;
				padding-bottom: 0;
			}

			tr > * {
				padding: govuk-spacing(3) govuk-spacing(3) govuk-spacing(3) 0;
			}
		}
	}
}
