.app-advice__container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: govuk-spacing(6);
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.app-advice__item {
	@include govuk-font($size: 16, $line-height: 1.4);
	background-color: govuk-colour("light-grey");
	box-sizing: border-box;
	padding: govuk-spacing(4);
	color: $govuk-text-colour;
	border-top: 3px solid govuk-colour("mid-grey");

	div {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-gap: govuk-spacing(2) govuk-spacing(3);
	}

	&--approve, &--proviso {
		border-top-color: govuk-colour("green");
	}

	&--refuse {
		border-top-color: govuk-colour("red");
	}

	* {
		white-space: normal;
		word-wrap: break-word;
		word-break: break-all;
		margin: 0;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	&__advice-type {
		font-weight: bold;
		margin: 0;
		padding: 0;
		margin-bottom: govuk-spacing(4)!important;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	&__denial-reasons {
		padding: 0;
		display: inline-flex;
		list-style-type: none;

		li {
			margin-right: govuk-spacing(1);
		}
	}

	&__user {
		font-weight: normal;
		letter-spacing: normal;
		text-transform: none;
		display: inline;
		word-break: normal!important;
	}

	&__heading {
		font-weight: bold;

		span {
			font-weight: normal!important;
		}
	}
}

.app-advice__checkboxes .govuk-form-group {
	margin-bottom: govuk-spacing(3);
}

.app-advice_app-bar {
	display: flex;
	justify-content: space-between;

	@include govuk-media-query($from: mobile) {
		.lite-buttons-row {
			width: auto;
		}
	}
}

.app-advice__disabled-buttons {
	pointer-events: none;

	.govuk-button {
		opacity: .5;
	}
}

.app-advice__sticky-table-cell__container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	padding: 9px 0;
}

.app-advice__sticky-table-cell {
	display: block;
	position: sticky;
	top: 100px;
	margin: 9px 0;
}

.app-grouped-advice {
	position: relative;
	margin-bottom: govuk-spacing(9);

	&::before {
		content: "";
		position: absolute;
		top: 24px + govuk-spacing(4);
		bottom: 0;
		left: 9px;
		width: 4px;
		background-color: $govuk-border-colour;
	}

	&--approve::before, &--proviso::before {
		background-color: govuk-colour("green");
	}

	&--refuse::before {
		background-color: govuk-colour("red");
	}

	&__heading {
		@include govuk-font($size: 24, $weight: bold);
		display: flex;
		margin-top: 0;
		margin-bottom: govuk-spacing(4);

		label {
			cursor: pointer;
		}

		button {
			margin-right: govuk-spacing(3);
		}
	}

	&__content {
		margin-left: 10px;
		padding: govuk-spacing(0) govuk-spacing(6);

		& > * {
			margin-bottom: govuk-spacing(6);

			&:last-of-type {
				margin-bottom: 0;

				table {
					margin-bottom: 0;
				}
			}
		}

		table {
			.govuk-table__cell--checkbox {
				display: none;
			}
		}
	}

	&__summary-list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: govuk-spacing(3);
		padding: govuk-spacing(5);
		background-color: govuk-colour("light-grey");

		&-item {
			p {
				margin: 0;
			}

			& > *:first-child {
				@include govuk-font($size: 19, $weight: bold);
				margin-bottom: govuk-spacing(1);
			}

			& > *:last-child {
				@include govuk-font($size: 19);
			}
		}

		&-items {
			padding: 0;
			display: inline-flex;
			list-style-type: none;
			margin: 0;

			li {
				margin-right: govuk-spacing(1);
			}
		}
	}
}
