.app-advice__container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: govuk-spacing(6);
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.app-advice__item {
	@include govuk-font($size: 16);
	background-color: govuk-colour("light-grey");
	box-sizing: border-box;
	padding: govuk-spacing(4);
	color: $govuk-text-colour;
	border-top: 3px solid govuk-colour("mid-grey");

	&--approve {
		border-top-color: govuk-colour("green");
	}

	&--refuse {
		border-top-color: govuk-colour("red");
	}

	& > * {
		white-space: normal;
		word-wrap: break-word;
		word-break: break-all;
		margin-bottom: govuk-spacing(2);

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	&__advice-type {
		font-weight: bold;
		margin: 0;
		padding: 0;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin-bottom: govuk-spacing(4)!important;
	}

	&__denial-reasons {
		padding: 0;
		display: flex;
		list-style-type: none;

		li {
			margin-right: govuk-spacing(1);
		}
	}

	&__user {
		font-weight: normal;
		letter-spacing: normal;
		text-transform: none;
		display: inline;
		word-break: normal!important;
	}

	&__heading {
		font-weight: bold;
	}
}

.app-advice__checkboxes .govuk-form-group {
	margin-bottom: govuk-spacing(3);
}
