.app-advice {
	* {
		white-space: normal;
		word-wrap: break-word;
		word-break: break-all;
	}

	&__user {
		* {
			margin: 0 0 govuk-spacing(2);
		}
	}

	&__details {
		padding: govuk-spacing(2);
		background-color: govuk-colour("light-grey");
		border: 2px solid darken(govuk-colour("light-grey"), 2%);
		margin-bottom: govuk-spacing(6);

		* {
			font-size: 16px;
		}

		.govuk-heading-s {
			margin-bottom: 0;
		}
	}

	&:last-of-type {
		.app-advice__details {
			margin-bottom: 0;
		}
	}
}
