.app-case__summary-list {
    display: grid;
    grid-gap: govuk-spacing(3) govuk-spacing(6);
    margin: 0;
    overflow: hidden;

    &__row {
        display: grid;
        grid-template-columns: 25% 1fr auto;
        grid-gap: govuk-spacing(6);
    }

    &__key {
        @include govuk-font($size: 19, $weight: bold);
        color: $govuk-text-colour;
    }

    &__value {
        @include govuk-font($size: 19);
        color: $govuk-text-colour;
    }

    &__actions {

    }

    @media screen and (min-width: 900px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 1800px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.govuk-heading-xl, .govuk-fieldset__legend--xl {
    @include govuk-font($size: 36, $weight: bold);
}

.app-cases__row__attention-needed {
    position: relative;
    @include govuk-font($size: 16, $weight: bold, $line-height: 24px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: govuk-colour("black");
    z-index: 0;
    padding-top: 2px;
    text-shadow: 0 1px 0 govuk-colour("white");
    cursor: default;

    &::after {
        @include govuk-shape-arrow($direction: up, $base: 24px);
        position: absolute;
        content: "";
        top: 2px;
        left: 0;
        border-color: govuk-colour("yellow");
        z-index: -1;
    }
}

.cases-table__header {
    @extend .govuk-table__header;
	line-height: 40px;
	padding: 0;
	border-bottom: 2px solid govuk-colour("light-grey");
}

.cases-table__cell {
    @extend .govuk-table__cell;
	border-bottom: 2px solid govuk-colour("light-grey");
	margin: 0;
    vertical-align: top;
	padding: govuk-spacing(3) govuk-spacing(4) 0 0;

    &--tight {
        padding-right: 0!important;
    }

    &--nowrap {
        white-space: nowrap;
    }
}

.cases-table__cell--checkbox {
	@extend .govuk-checkboxes--small;
	width: 40px!important;
	padding: 0;
	margin: 0;

	.govuk-checkboxes__label {
		padding: 0!important;
	}
}

.app-table__sortable-header {
	color: govuk-colour("black")!important;
	text-decoration: none!important;

	&:hover {
		border-bottom: 2px solid currentColor;

		svg {
			opacity: 1;
		}
	}

	&:active {
		color: govuk-colour("black");
	}

	&:focus {
		@include govuk-focused-text;
	}

	svg {
		color: inherit;
		fill: currentColor;
		max-width: 14px;
		opacity: 0;

		* {
			fill: inherit;
		}
	}

	&--active {
		color: $govuk-link-colour;

		&:hover {
			color: darken($govuk-link-colour, 10%);
		}

		&:active {
			color: darken($govuk-link-colour, 20%);
		}

		svg {
			opacity: 1;
		}
	}

	&--active-desc {
		color: $govuk-link-colour;

		&:hover {
			color: darken($govuk-link-colour, 10%);
		}

		&:active {
			color: darken($govuk-link-colour, 20%);
		}

		svg {
			opacity: 1;
			transform: scaleY(-1);
		}
	}
}

$case-header-color: $govuk-brand-colour;
$case-header-text-colour: govuk-colour("white");

.app-case-header__container {
    position: relative;
    position: sticky;
    top: 0;
    background-color: $case-header-color;
}

.app-case-header {
    @extend .govuk-width-container;
    z-index: 0;
    box-sizing: border-box;
    padding: govuk-spacing(6) 0;
    z-index: 10;

    &__stuff {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-gap: govuk-spacing(6);
    }

    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }

    &__controls {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .app-case-header__candy-bar {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            max-height: 40px;
            overflow: hidden;
            margin-right: govuk-spacing(3);

            &:last-of-type {
                margin: 0;
            }
        }

        .app-case-header__candy {
            @include govuk-font($size: 16);
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $case-header-text-colour;
            min-width: 28px;
            height: 36px;
            padding: 0 govuk-spacing(2);
            cursor: pointer;
            z-index: 0;
            background-color: rgba($case-header-text-colour, 0.1);
            padding: govuk-spacing(2) govuk-spacing(3);

            &:hover {
                background: rgba($case-header-text-colour, 0.2);
            }

            &:active {
                background: rgba($case-header-text-colour, 0.3);
            }

            &:last-of-type {
                margin-right: 0;
            }

            svg {
                width: 18px;
                height: 18px;
                margin-right: govuk-spacing(2);
                fill: currentColor;

                * {
                    stroke: currentColor!important;
                }
            }
        }
    }

    &__heading {
        @include govuk-font($size: 24, $weight: bold);
        color: $case-header-text-colour;
        margin: 0;
        margin-bottom: 2px;
    }

    &__text {
        @include govuk-font($size: 19, $weight: bold);
        color: $case-header-text-colour;
        margin: 0;
    }

    &__link {
        color: $case-header-text-colour;
        text-decoration: none;

        &:hover {
            border-bottom: 2px solid currentColor;
        }
    }

    &__breadcrumbs-list {
        @include govuk-clearfix;
        margin: 0 0 govuk-spacing(2) 0;
        padding: 0;
        list-style-type: none;
    }

    &__breadcrumbs-list-item {
        display: inline-block;
        margin-left: govuk-spacing(3);

        &:first-of-type {
            margin-left: 0;
        }
    }

    &__breadcrumbs-link {
        @extend .govuk-breadcrumbs__list-item;
        @include govuk-font($size: 16, $line-height: 1);
        color: $case-header-text-colour;
        margin: 0;
        text-decoration: none;
        border-bottom: 2px solid transparent;

        &:hover {
            border-bottom: 2px solid currentColor;
        }

        &::before {
            right: -10px;
            color: inherit;
            border-color: currentColor;
            left: auto;
        }

        &:first-child {
        	margin-left: 0;
        	padding-left: 0;

        	&::before {
        		content: "";
        		display: block;
        	}
        }
    }

    .label {
        color: white;
    }

    .app-flags {
        display: flex;

        .app-flag {
            z-index: 0;
            margin-right: govuk-spacing(2);
        }
    }
}

.govuk-main-wrapper {
    padding-top: 0;
}

.app-header {
    border-bottom: none!important;
}

.govuk-back-link {
    position: relative;
    display: block;
    z-index: 0;
    margin: 0;
    color: white!important;
    margin-bottom: govuk-spacing(7);
    padding: 20px;
    text-decoration: none!important;

    &::before {
        border-color: white;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 100vw;
        bottom: 0;
        transform: translateX(-50vw);
        background-color: $govuk-brand-colour;
        z-index: -1;
    }
}

.lite-app-bar {
    position: relative;
    padding-top: 40px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    z-index: 0;

    .app-dropdown__heading {
        filter: invert(100%);
    }

    .govuk-button--secondary {
        background-color: white;
        color: govuk-colour("black");
        box-shadow: 0 2px 0 govuk-shade(govuk-colour("light-grey"), 50%);
    }

    .govuk-caption-m {
        display: none;
    }

    * {
        color: white;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 100vw;
        bottom: 0;
        transform: translateX(-50vw);
        background-color: $govuk-brand-colour;
        z-index: -1;
    }
}

.app-case-tab-bar {
    position: sticky;
    top: 65px;
    margin: 0;
    z-index: 0;
    padding-top: 20px;
    margin-bottom: govuk-spacing(6);

    .lite-tabs__tab {
        margin-bottom: 0;
    }

    .lite-tabs__controls {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 100vw;
        transform: translateX(-50vw);
        bottom: 0;
        background: $govuk-body-background-colour;
        z-index: -1;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100vw;
        height: 2px;
        transform: translateX(-50vw);
        bottom: 0;
        background: govuk-shade(govuk-colour("light-grey"), 2);
        z-index: -1;
        transition: opacity .2s ease;
        opacity: 0;
    }

    &--float::after {
        opacity: 1;
    }
}

.app-case-tab-view {
    display: none;

    &--visible {
        display: block;
    }
}

.app-case-separator {
    @include govuk-responsive-margin(6, "bottom");
    position: relative;
    height: govuk-spacing(2);
    z-index: 0;
}

.app-case__flags-bar {
    margin-top: 20px;

    .app-flags {
        margin: 0;

        a {
            @include govuk-font($size: 19);
            color: govuk-colour("white")!important;
            line-height: 36px!important;
            margin-left: govuk-spacing(2);
        }
    }
}

.app-case-header__aurora {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.2;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
