.app-cases__row__attention-needed {
    position: relative;
    @include govuk-font($size: 16, $weight: bold, $line-height: 24px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: govuk-colour("black");
    z-index: 0;
    padding-top: 2px;
    text-shadow: 0 1px 0 govuk-colour("white");
    cursor: default;

    &::after {
        @include govuk-shape-arrow($direction: up, $base: 24px);
        position: absolute;
        content: "";
        top: 2px;
        left: 0;
        border-color: govuk-colour("yellow");
        z-index: -1;
    }
}

.cases-table__header {
    @extend .govuk-table__header;
	line-height: 40px;
	padding: 0;
	border-bottom: 2px solid govuk-colour("light-grey");
}

.cases-table__cell {
    @extend .govuk-table__cell;
	border-bottom: 2px solid govuk-colour("light-grey");
	margin: 0;
    vertical-align: top;
	padding: govuk-spacing(3) govuk-spacing(4) 0 0;

    &--tight {
        padding-right: 0!important;
    }

    &--nowrap {
        white-space: nowrap;
    }
}

.cases-table__cell--checkbox {
	@extend .govuk-checkboxes--small;
	width: 40px!important;
	padding: 0;
	margin: 0;

	.govuk-checkboxes__label {
		padding: 0!important;
	}
}

.app-table__sortable-header {
	color: govuk-colour("black")!important;
	text-decoration: none!important;

	&:hover {
		border-bottom: 2px solid currentColor;

		svg {
			opacity: 1;
		}
	}

	&:active {
		color: govuk-colour("black");
	}

	&:focus {
		@include govuk-focused-text;
	}

	svg {
		color: inherit;
		fill: currentColor;
		max-width: 14px;
		opacity: 0;

		* {
			fill: inherit;
		}
	}

	&--active {
		color: $govuk-link-colour;

		&:hover {
			color: darken($govuk-link-colour, 10%);
		}

		&:active {
			color: darken($govuk-link-colour, 20%);
		}

		svg {
			opacity: 1;
		}
	}

	&--active-desc {
		color: $govuk-link-colour;

		&:hover {
			color: darken($govuk-link-colour, 10%);
		}

		&:active {
			color: darken($govuk-link-colour, 20%);
		}

		svg {
			opacity: 1;
			transform: scaleY(-1);
		}
	}
}

.app-case-header__container {
    position: relative;
    position: sticky;
    top: 0;
}

.app-case-header {
    z-index: 0;
    box-sizing: border-box;
    padding: govuk-spacing(6) 0;
    z-index: 10;

    &__stuff {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-gap: govuk-spacing(6);
    }

    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }

    &__controls {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .app-case-header__candy-bar {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            background: rgba(govuk-colour("white"), 0.15);
            border-radius: 5px;
            max-height: 40px;
            overflow: hidden;
            padding: 0 5px;
            margin-right: govuk-spacing(2);

            &:last-of-type {
                margin: 0;
            }
        }

        .app-case-header__candy {
            @include govuk-font($size: 16, $weight: bold);
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            color: govuk-colour("white");
            min-width: 28px;
            height: 40px;
            padding: 0 govuk-spacing(2);
            cursor: pointer;

            &:hover {
                &::before {
                    opacity: .3;
                }
            }

            &:active {
                transform: scale(.95);

                &::before {
                    opacity: .4;
                }
            }

            &:last-of-type {
                margin-right: 0;
            }

            svg {
                width: 16px;
                height: 16px;
                margin-right: govuk-spacing(2);

                * {
                    fill: govuk-colour("white");
                }
            }
        }
    }

    &__heading {
        @include govuk-font($size: 27, $weight: bold);
        color: govuk-colour("white");
        margin: 0;
        margin-bottom: 2px;
    }

    &__text {
        @include govuk-font($size: 19, $weight: bold);
        color: govuk-colour("white");
        margin: 0;
    }

    &__link {
        color: govuk-colour("white");
        text-decoration: none;

        &:hover {
            border-bottom: 2px solid currentColor;
        }
    }

    &__breadcrumbs-list {
        @include govuk-clearfix;
        margin: 0 0 govuk-spacing(3) 0;
        padding: 0;
        list-style-type: none;
    }

    &__breadcrumbs-link {
        @extend .govuk-breadcrumbs__list-item;
        @include govuk-font($size: 16, $weight: bold);
        color: mix(govuk-colour("light-grey"), #182D4E, 80);
        margin: 0;
        text-decoration: none;
        border-bottom: 2px solid transparent;

        &:hover {
            border-bottom: 2px solid currentColor;
        }

        &:active {
            color: mix(govuk-colour("light-grey"), #182D4E, 40);
        }

        &::before {
            right: -10px;
            color: inherit;
            border-color: currentColor;
            left: auto;
        }

        &:first-child {
        	margin-left: 0;
        	padding-left: 0;

        	&::before {
        		content: "";
        		display: block;
        	}
        }
    }

    .app-flag {
        z-index: 0;

        &::before {
            content: "";
            position: absolute;
            top: -2px;
            left: -2px;
            right: -2px;
            bottom: -2px;
            background: inherit;
            z-index: -1;
        }

        &::after {
            content: "";
            position: absolute;
            top: 2px;
            left: 2px;
            bottom: 2px;
            background: currentColor;
            width: 3px;
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 100vw;
        transform: translateX(-50vw);
        bottom: 0;
        background-color: #21324d;
        z-index: -1;
    }
}

.app-case-tab-bar {
    position: sticky;
    top: 58px;
    margin: 0;
    z-index: 0;

    .lite-tabs__tab {
        margin-bottom: 0;
        padding: govuk-spacing(1) 0;
        border-top: 2px solid transparent;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 100vw;
        transform: translateX(-50vw);
        bottom: 0;
        background: govuk-colour("white");
        z-index: -1;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100vw;
        height: 2px;
        transform: translateX(-50vw);
        bottom: 0;
        background: govuk-colour("light-grey");
        z-index: -1;
        opacity: 0;
        transition: opacity .2s ease;
    }

    &--float::after {
        opacity: 1;
    }
}
