.lite-cases-table__heading {
	display: inline-block!important;
	text-decoration: none!important;
	border-bottom: 2px solid transparent;
	line-height: 30px!important;
	margin-bottom: 0;

	&:hover {
		border-bottom: 2px solid currentColor;

		svg {
			opacity: 1;
		}
	}

	&:active {
		color: govuk-colour("black");
	}

	&:focus {
		@include govuk-focused-text;
	}

	svg {
		color: inherit;
		fill: currentColor;
		max-width: 14px;
		opacity: 0;

		* {
			fill: inherit;
		}
	}

	&--active {
		color: $govuk-link-colour;

		&:hover {
			color: darken($govuk-link-colour, 10%);
		}

		&:active {
			color: darken($govuk-link-colour, 20%);
		}

		svg {
			opacity: 1;
		}
	}

	&--active-desc {
		color: $govuk-link-colour;

		&:hover {
			color: darken($govuk-link-colour, 10%);
		}

		&:active {
			color: darken($govuk-link-colour, 20%);
		}

		svg {
			opacity: 1;
			transform: scaleY(-1);
		}
	}
}
