$govuk-table-border: 2px solid darken(govuk-colour("light-grey"), 2%);

@mixin table-display {
	display: grid;
	grid-template-columns: 30px 1fr 200px 200px 200px;
	grid-gap: govuk-spacing(3);
}

.lite-cases-table-header {
	@include table-display;
	border-bottom: $govuk-table-border;

	* {
		@include govuk-font($size: 14, $weight: bold);
		margin-bottom: govuk-spacing(2);
		color: govuk-colour("dark-grey");
		letter-spacing: 1px;
		text-transform: uppercase;
		margin: 0;
		padding: 0;
	}

	.govuk-checkboxes {
		margin-top: -4px;
	}
}

.lite-cases-table-row {
	@include table-display;
	transition: 0.3s ease;
	padding: govuk-spacing(3) 0;
	border-bottom: $govuk-table-border;

	.govuk-checkboxes--small .govuk-checkboxes__label::before {
		top: 0;
	}

	.govuk-checkboxes--small .govuk-checkboxes__label::after {
		top: 7px;
	}

	* {
		font-size: 18px;
	}

	.govuk-body {
		white-space: normal;
		word-wrap: break-word;
	}

	&:last-of-type {
		border-bottom: none;
	}
}

.lite-cases-table__heading[href=""], .lite-cases-table__heading[href="#"] {
	pointer-events: none;
	border-color: transparent!important;
}

.lite-cases-table__heading {
	display: inline-block!important;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	line-height: 30px!important;
	margin-bottom: 8px;

	&:hover {
		border-bottom: 2px solid currentColor;

		svg {
			opacity: 1;
		}
	}

	&:active {
		color: govuk-colour("black");
	}

	&:focus {
		@include govuk-focused-text;
	}

	svg {
		color: inherit;
		fill: currentColor;
		max-width: 14px;
		opacity: 0;

		* {
			fill: inherit;
		}
	}

	&--active {
		color: $govuk-link-colour;

		&:hover {
			color: darken($govuk-link-colour, 10%);
		}

		&:active {
			color: darken($govuk-link-colour, 20%);
		}

		svg {
			opacity: 1;
		}
	}

	&--active-desc {
		color: $govuk-link-colour;

		&:hover {
			color: darken($govuk-link-colour, 10%);
		}

		&:active {
			color: darken($govuk-link-colour, 20%);
		}

		svg {
			opacity: 1;
			transform: scaleY(-1);
		}
	}
}
