.lite-expandable-textarea {
	position: relative;
	display: block;
	margin-bottom: govuk-spacing(4);
	border: $govuk-border-width-form-element solid govuk-colour('grey-3');
	overflow: hidden;

	&:hover {
		border: $govuk-border-width-form-element solid govuk-colour('grey-2');
	}

	.govuk-textarea {
		padding: govuk-spacing(4);
		margin-bottom: 0;
		border: none;
		min-height: 120px;

		&:focus {
			outline: none;
		}
	}

	&:focus-within {
		border: $govuk-border-width-form-element solid $govuk-input-border-colour;
		outline: 3px solid $govuk-focus-colour;
	}
}

.lite-expandable-textarea--warning {
	border: $govuk-border-width-form-element solid $govuk-input-border-colour;
	outline: 3px solid $govuk-error-colour!important;
}

.lite-expandable-textarea-controls {
	display: flex;
	justify-content: flex-end;
	padding: govuk-spacing(3);
	background-color: govuk-colour("grey-4");
	border-top: 2px solid govuk-colour("grey-3");
	transition: $lite-transition-speed ease;
	box-sizing: border-box;
	height: 72px;

	& > * {
		margin: 0 0 2px;
	}
	@include govuk-media-query($from: tablet) {
		display: grid;
		grid-template-columns: 1fr auto auto;
		grid-gap: govuk-spacing(3);
	}
	* {
		text-align: center;
	}
	.govuk-button {
		transition: transform $lite-transition-speed ease;
	}
	.govuk-character-count__message {
		line-height: 38px;
	}
}

.lite-expandable-textarea-controls--hidden {
	visibility: collapse;
	opacity: 0;
	height: 0;
	padding: 0 govuk-spacing(3);
	.govuk-button {
		transform: scaleY(0.5);
	}
}

.govuk-character-count__message {
	transition: opacity $lite-transition-speed ease;
}

.govuk-hint--hidden {
	opacity: 0;
}
