.lite-expandable-textarea--background {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: red;
}

.lite-expandable-textarea {
	position: relative;
	display: block;
	margin-bottom: govuk-spacing(4);
	border: $govuk-border-width-form-element solid govuk-colour('grey-3');

	&:hover {
		border: $govuk-border-width-form-element solid govuk-colour('grey-2');
	}

	.govuk-textarea {
		padding: govuk-spacing(4);
		margin-bottom: 0;
		border: none;
		height: 120px;
		transition: height $transition-speed ease;
		resize: none;

		&:focus {
			outline: none;
		}
	}
}

.lite-expandable-textarea-buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: govuk-spacing(3);
	padding: govuk-spacing(3);
	background-color: govuk-colour("grey-4");
	border-top: 2px solid govuk-colour("grey-3");
	transition: $transition-speed ease;
	box-sizing: border-box;

	& > * {
		margin: 0 0 2px;
	}
	@include govuk-media-query($from: tablet) {
		display: flex;
		justify-content: flex-end;

		& > * {
			margin-left: govuk-spacing(3);
		}
	}
}

.lite-expandable-textarea--js {
	.lite-expandable-textarea-buttons {
		padding: 0 govuk-spacing(3);
		height: 0;
		opacity: 0;
	}
}

.focused {
	position: relative;
	border: $govuk-border-width-form-element solid $govuk-input-border-colour;
	outline: 3px solid $govuk-focus-colour;
	z-index: 2;

	.govuk-textarea {
		padding: govuk-spacing(4);
		margin-bottom: 0;
		border: none;
		height: calc(200px);

		&:focus {
			outline: none;
		}
	}

	.lite-expandable-textarea-buttons {
		visibility: visible;
		opacity: 1;
		height: 72px;
		padding: govuk-spacing(3);
		@include govuk-media-query($from: tablet) {
			display: flex;
		}
	}
}
