.app-flags-selector .tokenfield {
	max-width: none;
	align-items: flex-start;
	cursor: text;
	padding: govuk-spacing(2);
	padding-bottom: 0;

	.app-flag {
		padding-right: govuk-spacing(6);
		margin-right: govuk-spacing(2);
		margin-bottom: govuk-spacing(2);
	}

	.tokenfield-input {
		line-height: 26px!important;
		padding: 6px 0 10px 0;
	}
}

.app-flags {
	padding: 0;
	display: flex;
	margin: 0;
	margin-bottom: govuk-spacing(6);

	&--list {
		display: block;
		grid-template-columns: 1fr;
		width: 100%;
		margin: 0;
		width: 200px;

		.app-flag {
			display: flex;
			justify-content: flex-start;
			text-align: left;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100%;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}

$flag-border-width: 3px;
.app-flag {
	@include govuk-font($size: 16, $weight: bold);
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: govuk-shade(govuk-colour("light-grey"), 2.5);
	color: govuk-colour("black");
	min-height: 36px!important;
	padding: 0 govuk-spacing(2) 0 (govuk-spacing(2) + ($flag-border-width * 2));
	min-width: 42px;
	box-sizing: border-box;
	margin-right: govuk-spacing(2);
	margin-bottom: govuk-spacing(2);

	&::before {
		content: "";
		position: absolute;
		top: $flag-border-width;
		left: $flag-border-width;
		bottom: $flag-border-width;
		width: $flag-border-width;
		background: currentColor;
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: govuk-spacing(6);
		background: inherit;
		-webkit-mask-image: linear-gradient(to right, transparent 0%, black 80%);
		mask-image: linear-gradient(to right, transparent 0%, black 80%);
	}

	&--checkbox {
		margin-top: -5px;
	}

	&--yellow {
		background: govuk-tint(govuk-colour("yellow"), 75);
		color: govuk-shade(govuk-colour("yellow"), 55);
	}

	&--blue {
		background: govuk-tint(govuk-colour("blue"), 85);
		color: govuk-colour("blue");
	}

	&--purple {
		background: govuk-tint(govuk-colour("purple"), 85);
		color: govuk-colour("purple");
	}

	&--pink {
		background: govuk-tint(govuk-colour("pink"), 85);
		color: govuk-colour("pink");
	}

	&--red {
		background: govuk-tint(govuk-colour("red"), 85);
		color: govuk-colour("red");
	}

	&--green {
		background: govuk-tint(govuk-colour("green"), 85);
		color: govuk-colour("green");
	}

	&--orange {
		background: govuk-tint(govuk-colour("orange"), 85);
		color: saturate(govuk-shade(govuk-colour("orange"), 15), 10);
	}

	&--turquoise {
		background: govuk-tint(govuk-colour("turquoise"), 85);
		color: govuk-colour("turquoise");
	}

	&--brown {
		background: govuk-tint(govuk-colour("brown"), 85);
		color: govuk-colour("brown");
	}
}
