$header-background-colour: govuk-shade($govuk-brand-colour, 85);
$header-link-hover-colour: govuk-tint(govuk-shade($govuk-brand-colour, 85), 15%);
$header-link-active-colour: $govuk-focus-colour;

.app-header {
	background: $header-background-colour;
}

.app-header__container {
	display: grid;
	grid-template-columns: auto 1fr auto auto auto auto auto;
	grid-gap: govuk-spacing(4);

	@include govuk-media-query($until: tablet) {
		grid-gap: govuk-spacing(3);
	}
}

.app-header__link {
	@include govuk-font($size: 16);
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: govuk-colour("white");
	padding: govuk-spacing(1) 0;
	box-sizing: border-box;
	min-height: 50px;
	z-index: 0;
	cursor: pointer;

	@include govuk-media-query($until: tablet) {
		@include govuk-font($size: 19);
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: - govuk-spacing(3);
		right: - govuk-spacing(3);
		bottom: 0;
		z-index: -1;
	}

	.govuk-tag {
		line-height: 1.2!important;
	}

	&-bubble {
		position: absolute;
		top: 10px;
		right: -4px;
		background: govuk-colour("red");
		border: 2px solid $header-background-colour;
		border-radius: 50px;
		width: 8px;
		height: 8px;
	}

	&:hover {
		.app-header__link-bubble {
			border-color: $header-link-hover-colour;
		}

		&::before {
			background: $header-link-hover-colour;
		}
	}

	&:active,
	&:focus {
		color: $govuk-focus-text-colour;
		outline: $govuk-focus-width solid transparent;

		.app-header__link-bubble {
			background-color: $govuk-focus-text-colour;
			border-color: $header-link-active-colour;
		}

		&::before {
			background-color: $header-link-active-colour;
			opacity: 1;
		}
	}
	$svg-size: 22px;

	svg {
		width: $svg-size;
		height: $svg-size;

		* {
			fill: currentColor;
		}
	}

	&:first-of-type {
		@include govuk-font($size: 19, $weight: bold);

		svg {
			width: 32px;
			height: 32px;
			margin-right: govuk-spacing(3);
		}

		@include govuk-media-query($until: tablet) {
			svg {
				margin-right: 0;
			}
		}
	}

	&:last-of-type {
		svg {
			margin-left: govuk-spacing(3);
		}
	}
}

.app-header__separator {
	position: relative;
	width: 2px;
	height: 100%;

	&::after {
		content: "";
		position: absolute;
		top: 10px;
		left: 0;
		right: 0;
		bottom: 10px;
		background-color: govuk-colour("light-grey");
		opacity: 0.1;
	}
}
