$information-height: 60px;

.information {
	box-sizing: border-box;
	background: govuk-colour("turquoise");
	color: white;
	padding: 0 govuk-spacing(4);
	@include govuk-font($size: 19, $weight: bold);
	margin-bottom: govuk-spacing(5);
	height: $information-height;
	line-height: $information-height!important;
	overflow: hidden;
}

.information-animated {
	animation-name: animate-information;
	animation-duration: 6s;
	animation-delay: 0.2s;
	animation-timing-function: cubic-bezier(0.075, 0.820, 0.5, 1.2);
	animation-fill-mode: both;
	transform-origin: 50% 0;
}
@keyframes animate-information {
	0% {
		opacity: 0;
		transform: scaleY(0.8);
		max-height: 0;
		margin-bottom: 0;
	}

	6% {
		opacity: 1;
		transform: scaleY(1);
		max-height: $information-height;
		margin-bottom: govuk-spacing(5);
	}

	94% {
		opacity: 1;
		transform: scaleY(1);
		max-height: $information-height;
		margin-bottom: govuk-spacing(5);
	}

	100% {
		opacity: 0;
		transform: scaleY(0.8);
		max-height: 0;
		margin-bottom: 0;
	}
}
