.app-menu {
	margin: 0 -9px;
	min-width: 260px;
}

.app-menu__item {
	@include govuk-font($size: 14, $weight: bold);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: $govuk-text-colour;
	text-decoration: none;
	padding: govuk-spacing(2) govuk-spacing(3);
	transition: background-color .1s ease;
	border-left: 0px solid govuk-colour("mid-grey");
	transition: .2s ease;

	&:last-of-type {
		margin-bottom: 0;
	}

	&:hover {
		background-color: govuk-colour("light-grey");
		border-left-width: 2px;
	}

	&:active {
		background-color: govuk-colour("mid-grey");
		border-left-color: govuk-colour("dark-grey");
	}

	&--selected {
		border-left: 2px solid govuk-colour("black");
		background: govuk-colour("light-grey");
		box-shadow: inset 0 0 5px rgba(govuk-colour("black"), 0.05);
	}

	.app-menu__icon {
		width: 24px;
		height: 24px;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: govuk-spacing(2);

		svg {
			width: 20px;
			height: 20px;

			* {
				fill: currentColor;
			}
		}
	}
}