.app-more-actions {
	&__container {
		&--float {
			position: absolute;
			top: 40px;
			right: 0;
			z-index: 2;
			background: white;
			box-shadow: 0 20px 30px rgba(0,0,0,0.15), 0 5px 10px rgba(0,0,0,0.15), 0 0 2px rgba(0,0,0,0.15);

			a {
				@include govuk-font($size: 19);
				display: block;
				width: 260px;
				padding: govuk-spacing(2) govuk-spacing(3);
				border-bottom: 2px solid darken(govuk-colour("light-grey"), 3%);
				color: $govuk-link-colour;
				text-decoration: none;

				&:hover {
					background-color: govuk-colour("light-grey");
					text-decoration: underline;
				}

				&:last-of-type {
					border-bottom-width: 0;
				}
			}
		}
		&--hidden {
			display: none;
		}
	}
	&__button {
		-webkit-user-select: none;
		user-select: none;

		&:after {
			@include govuk-shape-arrow($direction: down, $base: 10px, $height: 6px, $display: inline-block);

			content: "";
			background: govuk-colour("white");
			margin-left: 8px;
			transform: translateY(-2px);
		}
	}
}
