$picklist-max-width: 800px;

.app-picklist-picker__container {
	min-height: 400px;
	margin-left: - govuk-spacing(6);
	margin-right: - govuk-spacing(6);
	padding-top: 2px;
	transition: opacity .3s ease;
}

.app-picklist-picker__container--loading {
	opacity: .25;
}

.app-picklist-picker__no-results {
	@include govuk-font($size: 19);
	color: $govuk-secondary-text-colour;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.app-picklist-item__link {
	@extend .govuk-link;
	@extend .govuk-link--no-visited-state;
	@include govuk-font($size: 24);
	display: inline-block;
	margin-bottom: govuk-spacing(3);
}

.app-picklist-item__text {
	@include govuk-font($size: 19, $line-height: 1.5);
	white-space: normal;
	word-wrap: break-word;
}

.app-picklist-picker__item {
	position: relative;
	display: block;
	border-bottom: 2px solid govuk-colour("light-grey");
	cursor: pointer;
	padding: govuk-spacing(3) govuk-spacing(6);

	* {
		display: block;
		margin: 0;
		padding: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&:after {
		content: "";
		position: absolute;
		top: -2px;
		bottom: -2px;
		left: 0;
		right: 0;
		border-top-width: 2px;
		border-bottom-width: 2px;
		border-left-width: 0;
		border-right-width: 0;
		border-color: darken(govuk-colour("light-grey"), 2%);
		border-style: solid;
		z-index: 1;
		opacity: 0;
	}

	h4 {
		margin-bottom: govuk-spacing(2);
		color: $govuk-link-colour;
	}

	&:hover {
		background: govuk-colour("light-grey");

		&:after {
			opacity: 1;
		}
	}

	&:active {
		background: $govuk-brand-colour;

		* {
			color: govuk-colour("white");
		}

		&:after {
			border-color: darken($govuk-brand-colour, 2%);
			opacity: 1;
		}
	}

	&:last-of-type {
		border-bottom-color: transparent;
	}
}

.app-picklist-picker-heading {
	&__container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		* {
			line-height: 30px;
		}
	}

	&__link {
		display: inline-block;
		text-decoration: none;
		border-bottom: 1px solid currentColor;
		margin-bottom: govuk-spacing(3);
		line-height: 30px;

		&:hover {
			border-color: currentColor;
		}

		svg {
			display: inline-block;
			margin-right: govuk-spacing(1);

			* {
				fill: currentColor;
			}
		}
	}
}

.app-picklist__text {
	@include govuk-font($size: 19, $line-height: 1.5);
	margin: 0;
	max-width: $picklist-max-width;
}

.app-picklist-picker-preview {
	display: grid;
	grid-template-rows: 1fr auto;

	&__text {
		max-height: 400px;
		overflow-y: scroll;

		* {
			margin: 0;
			padding: 0;
			margin-bottom: govuk-spacing(6);
			line-height: 1.6;
			white-space: pre-line!important;
		}

		.govuk-body-m {
			margin-bottom: govuk-spacing(3);
		}
	}

	&__controls {
		display: flex;
		justify-content: flex-end;
		border-top: 2px solid govuk-colour("light-grey");
		padding-top: govuk-spacing(6);
	}
}

.app-picklists__container {
	display: block;
	max-width: $picklist-max-width;
	margin: auto;
}

.app-picklists__list {
	padding: 0;
	margin: 0;
	list-style-type: none;

	&-item {
		border-bottom: 2px solid govuk-colour("light-grey");
		padding-bottom: govuk-spacing(6);
		margin-bottom: govuk-spacing(6);

		&:last-of-type {
			border-bottom-color: transparent;
		}
	}
}
