$popup-padding: govuk-spacing(3);
$popup-font-size: 15px;

.app-popup {
	background-color: $govuk-body-background-colour;
	color: $govuk-text-colour;
	padding: 0;
	margin: 0;

	.lite-tabs__container {
		position: sticky;
		top: 0;
		background-color: $govuk-body-background-colour;
		margin-bottom: govuk-spacing(6);

		.lite-tabs__tab {
			margin-bottom: 0;
		}
	}
}

.app-popup__header {
	h1 {
		@include govuk-typography-common;
		font-size: 16px;
		font-weight: bold;
		padding: 0;
		margin-bottom: $popup-padding / 2;
		color: govuk-colour("black");
	}
}

.app-popup__content {
	padding: $popup-padding;
	background-color: $govuk-body-background-colour;
	min-height: 100vh;
}

.app-popup__heading {
	@include govuk-typography-common;
	font-size: $popup-font-size;
	color: $govuk-secondary-text-colour;
	margin-bottom: 0!important;
}

.app-popup__body {
	@include govuk-typography-common;
	font-size: $popup-font-size;
	line-height: 1.66;
	color: $govuk-text-colour;
	font-weight: bold;
	margin-top: govuk-spacing(1);
	margin-bottom: govuk-spacing(4);
}

.govuk-hint {
	font-size: $popup-font-size;
}

.app-popup__link {
	color: $govuk-link-colour;
}

.app-popup__list {
	@include govuk-typography-common;
	font-size: $popup-font-size;
	line-height: 1.66;
	color: $govuk-text-colour;
	font-weight: bold;
	padding: 0;
	margin: 0;
	padding-left: 0;
	list-style: inside decimal;
	margin-top: govuk-spacing(1);
}
