.hoverable-link {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
}

.tooltip {
	position: relative;
	cursor: help;

	&:hover .tooltip-content {
		opacity: 1;
		transform: translateX(-50%) translateY(-100%);
	}

	.tooltip-content {
		position: absolute;
		top: -20px;
		left: 50%;
		background-color: #0b0c0c;
		color: #fff;
		padding: 12px 16px;
		transform: translateX(-50%) translateY(-90%);
		z-index: 1;
		line-height: 1.5;
		font-size: 16px;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
		pointer-events: none;
		user-select: none;
		opacity: 0;
		transition: 0.2s ease;
		display: inline-block;
		min-width: 100%;
		max-width: 300px;

		&:after {
			content: "";
			position: absolute;
			left: calc(50% - 10px);
			bottom: -10px;
			width: 20px;
			height: 10px;
			box-sizing: border-box;
			border-top: 10px solid #0b0c0c;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
		}
	}
}
