{% if case.application.inactive_parties %}
	<table class="govuk-table" id="table-inactive-entities">
		<thead class="govuk-table__head">
			<tr class="govuk-table__row">
				<th scope="col" class="govuk-table__header govuk-!-width-one-third"></th>
				<th scope="col" class="govuk-table__header govuk-!-width-one-third">{% lcs 'cases.ApplicationPage.Parties.NAME' %}</th>
				{% if case.application.case_type.sub_type.key == "f680_clearance" %}
					<th scope="col" class="govuk-table__header govuk-!-width-one-half">{% lcs 'cases.ApplicationPage.Parties.CLEARANCE_LEVEL' %}</th>
				{% endif %}
				<th scope="col" class="govuk-table__header govuk-!-width-one-half">{% lcs 'cases.ApplicationPage.Parties.DESCRIPTORS' %}</th>
				<th scope="col" class="govuk-table__header govuk-!-width-one-half">{% lcs 'cases.ApplicationPage.Parties.ADDRESS' %}</th>
				<th scope="col" class="govuk-table__header govuk-!-width-one-half">{% lcs 'cases.ApplicationPage.Parties.TYPE' %}</th>
				<th scope="col" class="govuk-table__header govuk-!-width-one-half">{% lcs 'cases.ApplicationPage.Parties.WEBSITE' %}</th>
				<th scope="col" class="govuk-table__header govuk-!-width-one-half">{% lcs 'cases.ApplicationPage.Parties.DOCUMENT' %}</th>
				<th scope="col" class="govuk-table__header govuk-!-width-one-half">{% lcs 'cases.ApplicationPage.Destinations.FLAGS_TABLE_HEADER' %}</th>
			</tr>
		</thead>
		<tbody class="govuk-table__body">
			{% for party in case.application.inactive_parties %}
				<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">{{ party|get_party_type }}</th>
					<td class="govuk-table__cell">{{ party.name }}</td>
					{% if case.application.case_type.sub_type.key == "f680_clearance" %}
						<td class="govuk-table__cell">{{ case.application.end_user.clearance_level.value|default_na }}</td>
					{% endif %}
					<td class="govuk-table__cell">{{ case.application.end_user.descriptors.value|default_na }}</td>
					<td class="govuk-table__cell">{{ party|get_address }}</td>
					<td class="govuk-table__cell">{{ party.sub_type.value }} ({% lcs 'cases.ApplicationPage.ThirdParty.ROLE' %}{{ party.role.value  }})</td>
					<td class="govuk-table__cell">{{ party.website|linkify }}</td>
					<td class="govuk-table__cell">
						{% if party.document %}
							<a href="{% url 'cases:document' queue.id case.id party.document.id %}">
								{{ party.document.name }}
							</a>
						{% endif %}
					</td>
					<td class="govuk-table__cell">
						{% for flag in party.flags %}
							{{ flag.name }}<br>
						{% endfor %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p class="govuk-hint">
		{% include "includes/notice.html" with text="cases.ApplicationPage.Parties.NO_INACTIVE_CASES" %}
	</p>
{% endif %}
