{% extends 'organisations/organisation/base.html' %}

{% block contents %}
	{% if sites %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">{% lcs 'organisations.OrganisationPage.Sites.Table.NAME' %}</th>
					<th class="govuk-table__header" scope="col">{% lcs 'organisations.OrganisationPage.Sites.Table.ADDRESS' %}</th>
					<th class="govuk-table__header" scope="col">{% lcs 'organisations.OrganisationPage.Sites.Table.RECORDS_HELD_AT' %}</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for site in sites %}
					<tr class="govuk-table__row" id="{{ site.id }}">
						<td class="govuk-table__header" scope="row">
							{{ site.name }}
						</td>
						<td class="govuk-table__cell">
							<span class="govuk-table__header" aria-hidden="true">{% lcs 'organisations.OrganisationPage.Sites.Table.ADDRESS' %}</span>
							{{ site|get_address }}
						</td>
						<td class="govuk-table__cell">
							<span class="govuk-table__header" aria-hidden="true">{% lcs 'organisations.OrganisationPage.Sites.Table.RECORDS_HELD_AT' %}</span>
							{% if site.id != site.records_located_at.id %}
								<a class="govuk-link govuk-link--no-visited-state" href="#{{ site.records_located_at.id }}">{{ site.records_located_at.name }}</a>
							{% else %}
								<span class="govuk-hint govuk-!-margin-0">{% lcs 'organisations.OrganisationPage.Sites.Table.RECORDS_HELD_ON_SITE' %}</span>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{% if activity %}
			<h2 class="govuk-heading-m govuk-!-margin-top-9">{% lcs 'organisations.OrganisationPage.Sites.ACTIVITY' %}</h2>
			{% include 'includes/audit-trail.html' %}
		{% endif %}
	{% endif %}
{% endblock %}
