{% extends 'organisations/organisation/base.html' %}

{% block contents %}
	{% if sites %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">{% lcs "organisations.OrganisationPage.Sites.NAME" %}</th>
					<th class="govuk-table__header" scope="col">{% lcs "organisations.OrganisationPage.Sites.ADDRESS" %}</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for site in sites %}
					<tr class="govuk-table__row">
						<td class="govuk-table__header" scope="row">
							{{ site.name }}
						</td>
						<td class="govuk-table__cell">
							{% if site.address %}
								{{ site.address.address_line_1 }}<br/>
								{% if site.address.address_line_2 %}
									{{ site.address.address_line_2 }}<br/>
								{% endif %}
								{{ site.address.city }}<br/>
								{{ site.address.postcode }}<br/>
								{{ site.address.country.name }}
							{% else %}
								{{ site.foreign_address.address }}<br/>
								{{ site.foreign_address.country.name }}
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		{% include 'includes/notice.html' with text='organisations.OrganisationPage.Sites.NO_SITES' %}
	{% endif %}
{% endblock %}
