{% extends 'layouts/base.html' %}

{% load humanize %}

{% block back_link %}{% endblock %}

{% block body %}
	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h1 class="govuk-heading-l">
				{% block title %}
					Open general licences
				{% endblock %}
			</h1>
		</div>
		<div class="lite-app-bar__controls">
			{% govuk_link_button id='new-ogl' text='new' url='open_general_licences:create' %}
		</div>
	</div>

	{% include "filters.html" %}

	<div class="lite-tabs__container">
		<div class="lite-tabs">
			<a href="?status=active" id="active" class="lite-tabs__tab {% if tab == "active" %}lite-tabs__tab--selected{% endif %}">Active</a>
			<a href="?status=in_review" id="in_review" class="lite-tabs__tab {% if tab == "disabled" %}lite-tabs__tab--selected{% endif %}">Disabled</a>
		</div>
	</div>

	{% if open_general_licences.results %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">Name</th>
					<th class="govuk-table__header" scope="col">Type</th>
					<th class="govuk-table__header" scope="col">Information</th>
					<th class="govuk-table__header" scope="col">Applies to</th>
					<th class="govuk-table__header" scope="col"></th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for open_general_licence in open_general_licences.results %}
					<tr class="govuk-table__row">
						<td class="govuk-table__header govuk-table__cell--max-width-400" scope="row">
							{{ open_general_licence.name }}
						</td>
						<td class="govuk-table__cell">
							{{ open_general_licence.type.value }}
						</td>
						<td class="govuk-table__cell">
							{{ open_general_licence.link|linkify:'Read on GOV.UK' }}
						</td>
						<td class="govuk-table__cell">
							<ul class="govuk-table__cell__actions-list">
								<li class="govuk-table__cell__actions-list-item">
									<span data-definition-title="{{ open_general_licence.name }}" data-definition-subtitle="{{ open_general_licence.control_list_entries|length }} control list entr{{ open_general_licence.control_list_entries|pluralize:'y,ies' }}" data-definition-list="{% for clc in open_general_licence.control_list_entries %}{{ clc.rating }}{% if not forloop.last %}, {% endif %}{% endfor %}">
										{{ open_general_licence.control_list_entries|length }} control list entr{{ open_general_licence.control_list_entries|pluralize:'y,ies' }}
									</span>
								</li>
								<li class="govuk-table__cell__actions-list-item" data-definition-title="{{ open_general_licence.name }}" data-definition-subtitle="{{ open_general_licence.countries|length }} countr{{ open_general_licence.countries|pluralize:'y,ies' }}" data-definition-list="{% for country in open_general_licence.countries %}{{ country.name }}{% if not forloop.last %}, {% endif %}{% endfor %}">
									{{ open_general_licence.countries|length }} countr{{ open_general_licence.countries|pluralize:'y,ies' }}
								</li>
							</ul>
						</td>
						<td class="govuk-table__cell govuk-table__cell--tight">
							<a href="#" class="govuk-link govuk-link--no-visited-state">{% lcs 'generic.VIEW' %}</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{% pagination %}
	{% else %}
		{% include "includes/notice.html" with text='TEMP TEXT' %}
	{% endif %}
{% endblock %}
