{% extends 'layouts/two_pane.html' %}

{% load humanize %}

{% block back-button %}
	<a href="{% url 'cases:case' data.case.id %}" class="govuk-back-link">Back</a>
{% endblock %}

{% block body %}

	<!--<div class="information information-animated">
		{% get_string 'cases.manage.case_update_successful' %}
	</div>-->

	<h1 class="govuk-heading-l">{{ title }}</h1>

	<form method="post">
		{% csrf_token %}

        <div class="lite-information-board">
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-one-third">
					<p class="lite-heading-s">
						Status
					</p>
					<p class="govuk-label">{{ data.case.application.status }}</p>
				</div>
			</div>
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-one-third">
					<p class="lite-heading-s">Created by</p>
					<p class="govuk-label">John Smith</p>
				</div>
				<div class="govuk-grid-column-one-third">
					<p class="lite-heading-s">Activity</p>
					<p class="govuk-label">{{ data.case.application.activity }}</p>
				</div>
				<div class="govuk-grid-column-one-third">
					<p class="lite-heading-s">Last Updated</p>
					<p class="govuk-label">
						<a class="hoverable-link tooltip">
							<span class="tooltip-content" style="min-width: 150px;">
								{{ data.case.application.last_modified_at|str_date }}
							</span>
							{{ data.case.application.last_modified_at|str_date|naturaltime }}
						</a>
					</p>
				</div>
			</div>
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-one-third">
					<p class="lite-heading-s">
						Control Code
					</p>
					<p class="govuk-label">{{ data.case.application.control_code }}</p>
				</div>
				<div class="govuk-grid-column-one-third">
					<p class="lite-heading-s">
						Destination
					</p>
					<p class="govuk-label">{{ data.case.application.destination }}</p>
				</div>
				<div class="govuk-grid-column-one-third">
					<p class="lite-heading-s">
						Usage
					</p>
					<p class="govuk-label">{{ data.case.application.usage }}</p>
				</div>
			</div>
		</div>
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <h1 class="govuk-heading-m">
                        Do you want to Grant or Deny the Application?
                    </h1>
                </legend>
                <div class="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="radio-grant" name="status" type="radio" value="granted">
                        <label class="govuk-label govuk-radios__label" for="radio-grant">
                            Grant Licence
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="radio-deny" name="status" type="radio" value="denied">
                        <label class="govuk-label govuk-radios__label" for="radio-deny">
                            Deny Licence
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
		<div class="govuk-form-group">
			<button type="submit" class="govuk-button">Save</button>
		</div>
	</form>

{% endblock %}
