{% extends 'layouts/base.html' %}

{% load humanize %}

{% block back_link %}{% endblock %}

{% block body %}

<form method="get" class="lite-dropdown-select">
	<select class="govuk-select" name="queue">
		{% for queue in queues.queues %}
			<option value="{{ queue.id }}" {% if queue.id == queue_id %}selected{% endif %}>{{ queue.name }}</option>
		{% endfor %}
	</select>
	<button type="submit" class="govuk-button">{% get_string 'cases.go_to_queue' %}</button>
</form>

<form method="post">

	{% csrf_token %}

	<div class="lite-app-bar">
		<div>
			<a id="queue-title" href="#" class="govuk-heading-l lite-heading-dropdown" onclick="toggleDropdown()">{{ title }}</a>
		</div>
		<div class="lite-app-bar--right">
			<button id="assign-users-button" type="submit" class="govuk-button govuk-button--secondary">Assign users</button>
		</div>
	</div>
	<div class="lite-dropdown-background" onclick="toggleDropdown()"></div>
	<div class="lite-dropdown--container" id="queues">
		<div class="lite-dropdown">
			{% for queue in queues.queues %}
				<a href="/cases/?queue={{ queue.id }}" class="lite-dropdown--item {% if queue.id == queue_id %}lite-dropdown--item--selected{% endif %}">{{ queue.name }}</a>
			{% endfor %}
		</div>
	</div>

  {% if data.queue.cases|length %}
		<div class="lite-cases-table">
			<div class="lite-cases-table-header">
				<h4>
					<div class="govuk-checkboxes govuk-checkboxes--small">
						<div class="govuk-checkboxes__item">
							<input id="select-all-checkbox" class="govuk-checkboxes__input" type="checkbox">
							<label class="govuk-label govuk-checkboxes__label"></label>
						</div>
					</div>
				</h4>
				<h4>
					Case
				</h4>
				<h4>
					Assignees
				</h4>
                <h4>
					Case type
				</h4>
				<!-- <h4>
					Goods
				</h4>
				<h4>
					Destinations
				</h4>
				<h4>
					Queue
				</h4>
				<h4>
					Flags
				</h4> -->
				<h4>
					Status
				</h4>
			</div>
			{% for case in data.queue.cases %}
				<div class="lite-cases-table-row">
					<div class="govuk-checkboxes govuk-checkboxes--small">
						<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" type="checkbox" name="cases" value="{{ case.id }}">
							<label class="govuk-label govuk-checkboxes__label"></label>
						</div>
					</div>
					<div>
                        {% if case.is_clc %}
                                <a class="govuk-link govuk-!-font-size-19 govuk-link--no-visited-state govuk-!-font-weight-bold" href="{% url 'cases:case' case.id %}" style="text-decoration: none; margin-bottom: 5px!important; display: block;">
                                    {{ case.id }}
                                </a>
                                <p class="govuk-body" style="opacity: .7; margin: 0;">
                                    {{ case.clc_query.organisation_name }}
                                </p>
                        {% elif not case.is_clc %}
                            <a href="{% url 'cases:case' case.id %}" class="govuk-link govuk-!-font-size-19 govuk-link--no-visited-state govuk-!-font-weight-bold" style="text-decoration: none; margin-bottom: 5px!important; display: block;">
                                {{ case.application.id|default:"Untitled" }}
                            </a>
                            <p class="govuk-body" style="opacity: .7; margin: 0;">
                                {{ case.application.organisation.name }}
                            </p>
                        {% endif %}
					</div>
					<div>
						{% for user in case.assignments %}
							<p class="govuk-body user" style="margin-bottom: 6px;">
								{% if user.first_name %}
									{{ user.first_name }} {{ user.last_name }}
								{% else %}
									{{ user.email }}
								{% endif %}
							</p>
						{% empty %}
							<p class="govuk-body" style="margin-bottom: 0; opacity: .7;">No users assigned</p>
						{% endfor %}
					</div>
                    <p class="govuk-body">
                        {{ case.case_type.name }}
                    </p>
                    <p class="govuk-body">
                        {% if case.is_clc %}
                            {{ case.clc_query.status|default:"Untitled"|sentence_case }}
                        {% else %}
                            {{ case.application.status|default:"Untitled"|sentence_case }}
                        {% endif %}
                    </p>
				</div>
			{% endfor %}
    </div>
    



	{% else %}
		<p class="govuk-caption-l">{% get_string 'cases.no_cases' %}</p>
	{% endif %}

</form>

<script>
	function toggleDropdown() {
		$(".lite-dropdown-background").toggle();
		$("#queues").toggleClass('lite-dropdown--visible');
		$("#queue-title").toggleClass("lite-heading-dropdown--flipped");
	}

	function setAssignUsersAbility() {
		// Disable the assign users button unless a checkbox is selected
		if ($("input[name='cases']:checked").length == 0) {
			$("#assign-users-button").prop('disabled', true).addClass("govuk-button--disabled");
		} else {
			$("#assign-users-button").prop('disabled', false).removeClass("govuk-button--disabled");
		}
	}

	setAssignUsersAbility();

	$("#select-all-checkbox").click(function() {
		if ($("input[name='cases']:checked").length == $("input[name='cases']").length) {
			$("input[name='cases']").prop('checked', false);
	   } else {
		   $("input[name='cases']").prop('checked', true);
	   }

		setAssignUsersAbility();
	});

	$("input[name='cases']").change(function() {
		setAssignUsersAbility();
		$("#select-all-checkbox").prop('checked', $("input[name='cases']:checked").length == $("input[name='cases']").length);
		$("#select-all-checkbox").prop("indeterminate", $("input[name='cases']:checked").length > 0 && $("input[name='cases']:checked").length < $("input[name='cases']").length);
	});
</script>
{% endblock %}
