{% extends 'layouts/base.html' %}

{% load static humanize svg %}

{% block back_link %}{% endblock %}

{% block body %}

<div class="lite-app-bar">
	<form method="get" class="app-dropdown__select">
		<select class="govuk-select" name="queue">
			{% for queue in queues %}
				<option value="{{ queue.id }}" {% if queue.id == current_queue.id %}selected{% endif %}>{{ queue.name }}</option>
			{% endfor %}
		</select>
		<button type="submit" class="govuk-button">{% get_string 'cases.go_to_queue' %}</button>
	</form>
    <a id="queue-title" href="#" class="govuk-heading-l app-dropdown__heading" onclick="toggleDropdown()">{{ title }}</a>
    <div class="lite-app-bar__controls">
		{% if not current_queue.is_system_queue %}
        	<button id="assign-users-button" form="cases-form" type="submit" class="govuk-button govuk-button--secondary">Assign users</button>
		{% endif %}
    </div>
</div>
<div class="app-dropdown__background" onclick="toggleDropdown()"></div>
<div class="app-dropdown__container" id="queues">
    <div class="app-dropdown__list">
        {% for queue in queues %}
            <a href="/cases/?queue={{ queue.id }}" id="{{ queue.name }}" class="app-dropdown__item {% if queue.id == current_queue.id %}app-dropdown__item--selected{% endif %}">
				{{ queue.name }}
                <span class="app-dropdown__item__count">{{ queue.cases_count }}</span>
            </a>
        {% endfor %}
    </div>
</div>

<div class="lite-js-only">
	<a href="#" id="show-filters-link" class="govuk-link govuk-link--no-visited-state lite-filter-toggle-link">
		{% svg 'plus' %}
		Show filters
	</a>
	<a href="#" id="hide-filters-link" class="govuk-link govuk-link--no-visited-state lite-filter-toggle-link">
		{% svg 'minus' %}
		Hide filters
	</a>
</div>

<form id="filters" action="{% url 'cases:cases'%}" method="get">
    <input hidden name="queue" value="{{ current_queue.id }}">

    <div class="govuk-grid-row lite-filter-bar">
        <div class="govuk-grid-column-one-quarter">
            <label class="govuk-label" for="case_type">
                Filter by case type
            </label>
            <select class="govuk-select" id="case_type" name="case_type">
                <option {% if params.case_type == None %}selected{% endif %} value="">Select</option>
                <option {% if params.case_type == "application" %}selected{% endif %} value="application">Licence application</option>
				<option {% if params.case_type == "clc_query" %}selected{% endif %} value="clc_query">CLC Query</option>
                <option {% if params.case_type == "end_user_advisory_query" %}selected{% endif %} value="end_user_advisory_query">End User Advisory Query</option>
            </select>
        </div>
        <div class="govuk-grid-column-one-quarter">
            <label class="govuk-label" for="status">
                Filter by case status
            </label>
            <select class="govuk-select" id="status" name="status">
                <option {% if params.status == None %}selected{% endif %} value="">Select</option>
                {% for case_status in statuses.statuses %}
			        <option value="{{ case_status.status }}" {% if case_status.status == params.status %}selected{% endif %}>{{ case_status.status|default:"Untitled"|sentence_case }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="govuk-grid-column-one-half">
            <label class="govuk-label" for="filter" style="visibility: collapse;">
                --
            </label>
            <div class="lite-buttons-row">
                <button type="submit" form="filters" class="govuk-button" style="margin: 0;" id="button-apply-filters">
                    Apply filters
                </button>
                <a href="{% url 'cases:cases' %}?queue={{ current_queue.id }}" class="govuk-button govuk-button--secondary govuk-button--secondary-white" style="margin-bottom: 0;" id="button-clear-filters">
                    Clear filters
                </a>
            </div>
        </div>
    </div>

</form>

<form id="cases-form" method="post">

	{% csrf_token %}

  	{% if cases.results|length %}
		<div class="lite-cases-table">
			<div class="lite-cases-table-header" {% if current_queue.is_system_queue %}style="grid-template-columns: 30px 1fr 200px 200px 200px 200px"{% endif %}>
				<div class="govuk-checkboxes govuk-checkboxes--small">
					<div class="govuk-checkboxes__item">
						<input id="select-all-checkbox" class="govuk-checkboxes__input" type="checkbox">
						<label class="govuk-label govuk-checkboxes__label"></label>
					</div>
				</div>
				<div>
					<a href="#" class="lite-cases-table__heading">
						Case
					</a>
				</div>
				<div>
					<a href="#" class="lite-cases-table__heading">
						Assignees
					</a>
				</div>
				<div>
					<a href="#" class="lite-cases-table__heading">
						Type
					</a>
				</div>
                {% if current_queue.is_system_queue %}
                    <div>
						<a href="#" class="lite-cases-table__heading">
                        	Queues
						</a>
                    </div>
                {% endif %}
				<div>
					<a href="{% url 'cases:cases' %}?{{ params_str }}&sort={{ 'status'|table_sort_text:params }}" class="lite-cases-table__heading {{ 'status'|table_sort:params }}">
						Status
						{% svg 'chevron' %}
					</a>
				</div>
			</div>
			{% for case in cases.results %}
				<div class="lite-cases-table-row" {% if current_queue.is_system_queue %}style="grid-template-columns: 30px 1fr 200px 200px 200px 200px"{% endif %}>
					<div class="govuk-checkboxes govuk-checkboxes--small">
						<div class="govuk-checkboxes__item">
							<input class="govuk-checkboxes__input" type="checkbox" name="cases" value="{{ case.id }}">
							<label class="govuk-label govuk-checkboxes__label"></label>
						</div>
					</div>
                <div>
                    {% if 'query' in case.type.key %}
                        <div>
                            <a class="govuk-link govuk-!-font-size-19 govuk-link--no-visited-state govuk-!-font-weight-bold" href="{% url 'cases:case' case.id %}?return_to={{ current_queue.id }}" style="text-decoration: none; margin-bottom: 5px!important; display: inline-block;">
                                {{ case.query.id|reference_code }}
                            </a>
                        </div>
                    {% else %}
                        <div>
                            <a href="{% url 'cases:case' case.id %}?return_to={{ current_queue.id }}" class="govuk-link govuk-!-font-size-19 govuk-link--no-visited-state govuk-!-font-weight-bold" style="text-decoration: none; margin-bottom: 5px!important; display: inline-block;">
                                {{ case.id }}
                            </a>
                        </div>
                    {% endif %}
                    <p class="govuk-body" style="opacity: .7; margin: 0;">
                        {{ case.organisation }}
                    </p>
                </div>
                <div>
                    {% for queue in case.users %}
                        {% if current_queue.is_system_queue and queue.users|length %}
                            <p class="govuk-body" style="margin-bottom: 0; opacity: .7;">{{ queue.queue }}</p>
                        {% endif %}
                        {% for user in queue.users %}
                            <p class="govuk-body user" style="margin-bottom: 6px;">
                                {% if user.first_name %}
                                    {{ user.first_name }} {{ user.last_name }}
                                {% else %}
                                    {{ user.email }}
                                {% endif %}
                            </p>
                        {% empty %}
                            {% if not current_queue.is_system_queue %}
                                <p class="govuk-body" style="margin-bottom: 0; opacity: .7;">No users assigned</p>
                            {% endif %}
                        {% endfor %}
                    {% empty %}
                        <p class="govuk-body" style="margin-bottom: 0; opacity: .7;">No users assigned</p>
                    {% endfor %}
                </div>
                <p class="govuk-body">
                    {{ case.type.value }}
                </p>
                {% if current_queue.is_system_queue %}
                    <p class="govuk-body">
                        {{ case.queue_names|join:', '  }}
                    </p>
                {% endif %}
                <p class="govuk-body">
                    {% if case.type.key == 'clc_query' %}
                        {{ case.status|default:"Untitled"|sentence_case }}
                    {% else %}
                        {{ case.status|default:"Untitled"|sentence_case }}
                    {% endif %}
                </p>
                </div>
			{% endfor %}
        </div>
        {% if cases.total_pages > 1 %}
            <br>

            <div class="lite-pagination__container ">
                {% for i in cases.total_pages|times %}
                    <a href="{% url 'cases:cases' %}?{{ params_str }}&page={{ i }}" class="lite-pagination__item {% if page == i %}lite-pagination__item--selected{% endif %}" id="page-{{ i }}">
                        {{ i }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
	{% else %}
		{% get_string 'cases.no_cases' as no_cases_text %}
		{% include "includes/information-text.html" with text=no_cases_text %}
		<br><br>
		{% if params.case_type or params.status %}
			<a href="{% url 'cases:cases' %}?queue={{ current_queue.id }}" class="govuk-link govuk-link--no-visited-state govuk-body">Clear filters</a>
		{% endif %}
	{% endif %}

</form>

<script>
	$("#filters").hide();
	$("#show-filters-link").show();
	$("#hide-filters-link").hide();

	{% if params.case_type or params.status %}
		$("#filters").show();
		$("#show-filters-link").hide();
		$("#hide-filters-link").show();
	{% endif %}

	function toggleFilters() {
		$("#filters").toggle();
		if ($("#filters").is(':visible')) {
			$("#show-filters-link").hide();
			$("#hide-filters-link").show();
		} else {
			$("#show-filters-link").show();
			$("#hide-filters-link").hide();
		}
	}

	function toggleDropdown() {
		$(".app-dropdown-background").toggle();
		$("#queues").toggleClass('app-dropdown__container--visible');
		$("#queue-title").toggleClass("app-dropdown__heading--flipped");
	}

	function setAssignUsersAbility() {
		// Disable the assign users button unless a checkbox is selected
		if ($("input[name='cases']:checked").length == 0) {
			$("#assign-users-button").prop('disabled', true).addClass("govuk-button--disabled");
		} else {
			$("#assign-users-button").prop('disabled', false).removeClass("govuk-button--disabled");
		}
	}

	setAssignUsersAbility();

	$("#select-all-checkbox").click(function() {
		if ($("input[name='cases']:checked").length == $("input[name='cases']").length) {
			$("input[name='cases']").prop('checked', false);
	   } else {
		   $("input[name='cases']").prop('checked', true);
	   }

		setAssignUsersAbility();
	});

	$("input[name='cases']").change(function() {
		setAssignUsersAbility();
		$("#select-all-checkbox").prop('checked', $("input[name='cases']:checked").length == $("input[name='cases']").length);
		$("#select-all-checkbox").prop("indeterminate", $("input[name='cases']:checked").length > 0 && $("input[name='cases']:checked").length < $("input[name='cases']").length);
	});
</script>
{% endblock %}

{% block javascript %}
	<script src="{% static 'javascripts/filter-bar.js' %}"></script>
{% endblock %}
