{% extends 'layouts/two_pane.html' %}

{% load humanize %}

{% block twoThirds %}

	<h1 class="govuk-heading-l">{{ title }}</h1>

	<form method="post">
		{% csrf_token %}

		<div class="govuk-form-group">
			<label class="govuk-label" for="sort">
				Case Status
			</label>
			<select id="status" class="govuk-select">
				<option {% if data.case.application.status == "Submitted" %}selected{% endif %}>Submitted</option>
				<option {% if data.case.application.status == "More information required" %}selected{% endif %}>More information required</option>
				<option {% if data.case.application.status == "Under review" %}selected{% endif %}>Under review</option>
				<option {% if data.case.application.status == "Resubmitted" %}selected{% endif %}>Resubmitted</option>
				<option {% if data.case.application.status == "Withdrawn" %}selected{% endif %}>Withdrawn</option>
			</select>
		</div>

		<div class="govuk-form-group">
			<button class="govuk-button">Save</button>
		</div>
	</form>

{% endblock %}
