{% extends 'layouts/two_pane.html' %}

{% load humanize %}

{% block back_link %}
	<a href="{% url 'cases:case' data.case.id %}" class="govuk-back-link">Back</a>
{% endblock %}

{% block body %}

	<!--<div class="information information-animated">
		{% get_string 'cases.manage.case_update_successful' %}
	</div>-->

	<h1 class="govuk-heading-l">{{ title }}</h1>

	<form method="post">
		{% csrf_token %}
		<div class="govuk-form-group">
            {% if title == 'Manage CLC query case' %}
    			<label class="govuk-label" for="status">
	    			CLC Query Status
		    	</label>
            {% else %}
                <label class="govuk-label" for="status">
	    			Application Status
		    	</label>
            {% endif %}
			<select id="status" class="govuk-select" name="status" id="status">
				<option value="submitted" {% if data.case.application.status == "submitted" %}selected{% endif %}>Submitted</option>
				<option value="more_information_required" {% if data.case.application.status == "more_information_required" %}selected{% endif %}>More information required</option>
				<option value="under_review" {% if data.case.application.status == "under_review" %}selected{% endif %}>Under review</option>
				<option value="resubmitted" {% if data.case.application.status == "resubmitted" %}selected{% endif %}>Resubmitted</option>
				<option value="withdrawn" {% if data.case.application.status == "withdrawn" %}selected{% endif %}>Withdrawn</option>
			</select>
		</div>

		<div class="govuk-form-group">
			<button type="submit" class="govuk-button">Save</button>
		</div>
	</form>

{% endblock %}
