{% extends 'layouts/two_pane.html' %}

{% load humanize %}

{% block back_link %}
	<a href="{% url 'cases:case' data.case.id %}" class="govuk-back-link">Back</a>
{% endblock %}

{% block body %}

	<!--<div class="information information-animated">
		{% get_string 'cases.manage.case_update_successful' %}
	</div>-->

	<h1 class="govuk-heading-l">{{ title }}</h1>

	<form method="post">
		{% csrf_token %}
		<div class="govuk-form-group">
            {% if title == 'Manage CLC query case' %}
    			<label class="govuk-label" for="status">
	    			CLC Query Status
		    	</label>
            {% else %}
                <label class="govuk-label" for="status">
	    			Application Status
		    	</label>
            {% endif %}
			<select id="status" class="govuk-select" name="status" id="status">
                {% for status in statuses.statuses %}
				    <option value="{{ status.status }}" {% if data.case.application.status == status.status or data.case.clc_query.status == status.status%}selected{% endif %}>{{ status.status|default:"Untitled"|sentence_case }}</option>
                {% endfor %}
			</select>
		</div>

		<div class="govuk-form-group">
			<button type="submit" class="govuk-button">Save</button>
		</div>
	</form>

{% endblock %}
