{% load humanize %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			{% csrf_token %}
			<div class="lite-expandable-textarea lite-case-note-no-transition">
				<textarea id="case_note" name="text" cols="80" class="govuk-textarea" placeholder="Add case note"></textarea>
				<div class="lite-expandable-textarea-controls">
					<a id="case-note-cancel-button" href="{% url 'cases:case' data.case.id %}" class="govuk-button govuk-button--secondary" type="button" draggable="false">
						Cancel
					</a>
					<p id="case_note-warning" class="govuk-hint govuk-character-count__message" aria-live="polite">
						You can enter up to 2200 characters
					</p>
					<button class="govuk-button" type="submit" id="button-post-note">
						Post note
					</button>
				</div>
			</div>
		</form>
		<div class="lite-case-notes">
			{% for item in activity %}
				{% if item.type == 'case_note' %}
					<div class="lite-activity-item">
						<p class="govuk-body" style="margin-bottom: 0;">
							<span class="user">{{ item.user.first_name }} {{ item.user.last_name }}</span> added a case note:
						</p>
						<div class="lite-case-note">
							{{ item.data }}
						</div>
						<p class="govuk-hint govuk-!-font-size-16" style="margin-top: 10px;">{{ item.date|str_date }}</p>
					</div>
				{% elif item.type == 'change' %}
					<div class="lite-activity-item">
						<p class="govuk-body" style="margin-bottom: 0;">
							{% for key, value in item.data.items %}
								{% if forloop.first %}<span class="user">{{ item.user.first_name }} {{ item.user.last_name }}</span> set{% endif %} the <span class="highlight">{{ key }}</span> to <span class="highlight">{{ value|sentence_case }}</span>{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}.{% endif %}
							{% endfor %}
						</p>
						<p class="govuk-hint govuk-!-font-size-16" style="margin-top: 10px;">{{ item.date|str_date }}</p>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	<div class="govuk-grid-column-one-third">

	</div>
</div>

{% load static %}
<script src="{% static 'javascripts/pluralize.js' %}"></script>
<script src="{% static 'javascripts/specific/case_notes.js' %}"></script>
