{% load humanize %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-quarter">
		<p></p>
	</div>
	<div class="govuk-grid-column-one-half">
		<form method="post">
			{% csrf_token %}
			<div class="lite-expandable-textarea">
				<textarea id="case_note" name="text" cols="80" class="govuk-textarea" placeholder="Add case note"></textarea>
				<div class="lite-expandable-textarea-controls">
					<p id="case_note-warning" class="govuk-hint govuk-character-count__message" aria-live="polite">
						You can enter up to 2000 characters
					</p>
					<button class="govuk-button" type="submit" id="button-post-note">
						Post note
					</button>
				</div>
			</div>
		</form>
		<div class="lite-case-notes">
			{% for case_note in case_notes %}
			<div class="lite-case-note {% if case_note.created_at|str_date|naturaltime == 'now' %}lite-case-note--new{% endif%}" id="{{ case_note.id }}">
				<div class="lite-case-note-header">
					<div class="lite-case-note-header-info">
						<p class="lite-case-note-user">John Smith</p>
						<p>-</p>
						<p>GOV USER</p>
						<p>-</p>
						<p>{{ case_note.created_at|str_date|naturaltime }}</p>
					</div>
				</div>
				<p class="govuk-body">{{ case_note.text }}</p>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="govuk-grid-column-one-quarter">

	</div>
</div>

{% load static %}
<script src="{% static 'javascripts/specific/case_notes.js' %}"></script>
