{% extends 'layouts/full_width.html' %}

{% load humanize %}

{% block body %}

	<!-- Page header and description -->
	<h1 class="govuk-heading-l">{{ page.title }}</h1>
	<div class="govuk-form-group">
		<p class="govuk-caption-m">
			{{ page.description }}
		</p>
	</div>

	<!-- Questions -->
	<form action="" method="post">
		{% csrf_token %}

		{% for question in page.questions %}
			<div class="govuk-form-group">
				<label class="govuk-label" for="{{ question.name }}">
					{{ question.title }}
				</label>
				<span class="govuk-hint" for="{{ question.name }}">
					{{ question.description }}
				</span>

				<!-- Select component based on input_type -->
				<div class="govuk-form-group">
					{% if question.input_type.name == "INPUT" %}
                    	{% include "organisations/components/input.html" with name=question.name value=data %}
					{% elif question.input_type.name == "TEXTAREA" %}
                    	{% include "organisations/components/textarea.html" with name=question.name value=question.name %}
					{% elif question.input_type.name == "NUMBER" %}
                    	{% include "organisations/components/number.html" with name=question.name value=question.name %}
					{% elif question.input_type.name == "RADIOBUTTONS" %}
                    	{% include "organisations/components/radiobuttons.html" with name=question.name value=question.name data=question.data %}
					{% elif question.input_type.name == "CHECKBOXES" %}
                    	{% include "organisations/components/checkboxes.html" with name=question.name value=question.name data=question.data %}
					{% elif question.input_type.name == "SELECT" %}
                    	{% include "organisations/components/select.html" with name=question.name value=question.name data=question.data %}
					{% elif question.input_type.name == "AUTOCOMPLETE" %}
                    	{% include "organisations/components/autocomplete.html" with name=question.name value=question.name data=question.data %}
					{% elif question.input_type.name == "FILE_UPLOAD" %}
                    	{% include "organisations/components/file_upload.html" with name=question.name value=question.name %}
					{% elif question.input_type.name == "MULTI_FILE_UPLOAD" %}
                    	{% include "organisations/components/multi_file_upload.html" with name=question.name value=question.name %}
					{% endif %}
				</div>
			</div>
		{% endfor %}

		<!-- Buttons -->
		<div class="govuk-form-group">
			<div class="buttons-row">
				<button type="submit" class="govuk-button" name="button" action="submit">Save and continue</button>
				{% if draft_id %}
					<a role="button" draggable="false" class="govuk-button govuk-button--secondary" href="{% url 'new_application:overview' %}?id={{ draft_id }}">
						Go to Overview
					</a>
				{% endif %}
			</div>
		</div>
	</form>

{% endblock %}