{% extends 'layouts/base.html' %}

{% load humanize %}

{% block back_link %}{% endblock %}

{% block body %}

	{% include 'includes/messages.html' %}

	<div class="lite-app-bar">
		<h2 class="govuk-heading-l">Organisations</h2>
		<div class="lite-app-bar--right">
			<a href="{% url 'register_business:register' %}" class="govuk-button" draggable="false" role="button">
				Add an organisation
			</a>
		</div>
	</div>

	{% if data.organisations|length %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">Name</th>
					<th class="govuk-table__header" scope="col">Type</th>
					<th class="govuk-table__header" scope="col">EORI Number</th>
					<th class="govuk-table__header" scope="col">SIC Number</th>
					<th class="govuk-table__header" scope="col">VAT Number</th>
					<th class="govuk-table__header" scope="col">Address</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for organisation in data.organisations %}
					<tr class="govuk-table__row" style="vertical-align: top;">
						<td class="govuk-table__cell">
							<a class="govuk-link" href="{% url 'organisations:organisation' organisation.id %}">{{ organisation.name|default:"Untitled" }}</a>
						</td>
                        <td class="govuk-table__cell">
							{{ organisation.sub_type.value|default:"Untitled" }}
						</td>
						<td class="govuk-table__cell">
							{{ organisation.eori_number|default:"N/A" }}
						</td>
						<td class="govuk-table__cell">
							{{ organisation.sic_number|default:"N/A" }}
						</td>
						<td class="govuk-table__cell">
							{{ organisation.vat_number|default:"N/A" }}
						</td>
						<td class="govuk-table__cell">
							{{ organisation.primary_site.address.address_line_1 }}<br/>
							{{ organisation.primary_site.address.postcode }}<br/>
							{{ organisation.primary_site.address.city }}<br/>
							{{ organisation.primary_site.address.country.name }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p class="govuk-caption-l">There are no registered organisations at the moment.</p>
	{% endif %}

{% endblock %}
