{% extends 'layouts/base.html' %}

{% load humanize %}

{% block back-button %}{% endblock %}

{% block body %}

	<div class="lite-app-bar">
		<h1 class="govuk-heading-l">Organisations</h1>
		<div class="lite-app-bar--right">
			<a href="{% url 'register_business:register' %}" class="govuk-button govuk-button--secondary" draggable="false" role="button">New Organisation</a>
			<!--<div class="lite-search-wrapper">
				<input type="search" name="search" class="govuk-input">
				<div class="search-button">

				</div>
			</div>-->
		</div>
	</div>


	{% if data.organisations|length %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">Name</th>
					<th class="govuk-table__header" scope="col">EORI Number</th>
					<th class="govuk-table__header" scope="col">SIC Number</th>
					<th class="govuk-table__header" scope="col">VAT Number</th>
					<th class="govuk-table__header" scope="col">Address</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for organisation in data.organisations %}
					<tr class="govuk-table__row" style="vertical-align: top;">
						<td class="govuk-table__cell">
							<a class="govuk-link" href="{% url 'organisations:organisation' organisation.id %}">{{ organisation.name|default:"Untitled" }}</a>
						</td>
						<td class="govuk-table__cell">
							{{ organisation.eori_number|default:"Untitled" }}
						</td>
						<td class="govuk-table__cell">
							{{ organisation.sic_number|default:"Untitled" }}
						</td>
						<td class="govuk-table__cell">
							{{ organisation.vat_number|default:"Untitled" }}
						</td>
						<td class="govuk-table__cell">
							{{ organisation.primary_site.address.address_line_1 }}<br/>
							{{ organisation.primary_site.address.postcode }}<br/>
							{{ organisation.primary_site.address.city }}<br/>
							{{ organisation.primary_site.address.country }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p class="govuk-caption-l">There are no registered organisations at the moment.</p>
	{% endif %}

{% endblock %}
