{% extends 'layouts/two-pane.html' %}

{% block back_link %}
    {% if organisation.type.key == 'hmrc' %}
        <a href="{% url 'organisations:hmrc' %}" class="govuk-back-link">
            Back to hmrc organisations
        </a>
    {% else %}
        <a href="{% url 'organisations:organisations' %}" class="govuk-back-link">
            Back to organisations
        </a>
    {% endif %}
{% endblock %}

{% block two_thirds %}
    <h1 class="govuk-heading-l">{{ title }}</h1>

    <dl class="govuk-summary-list">
        {% if organisation.eori_number %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    EORI number
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ organisation.eori_number }}
                </dd>
            </div>
        {% endif %}
        {% if organisation.sic_number %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    SIC number
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ organisation.sic_number }}
                </dd>
            </div>
        {% endif %}
        {% if organisation.vat_number %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    VAT number
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ organisation.vat_number }}
                </dd>
            </div>
        {% endif %}
        {% if organisation.registration_number %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Company registration number
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ organisation.registration_number }}
                </dd>
            </div>
        {% endif %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Created at
            </dt>
            <dd class="govuk-summary-list__value">
                {{ organisation.created_at|str_date }}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Address
            </dt>
            <dd class="govuk-summary-list__value">
                {{ organisation.primary_site.address.address_line_1 }}<br/>
					{% if organisation.primary_site.address.address_line_2 %}
						{{ organisation.primary_site.address.address_line_2 }}<br/>
					{% endif %}
					{{ organisation.primary_site.address.city }}<br/>
					{{ organisation.primary_site.address.postcode }}<br/>
					{{ organisation.primary_site.address.country.name }}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Type
            </dt>
            <dd class="govuk-summary-list__value">
                {{ organisation.type.value }}
            </dd>
        </div>
    </dl>

	<div id="flags-organisation" class="app-flags">
		{% for flag in organisation.flags %}
			<div class="app-flag" id="{{ flag.name }}">
				{{ flag.name }}
			</div>
		{% endfor %}
		{% if not hide_creation_link %}
			<a id="link-organisation-flags" class="app-flag app-flag--action" href="{% url 'organisations:assign_flags' organisation.id %}?level=organisations&items={{ organisation.id }}">
				{% if organisation.flags %}
					{% lcs 'ORGANISATION_EDIT_FLAGS' %}
				{% else %}
					{% lcs 'ORGANISATION_SET_FLAGS' %}
				{% endif %}
			</a>
		{% endif %}
	</div>

	<div class="lite-tabs--fade">
		<div class="lite-tabs">
			<a class="lite-tabs__tab lite-tabs__tab--selected" id="sites">Sites</a>
		</div>
	</div>

	{% if sites|length %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header">
						Name
					</th>
					<th class="govuk-table__header" scope="col">Address</th>
				</tr>
			</thead>
			<tbody class="govuk-table__head">
				{% for site in sites %}
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							{{ site.name }}
						</td>
						<td class="govuk-table__cell">
							{{ site.address.address_line_1 }}<br/>
							{% if site.address.address_line_2 %}
								{{ site.address.address_line_2 }}<br/>
							{% endif %}
							{{ site.address.city }}<br/>
							{{ site.address.postcode }}<br/>
							{{ site.address.country.name }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<span class="govuk-hint">This organisation doesn't have any sites.</span>
	{% endif %}
{% endblock %}
