{% extends 'layouts/base.html' %}

{% load humanize %}

{% block back_link %}{% endblock %}

{% block body %}
	{% include 'includes/messages.html' %}

	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h1 class="govuk-heading-l">HMRC organisations</h1>
		</div>
		<div class="lite-app-bar__controls">
			<a id="button-register-organisation" href="{% url 'organisations:register_hmrc' %}" class="govuk-button" draggable="false" role="button">
				Add an HMRC organisation
			</a>
		</div>
	</div>

	{% if data.results|length %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">Name</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for organisation in data.results %}
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<a class="govuk-link" href="{% url 'organisations:organisation' organisation.id %}">{{ organisation.name }}</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p class="govuk-caption-l">There are no registered organisations at the moment.</p>
	{% endif %}
{% endblock %}
