<table class="govuk-table">
	{{ goods_type_country_decisions.approved }}
	<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<th class="govuk-table__header" scope="col">{% lcs 'advice.GoodsDecisionMatrixPage.Table.GOODS' %}</th>
			<th class="govuk-table__header" scope="col">{% lcs 'advice.GoodsDecisionMatrixPage.Table.DESTINATIONS' %}</th>
			<th class="govuk-table__header" scope="col">{% lcs 'advice.GoodsDecisionMatrixPage.Table.DECISION' %}</th>
		</tr>
	</thead>
	<tbody class="govuk-table__body">
		{% for goods_type in goods_type_country_decisions.approved %}
			{% for country in goods_type.countries %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">
						{% include 'includes/control-list-entries.html' with control_list_entries=goods_type.control_list_entries %} ({{ goods_type.decision }})
						<br>
						{{ goods_type.description }}
					</td>
					<td class="govuk-table__cell">
						{{ country.name }} ({{ country.decision }})
					</td>
					<td class="govuk-table__cell govuk-table__cell--radio">
						{% for decision in decisions %}
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" type="radio" name="{{ goods_type.id }}.{{ country.id }}" id="{{ goods_type.id }}.{{ country.id }}" value="{{ decision }}">
								<label class="govuk-label govuk-radios__label" for="{{ goods_type.id }}.{{ country.id }}">
									{{ decision|sentence_case }}
								</label>
							</div>
						{% endfor %}
					</td>
				</tr>
			{% endfor %}
		{% endfor %}
	</tbody>
</table>
<h2 class="govuk-heading-l">Previously refused at final decision level</h2>
<table class="govuk-table">
	{{ goods_type_country_decisions.refused }}
	<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<th class="govuk-table__header" scope="col">{% lcs 'advice.GoodsDecisionMatrixPage.Table.GOODS' %}</th>
			<th class="govuk-table__header" scope="col">{% lcs 'advice.GoodsDecisionMatrixPage.Table.DESTINATIONS' %}</th>
			<th class="govuk-table__header" scope="col">{% lcs 'advice.GoodsDecisionMatrixPage.Table.DECISION' %}</th>
		</tr>
	</thead>
	<tbody class="govuk-table__body">
		{% for goods_type in goods_type_country_decisions.refused %}
			{% for country in goods_type.countries %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">
						{% include 'includes/control-list-entries.html' with control_list_entries=goods_type.control_list_entries %} ({{ goods_type.decision }})
						<br>
						{{ goods_type.description }}
					</td>
					<td class="govuk-table__cell">
						{{ country.name }} ({{ country.decision }})
					</td>
					<td class="govuk-table__cell govuk-table__cell--radio">
						{% for decision in decisions %}
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" type="radio" name="" id="{{ goods_type.id }}.{{ country.id }}" value="{{ decision }}" disabled {% if decision == "refuse" %}checked{% endif %}>
								<label class="govuk-label govuk-radios__label" for="{{ goods_type.id }}.{{ country.id }}">
									{{ decision|sentence_case }}
								</label>
							</div>
						{% endfor %}
					</td>
				</tr>
			{% endfor %}
		{% endfor %}
	</tbody>
</table>
