<table class="govuk-table">
	<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<th class="govuk-table__header" scope="col">{% lcs 'advice.GoodsDecisionMatrixPage.Table.GOODS' %}</th>
			<th class="govuk-table__header" scope="col">{% lcs 'advice.GoodsDecisionMatrixPage.Table.DESTINATIONS' %}</th>
			<th class="govuk-table__header" scope="col">{% lcs 'advice.GoodsDecisionMatrixPage.Table.DECISION' %}</th>
		</tr>
	</thead>
	<tbody class="govuk-table__body">
		{% for goods_type in goods_type_country_decisions.approved %}
			{% for country in goods_type.countries %}
				<tr class="govuk-table__row" id="decision-{{ goods_type.id }}">
					{% if forloop.counter == 1 %}
						<td class="govuk-table__cell" rowspan="{{ goods_type.countries|length }}">
							{% include 'includes/control-list-entries.html' with control_list_entries=goods_type.control_list_entries %} ({{ goods_type.decision }})
							<br>
							{{ goods_type.description }}
						</td>
					{% endif %}
					<td class="govuk-table__cell">
						{{ country.name }} ({{ country.decision }})
					</td>
					<td class="govuk-table__cell govuk-table__cell--radio">
						{% for decision in decisions %}
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" type="radio" name="{{ goods_type.id }}.{{ country.id }}" id="{{ decision }}-{{ goods_type.id }}.{{ country.id }}" value="{{ decision }}" {% if country.value == decision %}checked{% endif %}>
								<label class="govuk-label govuk-radios__label" for="{{ decision }}-{{ goods_type.id }}.{{ country.id }}">
									{{ decision|sentence_case }}
								</label>
							</div>
						{% endfor %}
					</td>
				</tr>
			{% endfor %}
		{% endfor %}
	</tbody>
</table>
<h1 class="govuk-heading-l">Previously refused at final decision level</h1>
<table class="govuk-table">
	<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<th class="govuk-table__header" scope="col">{% lcs 'advice.GoodsDecisionMatrixPage.Table.GOODS' %}</th>
			<th class="govuk-table__header" scope="col">{% lcs 'advice.GoodsDecisionMatrixPage.Table.DESTINATIONS' %}</th>
			<th class="govuk-table__header" scope="col">{% lcs 'advice.GoodsDecisionMatrixPage.Table.DECISION' %}</th>
		</tr>
	</thead>
	<tbody class="govuk-table__body">
		{% for goods_type in goods_type_country_decisions.refused %}
			{% for country in goods_type.countries %}
				<tr class="govuk-table__row" id="refused-{{ goods_type.id }}">
					{% if forloop.counter == 1 %}
						<td class="govuk-table__cell" rowspan="{{ goods_type.countries|length }}">
							{% include 'includes/control-list-entries.html' with control_list_entries=goods_type.control_list_entries %} ({{ goods_type.decision }})
							<br>
							{{ goods_type.description }}
						</td>
					{% endif %}
					<td class="govuk-table__cell">
						{{ country.name }} ({{ country.decision }})
					</td>
					<td class="govuk-table__cell govuk-table__cell--radio">
						{% for decision in decisions %}
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" type="radio" name="" id="{{ goods_type.id }}.{{ country.id }}" value="{{ decision }}" disabled {% if decision == "refuse" %}checked{% endif %}>
								<label class="govuk-label govuk-radios__label" for="{{ goods_type.id }}.{{ country.id }}">
									{{ decision|sentence_case }}
								</label>
							</div>
						{% endfor %}
					</td>
				</tr>
			{% endfor %}
		{% endfor %}
	</tbody>
</table>
