{% load humanize %}

<table class="govuk-table">
	<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<th class="govuk-table__header" scope="col">{% lcs 'advice.FinaliseLicenceForm.GoodsTable.CLC_COLUMN' %}</th>
			<th class="govuk-table__header" scope="col">{% lcs 'advice.FinaliseLicenceForm.GoodsTable.DESCRIPTION_COLUMN' %}</th>
			<th class="govuk-table__header" scope="col">{% lcs 'advice.FinaliseLicenceForm.GoodsTable.DECISION_COLUMN' %}</th>
			<th class="govuk-table__header" scope="col">{% lcs 'advice.FinaliseLicenceForm.GoodsTable.LICENCED_QTY_COLUMN' %}</th>
			<th class="govuk-table__header" scope="col">{% lcs 'advice.FinaliseLicenceForm.GoodsTable.LICENCED_VALUE_COLUMN' %}</th>
		</tr>
	</thead>
	<tbody class="govuk-table__body">
		{% for good in data %}
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">
					{% include 'includes/control-list-entries.html' with control_list_entries=good.control_list_entries %}
				</td>
				<td class="govuk-table__cell">
					{{ good.description }}
				</td>
				<td class="govuk-table__cell">
					<p class="govuk-body govuk-!-font-weight-bold">{{ good.advice.type.value }}</p>
					<p>{{ good.advice.text }}<br></p>
					{% if good.advice.proviso %}
						<p>Proviso</p>
						{{ good.advice.proviso }}
					{% endif %}
				</td>
				<td class="govuk-table__cell">
					<span class="govuk-hint govuk-!-margin-0">Applied for:{{ good.usage_applied_for|intcomma }} {{ good.unit.value }}</span>
					<span class="govuk-hint govuk-!-margin-0">Previously licenced:{{ good.usage_licenced|intcomma }} {{ good.unit.value }}</span>
					<span class="govuk-hint govuk-!-margin-0">Used:{{ good.usage|intcomma }} {{ good.unit.value }}</span>
					<input class="govuk-input" id="quantity-{{ good.id }}" type="text" name="quantity-{{ good.id }}" value="{{ good.usage_applied_for|subtract:good.usage }}" onchange="updateValue('{{ good.id }}', '{{ good.value }}')"><br>
				</td>
				<td class="govuk-table__cell">
					<span class="govuk-hint govuk-!-margin-0">Applied for: £{{ good.value|multiply:good.usage_applied_for|floatformat:2 }}</span>
					<span class="govuk-hint govuk-!-margin-0">Previously licenced: £{{ good.value|multiply:good.usage_licenced|floatformat:2 }}</span>
					<span class="govuk-hint govuk-!-margin-0">Used: £{{ good.value|multiply:good.usage|floatformat:2 }}</span>
					<div class="lite-currency-input">
						<div class="lite-currency-input__symbol {% if error %}lite-currency--error{% endif %}" aria-hidden="true">£</div>
						<input class="govuk-input" id="value-{{ good.id }}" type="text" name="value-{{ good.id }}" value="{{ good.value|multiply:good.usage_licenced|floatformat:2 }}"/>
					</div>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% block javascript %}
	<script>
		function updateValue(id, value_per_item) {
			let quantity = document.getElementById("quantity-"+id).value;
			document.getElementById("value-"+id).value = (quantity * value_per_item).toFixed(2);
		}
	</script>
{% endblock %}
