{% load svg %}

<table class="govuk-table">
	<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<th scope="col" class="govuk-table__header">Name</th>
			<th scope="col" class="govuk-table__header">Job title</th>
			<th scope="col" class="govuk-table__header"></th>
		</tr>
	</thead>
	<tbody id="tbody-people" class="govuk-table__body">
		{% for person in data.people_present %}
			{% include 'includes/person-row.html' %}
		{% endfor %}
	</tbody>
</table>

<button id="button-add-person" type="button" name="button" class="lite-button--link app-picklist-picker-heading__link">
	{% svg 'plus' %}
	Add a person
</button>

<script type="text/javascript" nonce="{{ request.csp_nonce }}">
	$("#button-add-person").click(function() {
		var html = $(`{% include 'includes/person-row.html' %}`);
		$("#tbody-people").append(html);
		html.find(".govuk-table__cell:first-of-type .govuk-input").focus();
		$("table").show();
		$(".lite-information-text").remove();
	});

	function removeRow(element) {
		$(element).parents(".govuk-table__row").remove();
		tryShowNoContentNotice();
		return false;
	}

	function tryShowNoContentNotice() {
		if ($("#tbody-people").children().length == 0) {
			$("table").hide();
			$("table").after(`{{ no_content_notice }}`);
		}
	}
</script>
