{% load svg %}

{% component as person %}
	<tr class="govuk-table__row">
		<td class="govuk-table__cell">
			<label class="govuk-visually-hidden" for="width-20">Name</label>
			<input class="govuk-input" id="width-20" name="name[]" type="text">
		</td>
		<td class="govuk-table__cell">
			<label class="govuk-visually-hidden" for="width-20">Job title</label>
			<input class="govuk-input" id="width-20" name="job_title[]" type="text">
		</td>
		<td class="govuk-table__cell govuk-table__cell--tight lite-table__cell--middle-align">
			<a href="#" class="govuk-link govuk-link--no-visited-state" onclick="return removeRow(this)">Remove</a>
		</td>
	</tr>
{% endcomponent %}

{% component as no_content_notice %}
	{% include 'includes/notice.html' %}
{% endcomponent %}

<table class="govuk-table">
	<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<th scope="col" class="govuk-table__header">Name</th>
			<th scope="col" class="govuk-table__header">Job title</th>
			<th scope="col" class="govuk-table__header"></th>
		</tr>
	</thead>
	<tbody id="tbody-people" class="govuk-table__body">
		{{ person }}
	</tbody>
</table>

<button id="button-add-person" type="button" name="button" class="lite-button--link app-picklist-picker-heading__link">
	{% svg 'plus' %}
	Add a person
</button>

<script type="text/javascript" nonce="{{ request.csp_nonce }}">
	$("#button-add-person").click(function() {
		var html = $(`{{ person }}`);
		$("#tbody-people").append(html);
		html.find(".govuk-table__cell:first-of-type .govuk-input").focus();
		$("table").show();
		$(".lite-information-text").remove();
	});

	function removeRow(element) {
		$(element).parents(".govuk-table__row").remove();
		tryShowNoContentNotice();
		return false;
	}

	function tryShowNoContentNotice() {
		if ($("#tbody-people").children().length == 0) {
			$("table").hide();
			$("table").after(`{{ no_content_notice }}`);
		}
	}
</script>
