{% load svg %}

<div id="{{ component.target }}-picklist-picker" class="app-hidden">
	{% load svg %}
	<div class="lite-search__container" style="margin-bottom: 15px;">
		<input type="search" class="govuk-input app-picklist__search-input" id="{{ component.target }}-filter-box" placeholder="{{ placeholder }}" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
		<button class="lite-search__button lite-search__button--instant-search" type="submit">
			{% svg 'search' %}
			<span>Search</span>
		</button>
	</div>
	<div id="{{ component.target }}-picklist-picker__container" class="app-picklist-picker__container"></div>
	<div class="app-picklist-picker__no-results">
		There aren't any results.
	</div>
	<div class="lite-pagination__container" style="display: none;">
		<a id="link-{{ component.target }}-previous-page" href="#" id="link-previous-page" class="lite-pagination__navigation-link">
			{% svg 'previous' %}
			<span>Previous page</span>
		</a>
		<span></span>
		<a id="link-{{ component.target }}-previous-page" href="#" id="link-previous-page" class="lite-pagination__navigation-link">
			<span>Next page</span>
			{% svg 'next' %}
		</a>
	</div>
</div>

{% if not component.set_text %}
	<a id="link-{{ component.target }}-picklist-picker" data-picklist-target="{{ component.target }}" data-picklist-set-text="false" href="#" class="govuk-link govuk-link--no-visited-state app-picklist-picker-heading__link">
		{% svg 'plus' %}
		Use {{ component.type|sentence_case|lower }} from picklist
	</a>
	<a id="link-{{ component.target }}-picklist-picker-change" data-picklist-target="{{ component.target }}" data-picklist-set-text="false" href="#" class="govuk-link govuk-link--no-visited-state app-picklist-picker-heading__link app-hidden">
		Change {{ component.type|sentence_case|lower }}
	</a>
	<input type="hidden" id="{{ component.target }}-input" name="{{ component.target }}">
	<div id="{{ component.target }}-text" class="govuk-inset-text govuk-!-margin-top-0 app-hidden"></div>
{% endif %}

<script>
	$('#{{ component.target }}').closest( ".govuk-form-group" ).prepend(`
		<a data-picklist-target="{{ component.target }}" id="link-{{ component.target }}-picklist-picker" href="#" class="govuk-link govuk-link--no-visited-state app-picklist-picker-heading__link">
			{% svg 'plus' %}
			Add {{ component.type|sentence_case|lower }} from picklist
		</a>`);

	$("a[data-picklist-target={{ component.target }}]").click(function() {
		LITECommon.Modal.showModal('Select a picklist item', $( '#{{ component.target }}-picklist-picker' ).html(), false, true, {maxWidth: '450px'});
		filter{{ component.target }}PicklistItems("{{ component.set_text|lower }}");
		$(".lite-modal .app-picklist__search-input").on('input propertychange paste', function() {
			$(".lite-modal #{{ component.target }}-picklist-picker__container").addClass("app-picklist-picker__container--loading");
			filter{{ component.target }}PicklistItems("{{ component.set_text|lower }}", $(this).val());
		});
		return false;
	});

	function filter{{ component.target }}PicklistItems(setText, filter) {
		if (!filter) {
			filter = ""
		}
		$.get("/team/picklists.json?type={{ component.type }}&name=" + filter, function(data) {
			$(".lite-modal #{{ component.target }}-picklist-picker__container").empty();
			$(".lite-modal #{{ component.target }}-picklist-picker__container").removeClass("app-picklist-picker__container--loading");
			$.each(data.results, function(i, item) {
				var html = `
						<div id="${item.id}" onclick="return showPreviewModal(this, '#{{ component.target }}', ${setText})" data-id="${item.id}" data-target="{{ component.target }}" data-title="${item.name}" data-text="${item.text}" data-last-updated="${item.updated_at}" class="app-picklist-picker__item">
							<h4 class="govuk-heading-s">${item.name}</h4>
							<p class="govuk-caption-m">
								${item.text}
							</p>
						</div>
					`
				$(".lite-modal #{{ component.target }}-picklist-picker__container").append(html)
			});
			notice = $(".lite-modal #{{ component.target }}-picklist-picker__container").next();
			if (data.results.length == 0) {
				notice.css({"visibility": "visible"});
			} else {
				notice.css({"visibility": "hidden"});
			}
		});
	}

	function showPreviewModal(item, textarea, setText) {
		var title = $(item).data( 'title' );
		var text = $('<div>').text($(item).data( 'text' )).html();
		var lastUpdated = $(item).data( 'last-updated' );
		var textareaId = textarea.substring(1, textarea.length);
		var addText = setText ? "Add" : "Set";
		var onclick = setText ? `onclick="setTextareaValue('${textarea}');"` : `onclick="setId('${$(item).attr("id")}');"`;
		var previewHtml = `<div class="app-picklist-picker-preview">
								<div class="app-picklist-picker-preview__text">
								<p id="picker-preview-text" class="govuk-body-m">${text}</p>
								<p class="govuk-caption-m">Last updated ${lastUpdated}</p>
							</div>
							<div class="app-picklist-picker-preview__controls">
								<button id="button-submit-${textareaId}" ${onclick} type="submit" class="govuk-button" data-module="govuk-button">
									${addText}
								</button>
							</div>
						</div>`

		LITECommon.Modal.showModal(title, previewHtml, false, true);
		return false;
	};

	function setId(itemId) {
		var item = $("#" + itemId);
		var target =  item.data("target")
		$("#" + target + "-text").text(item.data("text")).removeClass("app-hidden");;
		$("#" + target + "-input").val(item.data("id"));
		$("#link-" + target + "-picklist-picker").hide();
		$("#link-" + target + "-picklist-picker-change").removeClass("app-hidden");
		LITECommon.Modal.closeAllModals();
	}

	function setTextareaValue(textarea) {
		if ($(textarea).val()) {
			$(textarea).val($(textarea).val() + "\n\n" + $('#picker-preview-text').text()).keyup();
		} else {
			$(textarea).val($('#picker-preview-text').text()).keyup();
		}
		LITECommon.Modal.closeAllModals();
	}
</script>
