{% extends 'layouts/base.html' %}

{% block body %}
	<div class="govuk-panel govuk-panel--confirmation">
		<h1 class="govuk-panel__title">
			{% get_string 'register_business.registration_complete' %}
		</h1>
		<div class="govuk-panel__body">
			<strong>{{ name }}</strong>{% get_string 'register_business.successfully_registered' %}
		</div>
	</div>
	<br/><br/>
	<a href="/organisations" class="govuk-link">{% get_string 'register_business.go_to_companies' %}</a>
	<br/>
	<a href="/" class="govuk-link">{% get_string 'register_business.go_home' %}</a>
{% endblock %}
