{% extends 'layouts/base.html' %}

{% block body %}
	<div class="govuk-panel govuk-panel--confirmation">
		<h1 class="govuk-panel__title">
			{% lcs 'RegisterBusiness.REGISTRATION_COMPLETE' %}
		</h1>
		<div class="govuk-panel__body">
			<strong>{{ name }}</strong>{% lcs 'RegisterBusiness.SUCCESSFULLY_REGISTERED' %}
		</div>
	</div>
	<br/><br/>
	<a href="/organisations" class="govuk-link">{% lcs 'RegisterBusiness.GO_TO_COMPANIES' %}</a>
	<br/>
	<a href="/" class="govuk-link">{% lcs 'RegisterBusiness.GO_HOME' %}</a>
{% endblock %}
