.cancel-link {
	position: relative;
	@include govuk-typography-responsive($size: 16);
	@include govuk-link-common;
	@include govuk-link-style-text;
	margin-top: govuk-spacing(3);
	margin-bottom: govuk-spacing(3);
	text-decoration: none;
	float: right;
	color: govuk-colour("red")!important;
	border-bottom: 1px solid govuk-colour("red");
	padding-left: 18px;

	&:hover {
		filter: brightness(1.3);
	}

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 18px;
		background-image: url("/assets/images/delete_application.svg");
		background-position: 0px 3px;
		background-size: 12px 12px;
		background-repeat: no-repeat;
		border: none;
		-webkit-clip-path: none;
		clip-path: none;
	}
}
