{% extends "layouts/base.html" %}

{% block body %}
	<h2 class="govuk-heading-l">{{ title }}</h2>
	<p class="govuk-caption-m">{{ description }}</p>
	<form method="post">
		<div class="buttons-row">
			{% csrf_token %}
			{% if status == 'reactivate' %}
				<button type="submit" name="status" value="Active" class="govuk-button" id="reactivated_button">{% lcs 'users.ManagePage.REACTIVATE_USER' %}</button>
			{% else %}
				<button type="submit" name="status" value="Deactivated" class="govuk-button govuk-button--warning" id="deactivated_button">{% lcs 'users.ManagePage.DEACTIVATE_USER' %}</button>
			{% endif %}
			<a href="{% url 'users:users' %}" role="button" draggable="false" class="govuk-button govuk-button--secondary">{% lcs 'users.ManagePage.CANCEL' %}</a>
		</div>
	</form>
{% endblock %}
