{% extends 'layouts/base.html' %}

{% block back_link %}{% endblock %}

{% block body %}
	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h1 class="govuk-heading-l">{{ title }}</h1>
			<p class="govuk-caption-m">
				{% lcs 'Users.DESCRIPTION' %}
			</p>
		</div>
		<div class="lite-app-bar__controls">
			<a id="button-manage-roles" href="{% url 'users:roles' %}" class="govuk-button govuk-button--secondary" draggable="false" role="button">
				{% lcs 'Users.MANAGE_ROLES' %}
			</a>
			<a id="button-invite-user" href="{% url 'users:add' %}" class="govuk-button" draggable="false" role="button">
				{% lcs 'Users.INVITE' %}
			</a>
		</div>
	</div>

	{% include "filters.html" %}

    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Name</th>
                <th class="govuk-table__header" scope="col">Email</th>
                <th class="govuk-table__header" scope="col">Team</th>
                <th class="govuk-table__header" scope="col">Role</th>
                <th class="govuk-table__header" scope="col">Status</th>
                <th class="govuk-table__header" scope="col"></th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% for user in data.results %}
                <tr class="govuk-table__row" id="row-{{ forloop.counter }}">
                    <td class="govuk-table__cell">
						{% if user.first_name %}
							<a href="{% url 'users:user' user.id %}" class="govuk-link govuk-link--no-visited-state">
								{{ user.first_name }} {{ user.last_name }}
							</a>
						{% else %}
							<strong class="govuk-tag govuk-phase-banner__content__tag ">
								{% lcs 'Users.PENDING' %}
							</strong>
						{% endif %}
                    </td>
                    <td class="govuk-table__cell" id="{{ user.email }}">{{ user.email }}</td>
                    <td class="govuk-table__cell">
                        <a href="{% url 'teams:team' user.team.id %}" class="govuk-link govuk-link--no-visited-state">
                            {{ user.team.name }}
                        </a>
                    </td>
                    <td class="govuk-table__cell">{{ user.role.name }}</td>
                    <td class="govuk-table__cell">{{ user.status }}</td>
                    <td class="govuk-table__cell">
                        {% if super_user %}
                            <a href="{% url 'users:edit' user.id %}" class="govuk-link govuk-link--no-visited-state">
                                {% lcs 'USERS_LIST_PAGE_EDIT' %}
                            </a>
                        {% elif not user.role.name == 'Super User' %}
                            <a href="{% url 'users:edit' user.id %}" class="govuk-link govuk-link--no-visited-state">
                                {% lcs 'USERS_LIST_PAGE_EDIT' %}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

	{% include "includes/pagination.html" %}
{% endblock %}
