{% extends 'layouts/base.html' %}

{% block back-button %}{% endblock %}

{% block body %}

	<div class="lite-app-bar">
		<h1 class="govuk-heading-l">Users</h1>
		<div class="lite-app-bar--right">
			<a href="{% url 'users:add' %}" class="govuk-button" draggable="false" role="button">
				{% get_string 'users.invite' %}
			</a>
		</div>
	</div>

	<p class="govuk-caption-m" style="max-width: 600px;">
		{% get_string 'users.description' %}
	</p>

	<br>

    <table class="lite-table">
        <thead class="lite-table__head">
            <tr class="lite-table__row">
                <th class="lite-table__header" scope="col">Name</th>
                <th class="lite-table__header" scope="col">Email</th>
                <th class="lite-table__header" scope="col">Team</th>
                <th class="lite-table__header" scope="col">Status</th>
                <th class="lite-table__header" scope="col"></th>
            </tr>
        </thead>
        <tbody class="lite-table__body">
            {% for user in data.gov_users %}
                <tr class="lite-table__row" {% if not user.first_name %}style="background-color: rgba(40, 161, 151, 0.025);"{% endif %}>
                    <td class="lite-table__cell">
						{% if user.first_name %}
							<a href="{% url 'users:user' user.id %}" style="margin: 0;" class="govuk-link govuk-link--no-visited-state">
								{{ user.first_name }} {{ user.last_name }}
							</a>
						{% else %}
							<strong class="govuk-tag govuk-phase-banner__content__tag ">
								Pending
							</strong>
						{% endif %}
                    </td>
                    <td class="lite-table__cell">{{ user.email }}</td>
                    <td class="lite-table__cell">
                        <a href="{% url 'teams:team' user.team %}" style="margin: 0;" class="govuk-link govuk-link--no-visited-state">
                            {{ user.team_name }}
                        </a>
                    </td>
                    <td class="lite-table__cell">{{ user.status }}</td>
                    <td class="lite-table__cell">
                        <a href="{% url 'users:edit' user.id %}" style="margin: 0;" class="govuk-link govuk-link--no-visited-state">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
