{% extends 'layouts/full_width.html' %}

{% load svg %}

{% block back-link %}
	<a href="{% url 'users:users' %}" class="govuk-back-link">Back to Users</a>
{% endblock %}

{% block body %}

	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h1 class="govuk-heading-l">{{ title }}</h1>
			<p class="govuk-caption-m">
				{% get_string 'roles.description' %}
			</p>
		</div>
		<div class="lite-app-bar__controls">
			<a id="button_add_role" href="{% url 'users:add_role' %}" class="govuk-button" draggable="false" role="button">
				{% get_string 'roles.add.title' %}
			</a>
		</div>
	</div>

    <table class="lite-table">
        <thead class="lite-table__head">
            <tr class="lite-table__row">
                <th class="lite-table__header" scope="col">Role</th>
                <th class="lite-table__header" scope="col">Users with this role <span aria-hidden="true">can</span></th>
                <th class="lite-table__header" scope="col"></th>
            </tr>
        </thead>
        <tbody class="lite-table__body">
            {% for role in roles %}
                <tr class="lite-table__row">
                    <td class="lite-table__cell">
						{{ role.name }}
                    </td>
                    <td class="lite-table__cell">
						<ul class="lite-tick-cross-list">
							{% for permission in all_permissions %}
								<li>
									{% if permission.id in role.permissions %}
										<span class="lite-tick-cross lite-tick-cross--tick">
											{% svg 'tick' %}
											<span class="govuk-visually-hidden">Can</span>
											{{ permission.name }}
										</span>
									{% else %}
										<span class="lite-tick-cross lite-tick-cross--cross">
											{% svg 'cross' %}
											<span class="govuk-visually-hidden">Cannot</span>
											{{ permission.name }}
										</span>
									{% endif %}
								</li>
							{% endfor %}
						</ul>
					</td>
                    <td class="lite-table__cell">
						<a href="#" class="govuk-link govuk-link--no-visited-state">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
