{% extends 'layouts/base.html' %}

{% block back_link %}{% endblock %}

{% block body %}
	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h1 class="govuk-heading-l">
				{% block title %}
					{% lcs 'flags.FlagsList.TITLE' %}
				{% endblock %}
			</h1>
			<p class="govuk-caption-m">
				{% lcs 'flags.FlagsList.DESCRIPTION' %}
			</p>
		</div>
		<div class="lite-app-bar__controls">
			<a href="{% url 'flags:add' %}" class="govuk-button" draggable="false" role="button" id="add-a-flag-button">
				{% lcs 'flags.FlagsList.CREATE_BUTTON' %}
			</a>
		</div>
	</div>

	{% if data.flags %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">{% lcs 'flags.FlagsList.Table.NAME' %}</th>
					<th class="govuk-table__header" scope="col">{% lcs 'flags.FlagsList.Table.TEAM' %}</th>
					<th class="govuk-table__header" scope="col">{% lcs 'flags.FlagsList.Table.LEVEL' %}</th>
					<th class="govuk-table__header" scope="col">{% lcs 'flags.FlagsList.Table.STATUS' %}</th>
					<th class="govuk-table__header" scope="col">{% lcs 'flags.FlagsList.Table.ACTIONS' %}</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for flag in data.flags %}
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<a href="{% url 'flags:flag' flag.id %}" class="govuk-link govuk-link--no-visited-state">
								{{ flag.name }}
							</a>
						</td>
						<td class="govuk-table__cell">
							{{ flag.team.name }}
						</td>
						<td class="govuk-table__cell">
							{{ flag.level }}
						</td>
						<td class="govuk-table__cell">
							{{ flag.status }}
						</td>
						<td class="govuk-table__cell govuk-table__cell--tight">
							{% if user_data.user.team.id == flag.team.id %}
								<ul class="govuk-table__cell__actions-list">
									<li class="govuk-table__cell__actions-list-item">
										{% if flag.status == 'Active' %}
											<a href="{% url 'flags:change_status' flag.id 'deactivate' %}" role="button" draggable="false" class="govuk-link govuk-link--no-visited-state">{% lcs 'flags.FlagsList.Table.DEACTIVATE' %}</a>
										{% elif flag.status == 'Deactivated' %}
											<a href="{% url 'flags:change_status' flag.id 'reactivate' %}" role="button" draggable="false" class="govuk-link govuk-link--no-visited-state">{% lcs 'flags.FlagsList.Table.REACTIVATE' %}</a>
										{% endif %}
									</li>
									<li class="govuk-table__cell__actions-list-item">
										<a href="{% url 'flags:edit' flag.id %}" class="govuk-link govuk-link--no-visited-state">{% lcs 'flags.FlagsList.Table.EDIT' %}</a>
									</li>
								</ul>
							{% else %}
								{{ None|default_na }}
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		{% include "includes/notice.html" with text='flags.FlagsList.NO_CONTENT_NOTICE' %}
	{% endif %}
{% endblock %}
