{% extends 'layouts/base.html' %}

{% block back_link %}{% endblock %}

{% block body %}
	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h1 class="govuk-heading-l">{% lcs 'Flags.TITLE' %}</h1>
			<p class="govuk-caption-m">
				{% lcs 'Flags.DESCRIPTION' %}
			</p>
		</div>
		<div class="lite-app-bar__controls">
			<a href="{% url 'flags:add' %}" class="govuk-button" draggable="false" role="button" id="add-a-flag-button">
				{% lcs 'Flags.CREATE' %}
			</a>
		</div>
	</div>

	{% if status == 'active' or status == 'all' %}
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-one-third lite-filters">
				<div class="lite-filter-box">
					<h4 class="govuk-heading-s">Filter</h4>
					{% if status == 'active' %}
						<a href="{% url 'flags:flags' 'all' %}" class="govuk-button govuk-button--secondary" draggable="false" role="button">
							Include deactivated
						</a>
					{% elif status == 'all' %}
						<a href="{% url 'flags:flags' 'active' %}" class="govuk-button govuk-button--secondary" draggable="false" role="button">
							Hide deactivated
						</a>
					{% endif %}
				</div>
			</div>

		<div class="govuk-grid-column-two-thirds">
		{% endif %}

			{% if data.flags|length %}
				<table class="govuk-table">
					<thead class="govuk-table__head">
						<tr class="govuk-table__row">
							<th class="govuk-table__header" scope="col">Name</th>
							<th class="govuk-table__header" scope="col">Level</th>
							<th class="govuk-table__header" scope="col">Status</th>
							<th class="govuk-table__header" scope="col">Actions</th>
						</tr>
					</thead>
					<tbody class="govuk-table__body">
						{% for flag in data.flags %}
							<tr class="govuk-table__row">
								<td class="govuk-table__cell">
									<a href="{% url 'flags:flag' flag.id %}" class="govuk-link govuk-link--no-visited-state">
										{{ flag.name|default:"Untitled" }}
									</a>
									<p class="lite-hint">{{ flag.team.name }}</p>
								</td>
								<td class="govuk-table__cell">
									{{ flag.level }}
								</td>
								<td class="govuk-table__cell">
									{{ flag.status }}
								</td>
								<td class="govuk-table__cell">
									{% if user_data.user.team.id == flag.team.id %}
										{% if flag.status == 'Active' %}
											<a href="{% url 'flags:change_status' flag.id 'deactivate' %}" role="button" draggable="false" class="govuk-link govuk-link--no-visited-state govuk-!-margin-right-2">Deactivate</a>
										{% elif flag.status == 'Deactivated' %}
											<a href="{% url 'flags:change_status' flag.id 'reactivate' %}" role="button" draggable="false" class="govuk-link govuk-link--no-visited-state govuk-!-margin-right-2">Reactivate</a>
										{% endif %}
										<a href="{% url 'flags:edit' flag.id %}" class="govuk-link govuk-link--no-visited-state">Edit</a>
									{% else %}
										None
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<p class="govuk-caption-l">There are no registered flags at the moment.</p>
			{% endif %}

		{% if status == 'active' or status == 'all' %}
			</div>
		</div>
	{% endif %}
{% endblock %}
