.govuk-main-wrapper {
	padding: govuk-spacing(6) 0;
}

.app-template__case-body {
	.govuk-main-wrapper {
		padding-top: 0;
		min-height: 100vh;
	}
}

.lite-app-bar {
	margin-top: - govuk-spacing(6);
}
