$app-flag-red-foreground: govuk-colour("red");
$app-flag-red-background: govuk-tint(govuk-colour("red"), 35%);
$app-flag-yellow-foreground: govuk-colour("yellow");
$app-flag-yellow-background: govuk-tint(govuk-colour("yellow"), 35%);
$app-flag-green-foreground: govuk-colour("green");
$app-flag-green-background: govuk-tint(govuk-colour("green"), 35%);
$app-flag-blue-foreground: govuk-colour("blue");
$app-flag-blue-background: govuk-tint(govuk-colour("blue"), 35%);
$app-flag-purple-foreground: govuk-colour("purple");
$app-flag-purple-background: govuk-tint(govuk-colour("purple"), 35%);
$app-flag-orange-foreground: govuk-colour("orange");
$app-flag-orange-background: govuk-tint(govuk-colour("orange"), 35%);
$app-flag-brown-foreground: govuk-colour("brown");
$app-flag-brown-background: govuk-tint(govuk-colour("brown"), 35%);
$app-flag-turquoise-foreground: govuk-colour("turquoise");
$app-flag-turquoise-background: govuk-tint(govuk-colour("turquoise"), 35%);
$app-flag-pink-foreground: govuk-colour("pink");
$app-flag-pink-background: govuk-tint(govuk-colour("pink"), 35%);

.js-enabled {
	.app-radios--flag-colours {
		.govuk-radios__item {
			label {
				padding: 0;
				margin-right: govuk-spacing(2);

				span {
					display: none;
				}
			}
		}
	}
}

.app-radios--flag-colours {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom:  - govuk-spacing(3);

	.govuk-radios__item {
		margin-bottom: govuk-spacing(3);

		label {
			&::before {
				background: govuk-colour("dark-grey");
			}

			&::after {
				top: 8px;
				left: 8px;
				bottom: 8px;
				width: 20px;
				background: govuk-colour("white");
				border-color: govuk-colour("black");
				border-radius: 100%;
				border-width: 2px;
				height: auto;
			}
		}
	}

	.app-radios__item {
		&--red {
			label::before {
				background: $app-flag-red-foreground;
			}
		}

		&--yellow {
			label::before {
				background: $app-flag-yellow-foreground;
			}
		}

		&--green {
			label::before {
				background: $app-flag-green-foreground;
			}
		}

		&--blue {
			label::before {
				background: $app-flag-blue-foreground;
			}
		}

		&--purple {
			label::before {
				background: $app-flag-purple-foreground;
			}
		}

		&--orange {
			label::before {
				background: $app-flag-orange-foreground;
			}
		}

		&--brown {
			label::before {
				background: $app-flag-brown-foreground;
			}
		}

		&--turquoise {
			label::before {
				background: $app-flag-turquoise-foreground;
			}
		}

		&--pink {
			label::before {
				background: $app-flag-pink-foreground;
			}
		}
	}
}
