.govuk-table__caption {
	@include govuk-font($size: 27, $weight: bold);
	margin-bottom: govuk-spacing(3);
}

.govuk-table--middle-vertical-align {
	.govuk-table__header, .govuk-table__cell {
		vertical-align: middle;
	}
}

.govuk-table__row {
	.govuk-table__header, .govuk-table__cell {
		border-bottom: 2px solid govuk-shade(govuk-colour("white"), 10%);
	}
}
