{% include "filters.html" with filters=licences_filters%}

<table id="table-destinations-end-user" class="govuk-table">
	<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<th scope="col" class="govuk-table__header">Licence number</th>
			<th scope="col" class="govuk-table__header">Licence status</th>
			<th scope="col" class="govuk-table__header">Flags</th>
		</tr>
	</thead>
	<tbody class="govuk-table__body">
		{% for licence in licences %}
			<tr class="govuk-table__row">
				<td class="govuk-table__cell govuk-table__cell--tight">
					<a href="{% url 'cases:case' queue.id licence.id %}" class="govuk-link govuk-link--no-visited-state">
						{{ licence.reference_code }}
					</a>
				</td>
				<td class="govuk-table__cell govuk-table__cell--tight">
					{{ licence.status.value }}
				</td>
				<td class="govuk-table__cell govuk-table__cell--tight">
					{% include 'includes/flags.html' with flags=licence.flags list=True %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>


{% pagination %}
