<div class="app-case-summary">
	<dl class="govuk-summary-list govuk-summary-list--no-border">
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Exporter reference
			</dt>
			<dd class="govuk-summary-list__value">
				Application 123
			</dd>
			<dd class="govuk-summary-list__actions"></dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Submitted at
			</dt>
			<dd class="govuk-summary-list__value">
				13:12 5 April 2020
			</dd>
			<dd class="govuk-summary-list__actions"></dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Status
			</dt>
			<dd class="govuk-summary-list__value">
				Submitted
			</dd>
			<dd class="govuk-summary-list__actions">
				<a class="govuk-link govuk-link--no-visited-state" href="#">
					Change
				</a>
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Asssigned queues
			</dt>
			<dd class="govuk-summary-list__value">
				Assigned Queue #1
			</dd>
			<dd class="govuk-summary-list__actions">
				<a class="govuk-link govuk-link--no-visited-state" href="#">
					Change
				</a>
			</dd>
		</div>
	</dl>

	<dl class="govuk-summary-list govuk-summary-list--no-border">
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Type
			</dt>
			<dd class="govuk-summary-list__value">
				Standard Individual Export Licence
			</dd>
			<dd class="govuk-summary-list__actions"></dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Last updated
			</dt>
			<dd class="govuk-summary-list__value">
				13:17 6 April 2020
			</dd>
			<dd class="govuk-summary-list__actions"></dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Case officer
			</dt>
			<dd class="govuk-summary-list__value">
				Jessica Maxwell
			</dd>
			<dd class="govuk-summary-list__actions">
				<a class="govuk-link govuk-link--no-visited-state" href="#">
					Change
				</a>
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Assigned users
			</dt>
			<dd class="govuk-summary-list__value">
				Anthony Lord
			</dd>
			<dd class="govuk-summary-list__actions">
				<a class="govuk-link govuk-link--no-visited-state" href="#">
					Change
				</a>
			</dd>
		</div>
	</dl>
</div>

<div class="app-case-separator"></div>

{% include 'case/tabs/details/goods.html' %}

<div class="app-case-separator"></div>

{% include 'case/tabs/details/countries.html' %}

<div class="app-case-separator"></div>

<!-- End Use Details -->
<table class="govuk-table" id="end-use-details">
	<caption class="govuk-table__caption">End use details</caption>
	<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<th class="govuk-table__header">{% lcs 'cases.ApplicationPage.EndUseDetails.NUMBER_COLUMN' %}</th>
			<th class="govuk-table__header">{% lcs 'cases.ApplicationPage.EndUseDetails.DESCRIPTION_COLUMN' %}</th>
			<th class="govuk-table__header">{% lcs 'cases.ApplicationPage.EndUseDetails.ANSWER_COLUMN' %}</th>
		</tr>
	</thead>
	<tbody class="govuk-table__body">
		<tr class="govuk-table__row">
			<td class="govuk-table__cell govuk-table__cell--line-number">
				1.
			</td>
			<td class="govuk-table__cell govuk-!-font-weight-bold">
				{% lcs 'cases.ApplicationPage.EndUseDetails.INTENDED_END_USE_TITLE' %}
			</td>
			<td class="govuk-table__cell">
				{{ case.application.intended_end_use|default:"" }}
			</td>
		</tr>
		<tr class="govuk-table__row">
			<td class="govuk-table__cell govuk-table__cell--line-number">
				2.
			</td>
			<td class="govuk-table__cell govuk-!-font-weight-bold">
				{% lcs 'cases.ApplicationPage.EndUseDetails.INFORMED_TO_APPLY_TITLE' %}
			</td>
			<td class="govuk-table__cell">
				{{ case.application.is_military_end_use_controls|friendly_boolean }}<br>
				{{ case.application.military_end_use_controls_ref|default:"" }}
			</td>
		</tr>
		<tr class="govuk-table__row">
			<td class="govuk-table__cell govuk-table__cell--line-number">
				3.
			</td>
			<td class="govuk-table__cell govuk-!-font-weight-bold">
				{% lcs 'cases.ApplicationPage.EndUseDetails.INFORMED_WMD_TITLE' %}
			</td>
			<td class="govuk-table__cell">
				{{ case.application.is_informed_wmd|friendly_boolean }}<br>
				{{ case.application.informed_wmd_ref|default:"" }}
			</td>
		</tr>
		<tr class="govuk-table__row">
			<td class="govuk-table__cell govuk-table__cell--line-number">
				4.
			</td>
			<td class="govuk-table__cell govuk-!-font-weight-bold">
				{% lcs 'cases.ApplicationPage.EndUseDetails.SUSPECTED_WMD_TITLE' %}
			</td>
			<td class="govuk-table__cell">
				{{ case.application.is_suspected_wmd|friendly_boolean }}<br>
				{{ case.application.suspected_wmd_ref|default:"" }}
			</td>
		</tr>
	</tbody>
</table>

<!-- Temporary export details -->
{% if case.application.export_type.key == 'temporary' %}
	<div class="app-case-separator"></div>

	<table class="govuk-table" id="temporary-export-details">
		<caption class="govuk-table__caption">Export details</caption>
		<thead class="govuk-table__head">
			<tr class="govuk-table__row">
				<th class="govuk-table__header">{% lcs 'cases.ApplicationPage.TemporaryExportDetails.NUMBER_COLUMN' %}</th>
				<th class="govuk-table__header">{% lcs 'cases.ApplicationPage.TemporaryExportDetails.DESCRIPTION_COLUMN' %}</th>
				<th class="govuk-table__header">{% lcs 'cases.ApplicationPage.TemporaryExportDetails.ANSWER_COLUMN' %}</th>
			</tr>
		</thead>
		<tbody class="govuk-table__body">
			<tr class="govuk-table__row">
				<td class="govuk-table__cell govuk-table__cell--line-number">
					1.
				</td>
				<td class="govuk-table__cell govuk-!-font-weight-bold">
					{% lcs 'cases.ApplicationPage.TemporaryExportDetails.TEMPORARY_EXPORT_DETAILS_TITLE' %}
				</td>
				<td class="govuk-table__cell">
					{{ case.application.temp_export_details|default:"" }}
				</td>
			</tr>

			<tr class="govuk-table__row">
				<td class="govuk-table__cell govuk-table__cell--line-number">
					2
				</td>
				<td class="govuk-table__cell govuk-!-font-weight-bold">
					{% lcs 'cases.ApplicationPage.TemporaryExportDetails.PRODUCTS_UNDER_DIRECT_CONTROL_TITLE' %}
				</td>
				<td class="govuk-table__cell">
					{{ case.application.is_temp_direct_control|friendly_boolean }}<br>
					{{ case.application.temp_direct_control_details|default:"" }}
				</td>
			</tr>

			<tr class="govuk-table__row">
				<td class="govuk-table__cell govuk-table__cell--line-number">
					3.
				</td>
				<td class="govuk-table__cell govuk-!-font-weight-bold">
					{% lcs 'cases.ApplicationPage.TemporaryExportDetails.PROPOSED_RETURN_DATE_TITLE' %}
				</td>
				<td class="govuk-table__cell">
					{{ case.application.proposed_return_date|str_date_only }}<br>
				</td>
			</tr>
		</tbody>
	</table>
{% endif %}

<div class="app-case-separator"></div>

<!-- Route of goods -->
<table class="govuk-table" id="route-of-goods">
	<caption class="govuk-table__caption">Route of goods</caption>
	<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<th class="govuk-table__header">{% lcs 'cases.ApplicationPage.RouteOfGoods.DESCRIPTION_COLUMN' %}</th>
			<th class="govuk-table__header">{% lcs 'cases.ApplicationPage.RouteOfGoods.ANSWER_COLUMN' %}</th>
		</tr>
	</thead>
	<tbody class="govuk-table__body">
		<tr class="govuk-table__row">
			<td class="govuk-table__cell govuk-!-font-weight-bold">
				{% lcs 'cases.ApplicationPage.RouteOfGoods.SHIPPED_TITLE' %}
			</td>
			<td class="govuk-table__cell">
				{{ case.application.is_shipped_waybill_or_lading|friendly_boolean }} <br>
				{{ case.application.non_waybill_or_lading_route_details|default:"" }}
			</td>
		</tr>
	</tbody>
</table>

<div class="app-case-separator"></div>

{% include 'case/includes/other-documents.html' %}
