<dl class="app-case__summary-list">
	<div class="app-case__summary-list__row">
		<dt class="app-case__summary-list__key">
			Exporter reference
		</dt>
		<dd class="app-case__summary-list__value">
			{{ case.application.name }}
		</dd>
		<dd class="app-case__summary-list__actions"></dd>
	</div>
	<div class="app-case__summary-list__row">
		<dt class="app-case__summary-list__key">
			Submitted at
		</dt>
		<dd class="app-case__summary-list__value">
			{{ case.application.submitted_at|str_date }}
		</dd>
		<dd class="app-case__summary-list__actions"></dd>
	</div>
	<div class="app-case__summary-list__row">
		<dt class="app-case__summary-list__key">
			Status
		</dt>
		<dd class="app-case__summary-list__value">
			{{ case.application.status.value }}
		</dd>
		<dd class="app-case__summary-list__actions">
			{% if permissible_statuses %}
				{% if not status_is_terminal or 'REOPEN_CLOSED_CASES' in permissions %}
					<a class="govuk-link govuk-link--no-visited-state" href="{% url 'cases:manage' queue.id case.id %}">
						Change
					</a>
				{% endif %}
			{% endif %}
		</dd>
	</div>
	<div class="app-case__summary-list__row">
		<dt class="app-case__summary-list__key">
			Asssigned queues
		</dt>
		<dd class="app-case__summary-list__value">
			{% if case.queue_names %}
				<ol class="govuk-list">
					{% for queue_name in case.queue_names %}
						<li>{{ queue_name }}</li>
					{% endfor %}
				</ol>
			{% else %}
				<span class="govuk-hint govuk-!-margin-0">Not assigned to any queues</span>
			{% endif %}
		</dd>
		<dd class="app-case__summary-list__actions">
			<a class="govuk-link govuk-link--no-visited-state" href="{% url 'cases:move' queue.id case.id %}">
				Change
			</a>
		</dd>
	</div>
	<div class="app-case__summary-list__row">
		<dt class="app-case__summary-list__key">
			Type
		</dt>
		<dd class="app-case__summary-list__value">
			{{ case.case_type.reference.value }}
		</dd>
		<dd class="app-case__summary-list__actions"></dd>
	</div>
	<div class="app-case__summary-list__row">
		<dt class="app-case__summary-list__key">
			Last updated
		</dt>
		<dd class="app-case__summary-list__value">
			{{ case.application.updated_at|str_date }}
		</dd>
		<dd class="app-case__summary-list__actions"></dd>
	</div>
	<div class="app-case__summary-list__row">
		<dt class="app-case__summary-list__key">
			Case officer
		</dt>
		<dd class="app-case__summary-list__value">
			{% if case.case_officer %}
				<a class="govuk-link govuk-link--no-visited-state" href="{% url 'users:user' case.case_officer.id %}">{{ case.case_officer.first_name }} {{ case.case_officer.last_name }}</a>
			{% else %}
				<span class="govuk-hint govuk-!-margin-0">Not assigned</span>
			{% endif %}
		</dd>
		<dd class="app-case__summary-list__actions">
			<a class="govuk-link govuk-link--no-visited-state" href="{% url 'cases:case_officer' queue.id case.id %}">
				Change
			</a>
		</dd>
	</div>
	<div class="app-case__summary-list__row">
		<dt class="app-case__summary-list__key">
			Assigned users
		</dt>
		<dd class="app-case__summary-list__value">
			{% for queue_name, users in case.assigned_users.items %}
				<span class="govuk-label">{{ queue_name }}</span>
				<ol class="govuk-list">
					{% for user in users %}
						<li>
							<a href="{% url 'users:user' user.id %}?return_to={{ CURRENT_PATH }}" class="govuk-link govuk-link--no-visited-state">{{ user.first_name }} {{ user.last_name }}</a>
						</li>
					{% endfor %}
				</ol>
			{% empty %}
				<span class="govuk-hint">{% lcs 'cases.ApplicationPage.NO_USERS_ASSIGNED' %}</span>
			{% endfor %}
		</dd>
		<dd class="app-case__summary-list__actions">
			<a class="govuk-link govuk-link--no-visited-state" href="{% url 'cases:assign_user' queue.id case.id %}">
				Change
			</a>
		</dd>
	</div>
</dl>

<div class="app-case-separator"></div>

{% include 'case/tabs/details/goods.html' %}

<div class="app-case-separator"></div>

{% include 'case/tabs/details/countries.html' %}

<div class="app-case-separator"></div>

<!-- End Use Details -->
<table class="govuk-table" id="end-use-details">
	<caption class="govuk-table__caption">End use details</caption>
	<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<th class="govuk-table__header">{% lcs 'cases.ApplicationPage.EndUseDetails.NUMBER_COLUMN' %}</th>
			<th class="govuk-table__header">{% lcs 'cases.ApplicationPage.EndUseDetails.DESCRIPTION_COLUMN' %}</th>
			<th class="govuk-table__header">{% lcs 'cases.ApplicationPage.EndUseDetails.ANSWER_COLUMN' %}</th>
		</tr>
	</thead>
	<tbody class="govuk-table__body">
		<tr class="govuk-table__row">
			<td class="govuk-table__cell govuk-table__cell--line-number">
				1.
			</td>
			<td class="govuk-table__cell govuk-!-font-weight-bold">
				{% lcs 'cases.ApplicationPage.EndUseDetails.INTENDED_END_USE_TITLE' %}
			</td>
			<td class="govuk-table__cell">
				{{ case.application.intended_end_use|default:"" }}
			</td>
		</tr>
		<tr class="govuk-table__row">
			<td class="govuk-table__cell govuk-table__cell--line-number">
				2.
			</td>
			<td class="govuk-table__cell govuk-!-font-weight-bold">
				{% lcs 'cases.ApplicationPage.EndUseDetails.INFORMED_TO_APPLY_TITLE' %}
			</td>
			<td class="govuk-table__cell">
				{{ case.application.is_military_end_use_controls|friendly_boolean }}<br>
				{{ case.application.military_end_use_controls_ref|default:"" }}
			</td>
		</tr>
		<tr class="govuk-table__row">
			<td class="govuk-table__cell govuk-table__cell--line-number">
				3.
			</td>
			<td class="govuk-table__cell govuk-!-font-weight-bold">
				{% lcs 'cases.ApplicationPage.EndUseDetails.INFORMED_WMD_TITLE' %}
			</td>
			<td class="govuk-table__cell">
				{{ case.application.is_informed_wmd|friendly_boolean }}<br>
				{{ case.application.informed_wmd_ref|default:"" }}
			</td>
		</tr>
		<tr class="govuk-table__row">
			<td class="govuk-table__cell govuk-table__cell--line-number">
				4.
			</td>
			<td class="govuk-table__cell govuk-!-font-weight-bold">
				{% lcs 'cases.ApplicationPage.EndUseDetails.SUSPECTED_WMD_TITLE' %}
			</td>
			<td class="govuk-table__cell">
				{{ case.application.is_suspected_wmd|friendly_boolean }}<br>
				{{ case.application.suspected_wmd_ref|default:"" }}
			</td>
		</tr>
	</tbody>
</table>

<!-- Temporary export details -->
{% if case.application.export_type.key == 'temporary' %}
	<div class="app-case-separator"></div>

	<table class="govuk-table" id="temporary-export-details">
		<caption class="govuk-table__caption">Export details</caption>
		<thead class="govuk-table__head">
			<tr class="govuk-table__row">
				<th class="govuk-table__header">{% lcs 'cases.ApplicationPage.TemporaryExportDetails.NUMBER_COLUMN' %}</th>
				<th class="govuk-table__header">{% lcs 'cases.ApplicationPage.TemporaryExportDetails.DESCRIPTION_COLUMN' %}</th>
				<th class="govuk-table__header">{% lcs 'cases.ApplicationPage.TemporaryExportDetails.ANSWER_COLUMN' %}</th>
			</tr>
		</thead>
		<tbody class="govuk-table__body">
			<tr class="govuk-table__row">
				<td class="govuk-table__cell govuk-table__cell--line-number">
					1.
				</td>
				<td class="govuk-table__cell govuk-!-font-weight-bold">
					{% lcs 'cases.ApplicationPage.TemporaryExportDetails.TEMPORARY_EXPORT_DETAILS_TITLE' %}
				</td>
				<td class="govuk-table__cell">
					{{ case.application.temp_export_details|default:"" }}
				</td>
			</tr>

			<tr class="govuk-table__row">
				<td class="govuk-table__cell govuk-table__cell--line-number">
					2
				</td>
				<td class="govuk-table__cell govuk-!-font-weight-bold">
					{% lcs 'cases.ApplicationPage.TemporaryExportDetails.PRODUCTS_UNDER_DIRECT_CONTROL_TITLE' %}
				</td>
				<td class="govuk-table__cell">
					{{ case.application.is_temp_direct_control|friendly_boolean }}<br>
					{{ case.application.temp_direct_control_details|default:"" }}
				</td>
			</tr>

			<tr class="govuk-table__row">
				<td class="govuk-table__cell govuk-table__cell--line-number">
					3.
				</td>
				<td class="govuk-table__cell govuk-!-font-weight-bold">
					{% lcs 'cases.ApplicationPage.TemporaryExportDetails.PROPOSED_RETURN_DATE_TITLE' %}
				</td>
				<td class="govuk-table__cell">
					{{ case.application.proposed_return_date|str_date_only }}<br>
				</td>
			</tr>
		</tbody>
	</table>
{% endif %}

<div class="app-case-separator"></div>

<!-- Route of goods -->
<table class="govuk-table" id="route-of-goods">
	<caption class="govuk-table__caption">Route of goods</caption>
	<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<th class="govuk-table__header">{% lcs 'cases.ApplicationPage.RouteOfGoods.DESCRIPTION_COLUMN' %}</th>
			<th class="govuk-table__header">{% lcs 'cases.ApplicationPage.RouteOfGoods.ANSWER_COLUMN' %}</th>
		</tr>
	</thead>
	<tbody class="govuk-table__body">
		<tr class="govuk-table__row">
			<td class="govuk-table__cell govuk-!-font-weight-bold">
				{% lcs 'cases.ApplicationPage.RouteOfGoods.SHIPPED_TITLE' %}
			</td>
			<td class="govuk-table__cell">
				{{ case.application.is_shipped_waybill_or_lading|friendly_boolean }} <br>
				{{ case.application.non_waybill_or_lading_route_details|default:"" }}
			</td>
		</tr>
	</tbody>
</table>

<div class="app-case-separator"></div>

{% include 'case/includes/other-documents.html' %}
