{% make_list queue.id case.id as button_params %}
{% govuk_link_button id='new-query' text='cases.EcjuQueries.AddQuery.ADD_BUTTON_LABEL' url='cases:new_ecju_query' url_param=button_params %}


{% if open_ecju_queries %}
	<h3 class="govuk-heading-m">Open queries</h3>
	{% for ecju_query in open_ecju_queries %}
		<div class="app-ecju-query" id="open-ecju-query">
			<div class="app-ecju-query__item">
				<p class="app-ecju-query__heading">{{ ecju_query.raised_by_user_name }}</p>
				<div class="app-ecju-query__text">
					{{ ecju_query.question }}
				</div>
				<p class="app-ecju-query__date">
					<span class="govuk-visually-hidden">Created at </span>{{ ecju_query.created_at|str_date }}
				</p>
			</div>
		</div>
		<hr class="lite-horizontal-separator">
	{% endfor %}
{% endif %}

{% if closed_ecju_queries %}
	<h3 class="govuk-heading-m">Closed queries</h3>
	<p class="govuk-caption-m">Queries are automatically closed when the exporter responds to them.</p>
	<br><br>
	{% for ecju_query in closed_ecju_queries %}
		<div class="app-ecju-query" id="closed-ecju-query">
			<div class="app-ecju-query__item">
				<p class="app-ecju-query__heading">{{ ecju_query.raised_by_user_name }}</p>
				<div class="app-ecju-query__text">
					{{ ecju_query.question }}
				</div>
				<p class="app-ecju-query__date">
					<span class="govuk-visually-hidden">Created at </span>{{ ecju_query.created_at|str_date }}
				</p>
			</div>
			<div class="app-ecju-query__item app-ecju-query__item--right">
				<p class="app-ecju-query__heading">
					<a class="govuk-link govuk-link--no-visited-state">
						{{ ecju_query.responded_by_user_name }}
					</a>
				</p>
				<div class="app-ecju-query__text">
					{{ ecju_query.response }}
				</div>
				<p class="app-ecju-query__date">
					<span class="govuk-visually-hidden">Created at </span>{{ ecju_query.responded_at|str_date }}
				</p>
			</div>
		</div>
		<hr class="lite-horizontal-separator">
	{% endfor %}
{% endif %}

{% if not open_ecju_queries and not closed_ecju_queries %}
	{% include 'includes/notice.html' with text='cases.EcjuQueries.CASE_HAS_NO_QUERIES' %}
{% endif %}
