{% load static %}

<form id="form-final-advice" action="{% url 'cases:final_advice_view' queue.id case.id %}" method="post">
	{% csrf_token %}
</form>

<form action="{% url 'cases:give_advice' queue.id case.id 'final-advice' %}" method="get">
	<div class="app-advice_app-bar">
		<div class="lite-buttons-row {% if current_advice_level != 'final' %}app-advice__disabled-buttons{% endif %}">
			<button id="button-give-advice" name="action" value="give-advice" type="submit" class="govuk-button" data-module="govuk-button">
				{% lcs 'cases.ViewAdvicePage.Actions.GIVE_OR_CHANGE' %}
			</button>
			<button form="form-final-advice" id="button-clear-advice" name="action" value="delete" type="submit" class="govuk-button {% if not case.advice|filter_advice_by_level:'final' %}govuk-button--disabled{% endif %}" data-module="govuk-button">
				{% lcs 'cases.ViewAdvicePage.Actions.CLEAR' %}
			</button>
		</div>

		<div class="{% if current_advice_level != 'final' or blocking_flags %}app-advice__disabled-buttons{% endif %}">
			{% make_list queue.id case.id as button_params %}
			{% if case.application.case_type.sub_type.key == 'open' %}
				{% if case.application.goodstype_category.key == 'media' %}
					{% govuk_link_button id='finalise' text='cases.ViewAdvicePage.Actions.FINALISE' url='cases:finalise' url_param=button_params show_chevron=True %}
				{% else %}
					{% govuk_link_button id='finalise' text='cases.ViewAdvicePage.Actions.FINALISED_GOODS_AND_COUNTRIES' url='cases:finalise_goods_countries' url_param=button_params show_chevron=True %}
				{% endif %}
			{% else %}
				{% govuk_link_button id='finalise' text='cases.ViewAdvicePage.Actions.FINALISE' url='cases:finalise' url_param=button_params show_chevron=True %}
			{% endif %}
		</div>
	</div>

	{% if blocking_flags %}
		<div class="govuk-warning-text govuk-!-margin-0" id="warning-text-blocking-flags">
			<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
			<strong class="govuk-warning-text__text">
				<span class="govuk-warning-text__assistive">{% lcs 'cases.ViewAdvicePage.WarningBanner.HIDDEN_TEXT' %}</span>
				<p class="govuk-!-margin-top-0 govuk-!-margin-bottom-3">{% lcs 'cases.ViewAdvicePage.WarningBanner.BLOCKING_FLAGS' %}</p>
				{% include 'includes/flags.html' with flags=blocking_flags %}
			</strong>
		</div>
	{% endif %}

	{% include 'case/slices/goods.html' with hide_controls=True show_advice=True level='final' hide_checkboxes=current_advice_level|not_equals:'final' %}

	{% include 'case/slices/destinations.html' with hide_controls=True show_advice=True level='final' hide_checkboxes=current_advice_level|not_equals:'final' %}
</form>
