{% load static %}

<form id="form-final-advice" action="{% url 'cases:final_advice_view' queue.id case.id %}" method="post">
	{% csrf_token %}
</form>

<form action="{% url 'cases:give_advice' queue.id case.id 'final-advice' %}" method="get">
	<div class="app-advice_app-bar">
		<div class="lite-buttons-row {% if current_advice_level != 'final' %}app-advice__disabled-buttons{% endif %}">
			<div data-enable-on-checkboxes="#table-goods-final-advice, #table-destinations-final-advice" class="lite-buttons-row lite-!-display-inline">
				<button id="button-give-final-advice" name="action" value="give-advice" type="submit" class="govuk-button" data-module="govuk-button">
					{% lcs 'advice.FinalAdvicePage.GIVE_CHANGE_ADVICE_BUTTON' %}
				</button>
			</div>
			<button form="form-final-advice" id="button-clear-final-advice" name="action" value="delete" type="submit" class="govuk-button {% if not case.advice|filter_advice_by_level:'final' %}govuk-button--disabled{% endif %}" data-module="govuk-button">
				{% lcs 'advice.FinalAdvicePage.CLEAR_ADVICE_BUTTON' %}
			</button>
		</div>

		<div class="{% if not can_finalise %}app-advice__disabled-buttons{% endif %}">
			{% make_list queue.id case.id as button_params %}
			{% if case.application.case_type.sub_type.key == 'open' %}
				{% if is_case_oiel_final_advice_only %}
					{% govuk_link_button id='finalise' text='advice.FinalAdvicePage.FINALISE_BUTTON' url='cases:finalise' url_param=button_params show_chevron=True %}
				{% else %}
					{% govuk_link_button id='finalise' text='advice.FinalAdvicePage.FINALISED_GOODS_AND_COUNTRIES_BUTTON' url='cases:finalise_goods_countries' url_param=button_params show_chevron=True %}
				{% endif %}
			{% else %}
				{% govuk_link_button id='finalise' text='advice.FinalAdvicePage.FINALISE_BUTTON' url='cases:finalise' url_param=button_params show_chevron=True %}
			{% endif %}
		</div>
	</div>

	{% if blocking_flags %}
		<div class="govuk-warning-text govuk-!-margin-0" id="warning-text-blocking-flags">
			<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
			<strong class="govuk-warning-text__text">
				<span class="govuk-warning-text__assistive">{% lcs 'advice.FinalAdvicePage.WarningBanner.HIDDEN_ACCESSIBILITY_TEXT' %}</span>
				<p class="govuk-!-margin-top-0 govuk-!-margin-bottom-3">{% lcs 'advice.FinalAdvicePage.WarningBanner.BLOCKING_FLAGS' %}</p>
				{% include 'includes/flags.html' with flags=blocking_flags %}
			</strong>
		</div>
	{% endif %}

	{% include 'case/includes/advice.html' with level='final' %}
</form>
