{% load static %}

can_create_and_edit_advice: {{ can_create_and_edit_advice }}<br>
is_user_team: {{ is_user_team }}<br>
case.has_advice.final: {{ case.has_advice.final }}<br><br><br>

<form action="{% url 'cases:give_advice' queue.id case.id 'user-advice' %}" method="get">
	{% if can_create_and_edit_advice and is_user_team and not case.has_advice.final %}
		<div class="lite-buttons-row">
			<select id="select-team" name="team" class="govuk-select">
				{% for team_choice in teams %}
					<option value="{{ team_choice.id }}" {% if team_choice|key_in_array:team.id %}selected{% endif %}>{{ team_choice.name }}</option>
				{% endfor %}
			</select>
			{% if all_advice %}
				<button id="button-give-advice" name="action" value="give-advice" type="submit" class="govuk-button" data-module="govuk-button">
					{% lcs 'cases.ApplicationPage.ADVICE' %}
				</button>
				<button id="button-clear-advice" name="action" value="delete" type="submit" class="govuk-button" data-module="govuk-button">
					{% lcs 'CLEAR_ADVICE' %}
				</button>
			{% else %}
				{% if not status_is_terminal and case.has_advice.user %}
					<a class="govuk-button" href="{% url 'cases:coalesce_user_advice' queue.id case.id %}" class="lite-tabs__tab" id="combine_advice_button">
						{% lcs 'COMBINE_USER_ADVICE' %}
					</a>
				{% endif %}
			{% endif %}
		</div>
	{% endif %}

	{% include 'case/slices/goods.html' with hide_controls=True show_advice=True level='TeamAdvice' %}

	{% include 'case/slices/destinations.html' with hide_controls=True show_advice=True level='TeamAdvice' %}
</form>