{% load static svg %}

<form id="form-user-advice" action="{% url 'cases:coalesce_user_advice' queue.id case.id %}{{ CURRENT_PATH_ONLY_PARAMS }}" method="post">
	{% csrf_token %}
</form>

<form id="form-user-advice-container" action="{% url 'cases:give_advice' queue.id case.id 'user-advice' %}" method="get">
	{% hidden_field 'grouped-advice-view' request.GET|get:'grouped-advice-view' %}
	<div class="app-advice_app-bar">
		<div class="lite-buttons-row">
			{% if not request.GET|get:'grouped-advice-view' == 'True' %}
				<a href="?grouped-advice-view=True" class="govuk-button govuk-button--secondary app-button--icon">
					{% svg 'grouped-view' %}
					Grouped view
				</a>
			{% else %}
				<a href="?grouped-advice-view=False" class="govuk-button govuk-button--secondary app-button--icon">
					{% svg 'list-view' %}
					List view
				</a>
			{% endif %}
			<div data-enable-on-checkboxes="#form-user-advice-container" class="lite-!-display-inline lite-buttons-row {% if current_advice_level != 'user' %}app-advice__disabled-buttons{% endif %}">
				<button id="button-give-user-advice" type="submit" class="govuk-button" data-module="govuk-button">
					{% lcs 'advice.UserAdvicePage.GIVE_CHANGE_ADVICE_BUTTON' %}
				</button>
			</div>
		</div>
		<div class="{% if current_advice_level != 'user' or not case.advice|filter_advice_by_level:'user' %}app-advice__disabled-buttons{% endif %}">
			<button form="form-user-advice" id="button-combine-user-advice" type="submit" class="govuk-button" data-module="govuk-button">
				{% lcs 'advice.UserAdvicePage.CONTINUE_BUTTON' %}
				<svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="13" height="15" viewBox="0 0 33 43" aria-hidden="true" focusable="false">
					<path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
				</svg>
			</button>
		</div>
	</div>

	{% include 'case/includes/advice.html' with level='user' %}
</form>
