{% load static %}

<form id="form-user-advice" action="{% url 'cases:coalesce_user_advice' queue.id case.id %}" method="post">
	{% csrf_token %}
</form>

<form action="{% url 'cases:give_advice' queue.id case.id 'user-advice' %}" method="get">
	<div class="app-advice_app-bar">
		<div data-enable-on-checkboxes="#table-goods-user-advice, #table-destinations-user-advice" class="lite-buttons-row {% if current_advice_level != 'user' %}app-advice__disabled-buttons{% endif %}">
			<button id="button-give-advice" type="submit" class="govuk-button" data-module="govuk-button">
				{% lcs 'GIVE_OR_CHANGE_ADVICE' %}
			</button>
		</div>
		<div class="{% if current_advice_level != 'user' %}app-advice__disabled-buttons{% endif %}">
			<button form="form-user-advice" id="button-give-user-advice" type="submit" class="govuk-button" data-module="govuk-button">
				Combine all into team advice
				<svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="13" height="15" viewBox="0 0 33 43" aria-hidden="true" focusable="false">
					<path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
				</svg>
			</button>
		</div>
	</div>

	{% include 'case/slices/goods.html' with hide_controls=True show_advice=True level='user' hide_checkboxes=current_advice_level|not_equals:'user' %}

	{% include 'case/slices/destinations.html' with hide_controls=True show_advice=True level='user' hide_checkboxes=current_advice_level|not_equals:'user' %}
</form>
