{% extends 'layouts/popup.html' %}

{% block body %}
	<div class="lite-tabs__container">
		<div class="lite-tabs">
			<a href="#" id="tab-details" class="lite-tabs__tab lite-tabs__tab--selected">
				Details
			</a>
			<a href="#" id="tab-destinations" class="lite-tabs__tab">
				Destinations
			</a>
			<a href="#" id="tab-activity" class="lite-tabs__tab">
				Activity
			</a>
		</div>
	</div>
	<div id="panes">
		<div id="pane-details">
			<h1>
				{{ good.item_category.value }}
			</h1>
			<h2 class="app-popup__heading">Description</h2>
			<p class="app-popup__body" data-max-length="200">M6 x 70mm Stainless Steel Screws Socket Head Countersunk in A4 - ISO 10642</p>

			<h2 class="app-popup__heading">Value</h2>
			<p class="app-popup__body" data-max-length="200">1234.0 Metre(s), £1.21</p>

			<h2 class="app-popup__heading">Controlled</h2>
			<p class="app-popup__body" data-max-length="200">No</p>

			<h2 class="app-popup__heading">Incorporated</h2>
			<p class="app-popup__body" data-max-length="200">No</p>

			<h2 class="app-popup__heading">Document</h2>
			<p class="app-popup__body" data-max-length="200">M6 x 70mm Stainless Steel Screws Socket Head Countersunk in A4 - ISO 10642</p>

			<h2 class="app-popup__heading">Flags</h2>
			<p class="app-popup__body" data-max-length="200">No flags set</p>

			<h2 class="app-popup__heading">Status</h2>
			<p class="app-popup__body" data-max-length="200">Verified</p>

			<h2 class="app-popup__heading">ARS</h2>
			<p class="app-popup__body" data-max-length="200">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu enim ex. Cras blandit vehicula pharetra. Phasellus commodo nec lacus tristique rutrum. Donec in elementum neque. Nunc interdum ex vitae vulputate dictum. Praesent tincidunt erat elit, lobortis pulvinar leo semper id. Duis sollicitudin aliquam enim quis consequat. Vestibulum viverra at urna sed sodales. Quisque tincidunt placerat elit id euismod. Integer non odio mollis, ultrices odio facilisis, tristique arcu.</p>
		</div>
		<div id="pane-destinations" class="app-hidden">
			<table class="govuk-table">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header">Country</th>
						<th scope="col" class="govuk-table__header"></th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">United States</th>
						<td class="govuk-table__cell">
							<a href="{% url 'cases:destination' queue.id case.id case.id %}">View</a>
						</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Poland</th>
						<td class="govuk-table__cell">
							<a href="#" onclick="return openDestinationModal()">View</a>
						</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Saudi Arabia</th>
						<td class="govuk-table__cell">
							<a href="#" onclick="return openDestinationModal()">View</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="pane-activity" class="app-hidden">
			{% include 'includes/audit-trail.html' %}
		</div>
	</div>
	<script type="text/javascript">
		$(".lite-tabs__tab").click(function() {
			var paneId = "#pane-" + $(this).attr("id").substr(4);
			$(".lite-tabs__tab--selected").removeClass("lite-tabs__tab--selected");
			$(this).addClass("lite-tabs__tab--selected");
			$("#panes > div").hide();
			$(paneId).show();
		});
	</script>
{% endblock %}
