{% load svg %}

<table class="lite-accordian-table">
	<thead class="lite-accordian-table__head">
		<tr>
			<th class="lite-accordian-table__header" scope="col">Description</th>
			<th class="lite-accordian-table__header" scope="col">Control list entry</th>
			<th class="lite-accordian-table__header" scope="col">Countries</th>
			<th class="lite-accordian-table__header" scope="col">Is good controlled</th>
			<th class="lite-accordian-table__header" scope="col">Flags</th>
			<th class="lite-accordian-table__header" scope="col"></th>
		</tr>
	</thead>
	<tbody>
		{% for good in case.application.goods_types %}
			<tr class="lite-accordian-table__row">
				<td class="lite-accordian-table__cell">
					{% if show_checkboxes %}<div class="govuk-checkboxes--small govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" type="checkbox" name="goods" value="{{ good.id }}" id="{{ good.id }}"> {% endif %}
						<label class="govuk-label {% if show_checkboxes %}govuk-checkboxes__label{% endif %}" for="{{ good.id }}">{{ good.description }}</label>
						{% if show_checkboxes %}</div>{% endif %}
				</td>
				<td class="lite-accordian-table__cell">
					{% if good.control_code %}
					<span class="app-country-tag app-country-tag--orange">{{ good.control_code }}</span>
					{% else %}
					None
					{% endif %}
				</td>
				<td class="lite-accordian-table__cell">
					{% for country in good.countries %}
					<span class="app-country-tag">{{ country.id }}</span>
					{% empty %}
					{% for country in case.application.destinations.data %}
					<span class="app-country-tag">{{ country.id }}</span>
					{% endfor %}
					{% endfor %}
				</td>
				<td class="lite-accordian-table__cell">
					{% if good.is_good_controlled %}
					Yes
					{% else %}
					No
					{% endif %}
				</td>
				<td class="lite-accordian-table__cell">
					{% if good.flags %}
					{% for flag in good.flags %}
					{{ flag.name }}<br>
					{% endfor %}
					{% endif %}
				</td>
				<td class="lite-accordian-table__cell">
					<a onclick="return openTableFold(this);">
						{% svg 'chevron' %}
					</a>
				</td>
			</tr>
			<tr class="lite-accordian-table__fold">
				<td class="lite-accordian-table__fold-wrapper" colspan="7">
					<div class="lite-accordian-table__fold-content">
						<p class="govuk-body"><span>Description: </span>{{ good.description }}</p>

						<p class="govuk-body">Destinations: {% for country in good.countries %}
							<span class="app-country-tag">{{ country.name }}</span>
							{% empty %}
								{% for country in case.application.destinations.data %}
									<span class="app-country-tag">{{ country.name }}</span>
								{% endfor %}
						{% endfor %}</p>
					</div>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% block javascript %}
	<script nonce="{{ request.csp_nonce }}" type="text/javascript">
		function openTableFold(element) {
			$(element).parent().parent().toggleClass("open").next(".lite-accordian-table__fold").toggleClass("open");
			return false;
		}
	</script>
{% endblock %}
