<div class="lite-information-board">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			<div style="height: auto;">
				<h4 class="lite-heading-s">Applicant</h4>
				<a class="govuk-label govuk-link govuk-link--no-visited-state" href="{% url 'organisations:organisation' case.application.organisation.id %}">
					{{ case.application.organisation.name }}
				</a>
			</div>
		</div>
		<div class="govuk-grid-column-one-third">
			<div style="height: auto;">
				<h4 class="lite-heading-s">Activity</h4>
				<p class="govuk-label">
					{{ case.application.activity }}
				</p>
			</div>
		</div>
		<div class="govuk-grid-column-one-third">
			<div style="height: auto;">
				<h4 class="lite-heading-s">Created at</h4>
				<p class="govuk-label">
					{{ case.application.created_at|str_date }}
				</p>
			</div>
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			<div style="height: auto;">
				<h4 class="lite-heading-s">Reference Number</h4>
				<p class="govuk-label">
					{{ case.application.organisation.reference_number_on_information_form|default:'None' }}
				</p>
			</div>
		</div>
		<div class="govuk-grid-column-one-third">
			<div style="height: auto;">
				<h4 class="lite-heading-s">Licence Type</h4>
				<p class="govuk-label">
					{{ case.application.licence_type.value }}
				</p>
			</div>
		</div>
		<div class="govuk-grid-column-one-third">
			<div style="height: auto;">
				<h4 class="lite-heading-s">Status</h4>
				<p class="govuk-label">
					{{ case.application.status|sentence_case }}
				</p>
			</div>
		</div>
	</div>
</div>
