{% include 'cases/case/views/standard-goods.html' %}

{% if good.flags %}
    <div class="app-flags" id="application-good-flags">
        {% for flag in good.flags %}
            <div class="app-flag" id="{{ flag.name }}">
                {{ flag.name }}
            </div>
        {% endfor %}
    </div>
    <div class="govuk-form-group">
        <a class="govuk-link govuk-link--no-visited-state" href="{% url 'cases:assign_flags' case_id %}?level=goods&goods={{ good.id }}&origin=good">Edit goods flags</a>
    </div>
{% else %}
    <div class="govuk-form-group">
        <a class="govuk-link govuk-link--no-visited-state" href="{% url 'cases:assign_flags' case_id %}?level=goods&goods={{ good.id }}&origin=good">Set goods flags</a>
    </div>
{% endif %}

<div id="flags-modal" style="display: none;">
	{% include "cases/case/good_flags.html" %}
</div>
