<div class="app-wrappable-list">
	{% for country_group in case.application.destinations.data|group_list:4 %}
		<div class="app-wrappable-list__group govuk-checkboxes govuk-checkboxes--small">
			{% for country in country_group %}
				<div class="app-wrappable-list__item">
					{% if show_checkboxes %}<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" type="checkbox" name="cases" value="{{ case.id }}"> {% endif %}
						<label class="govuk-label {% if show_checkboxes %}govuk-checkboxes__label{% endif %}">{{ country.name }} <span class="app-country-label">{{ country.id }}</span></label>
					{% if show_checkboxes %}</div>{% endif %}
				</div>
			{% endfor %}
		</div>
	{% endfor %}
</div>
