{{ case }}

<table class="lite-table" id="goods">
	<thead class="lite-table__head">
		<tr class="lite-table__row">
			<th class="lite-table__header" scope="col"></th>
			<th class="lite-table__header" scope="col">Control List Entry</th>
			<th class="lite-table__header" scope="col">ARS Description</th>
			<th class="lite-table__header">Quantity/Value</th>
			<!-- <th class="lite-table__header" scope="col">Advice</th> -->
			<th class="lite-table__header" scope="col"></th>
			<th class="lite-table__header" scope="col">User</th>
		</tr>
	</thead>
	<tbody class="lite-table__body">
		{% for good in case.application.goods %}
		<tr class="lite-table__row">
			<td class="lite-table__cell">
				<div class="govuk-checkboxes govuk-checkboxes--small">
					<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" type="checkbox" name="cases" value="{{ case.id }}">
						<label class="govuk-label govuk-checkboxes__label"></label>
					</div>
				</div>
			</td>
			<td class="lite-table__cell">{{ good.good.control_code|default:'None' }}</td>
			<td class="lite-table__cell">Annual report summary 17</td>
			<td class="lite-table__cell">{{ good.quantity }} {{ good.unit }}/£{{ good.value }}</td>
			<!-- <td class="lite-table__cell"></td> -->
			<td class="lite-table__cell">
				<!-- <table>
					<tr>
						<td style="vertical-align: top">Proviso:</td>
						<td>This is a paragraph of proviso text advising about something but nothing in particular and everything. If you know how to read or even read this filler text please enjoy it because it is not lipsum orem</td>
					</tr>

					<tr>
						<td style="vertical-align: top">Note:</td>
						<td>This is a paragraph of note text</td>
					</tr>
				</table> -->
			</td>
			<td class="lite-table__cell"></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
