<h3 class="govuk-heading-m">Other Documents</h3>

	<table class="lite-table" id="other-documents">
		<thead class="lite-table__head">
			<tr class="lite-table__row">
				<th class="lite-table__header" scope="col">Name</th>
				<th class="lite-table__header" scope="col">Description</th>
                <th class="lite-table__header" scope="col">Document</th>
			</tr>
		</thead>
		<tbody class="lite-table__body">
        {%  for additional_document in case.application.additional_documents %}
            <tr class="lite-table__row">
                <td class="lite-table__cell">
                    {{ additional_document.name }}
                </td>
                <td class="lite-table__cell">
                    {{ additional_document.description }}
                </td>
                <td>
                    {% if additional_document.safe == True %}
                    <a class="govuk-link lite-link--icon govuk-link--no-visited-state" id="end_user_document" href="{% url 'cases:document' case.id additional_document.id %}">
                        <span class="govuk-visually-hidden">{% get_string 'cases.manage.documents.download_document' %}</span>
                        {{ additional_document.name }}<br>
                    </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
		</tbody>
	</table>


