<table class="lite-table" id="goods">
	<thead class="lite-table__head">
		<tr class="lite-table__row">
			<th class="lite-table__header" scope="col">
				<div class="govuk-checkboxes govuk-checkboxes--small">
					<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" type="checkbox" name="cases" value="{{ case.id }}">
						<label class="govuk-label govuk-checkboxes__label"></label>
					</div>
				</div>
			</th>
			<th class="lite-table__header" scope="col">Control List Entry</th>
			<th class="lite-table__header" scope="col">ARS Description</th>
			<th class="lite-table__header">Quantity/Value</th>
		</tr>
	</thead>
	<tbody class="lite-table__body">
		{% for good in case.application.goods %}
		<tr class="lite-table__row">
			<td class="lite-table__cell">
				<div class="govuk-checkboxes govuk-checkboxes--small">
					<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" type="checkbox" name="cases" value="{{ case.id }}">
						<label class="govuk-label govuk-checkboxes__label"></label>
					</div>
				</div>
			</td>
			<td class="lite-table__cell">{{ good.good.control_code|default:'None' }}</td>
			<td class="lite-table__cell">Annual report summary 17</td>
			<td class="lite-table__cell">{{ good.quantity }} {{ good.unit }}/£{{ good.value }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
