<h3 class="govuk-heading-m">Goods</h3>
<table class="govuk-table" id="goods">
	<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<!-- <th class="govuk-table__header" scope="col">
				<div class="govuk-checkboxes govuk-checkboxes--small">
					<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" type="checkbox" value="{{ case.id }}">
						<label class="govuk-label govuk-checkboxes__label"></label>
					</div>
				</div>
			</th> -->
            <th class="govuk-table__header" scope="col">Control List Entry</th>
			<th class="govuk-table__header" scope="col">Description</th>
            <th class="govuk-table__header">Quantity/Value</th>
			<th class="govuk-table__header">Documents</th>
            <th class="govuk-table__header">Flags</th>
			{% if show_advice %}
				<th class="govuk-table__header" style="width: 350px;">Advice</th>
			{% endif %}
		</tr>
	</thead>
	<tbody class="govuk-table__body">
		{% for good in case.application.goods %}
			<tr class="govuk-table__row">
                <td class="govuk-table__cell">
					<div class="govuk-checkboxes govuk-checkboxes--small">
						{% if show_checkboxes %}<div class="govuk-checkboxes__item">{% endif %}
							<input class="govuk-checkboxes__input" type="checkbox" name="goods" value="{{ good.good.id }}" id="{{ good.good.id }}">
							<label class="govuk-label {% if show_checkboxes %}govuk-checkboxes__label{% endif %}" for="{{ good.good.id }}">{{ good.good.control_code|default:'N/A' }}</label>
						{% if show_checkboxes %}</div>{% endif %}
					</div>
				</td>
                <td class="lite-table__cell">
                    <a class="govuk-link govuk-link--no-visited-state" href="{% url 'cases:good' case.id good.good.id %}">
                          {{ good.good.description }}
                      </a>
                </td>
				<td class="govuk-table__cell">{{ good.quantity }} {{ good.unit.value }}/£{{ good.value }}</td>
				<td class="govuk-table__cell">
				  {% for document in good.good.documents %}
					  {% if document.safe == True %}
						  <a class="govuk-link govuk-link--no-visited-state" id="good_document" href="{% url 'cases:document' case.id document.id %}">
							  <span class="govuk-visually-hidden">{% get_string 'cases.manage.documents.download_document' %}</span>
							  {{ document.name }}<br>
						  </a>
					  {% endif %}
				   {% endfor %}
                <td class="govuk-table__cell">
                    {% if good.good.flags %}
                        {% for flag in good.good.flags %}
                            {{ flag.name }}<br>
                        {% endfor %}
                    {% endif %}
                </td>
				{% if show_advice %}
					<td class="govuk-table__cell">
						{% for advice in all_advice %}
							{% if advice.good == good.good.id %}
								{% include 'cases/case/views/table-advice.html' %}
							{% endif %}
						{% endfor %}
					</td>
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>
