<div class="app-advice">
    <div class="app-advice__user">
        <p class="govuk-body-s">
            {{ advice.type.value }} advice by <a class="govuk-link govuk-link--no-visited-state" href="{% url 'users:user' advice.user.id %}">
                {{ advice.user.first_name }} {{ advice.user.last_name }} </a> at {{ advice.created_at|str_date }}:
        </p>
    </div>
    {% if advice.type.key == 'conflicting' %}
        <div class="govuk-form-group--error">
    {% else %}
        <div>
    {% endif %}
        <div class="app-advice__details">
            {% if advice.type.key == 'proviso' %}
                <p class="govuk-heading-s">Proviso</p>
                <p class="govuk-body-s">{{ advice.proviso|default:'N/A' }}</p>
            {% endif %}

            {% if advice.type.key == 'refuse' %}
                <p class="govuk-heading-s">Denial reasons</p>
                {% for denial_reason in advice.denial_reasons %}
                    <p class="govuk-body-s">{{ denial_reason }}</p>
                {% endfor %}
            {% endif %}

            {% if advice.type.key == 'conflicting' %}
                {% if advice.proviso|length %}
                    <p class="govuk-heading-s">Proviso</p>
                    <p class="govuk-body-s">{{ advice.proviso|default:'N/A' }}</p>
                {% endif %}
                {% if advice.denial_reasons|length %}
                <p class="govuk-heading-s">Denial reasons</p>
                    {% for denial_reason in advice.denial_reasons %}
                        <p class="govuk-body-s">{{ denial_reason }}</p>
                    {% endfor %}
                {% endif %}
            {% endif %}

            <p class="govuk-heading-s">Reason for this advice</p>
            <p class="govuk-body-s">{{ advice.text|default:'N/A' }}</p>

            <p class="govuk-heading-s">Note to applicant</p>
            <p class="govuk-body-s" style="margin-bottom: 0;">{{ advice.note|default:'N/A' }}</p>
        </div>
    </div>
</div>
